{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container mi-cuenta consultar-envios-container">
		<div class="row">
			<div class="col-md-4">
				{{ include('frontend/cuenta/common/links.html.twig', { 'activo': activo }) }}
			</div>
			<div class="col-md-8">
				<h1 class="title">Mi cuenta</h1>
				<h3 class="subtitle">Consulta tu envío</h3>
				<p class="description">Ingresá tu número de seguimiento y verificá la fecha de envío</p>
				<div class="form-container">
				{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'tracking'}}) }}
					{{form_row(form.tracking)}}
	                <div class="button-container">
		                <input type="submit" class="consultar blue-button" value="Consultar" class="blue-button" />
	                </div>
                {{ form_end(form) }}
				</div>
				<div>
					<ul class="tracking-information">
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/frontend/mi-cuenta/pedido-tracking.js') }}"></script>
{% endblock %}