{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container mi-cuenta datos-personales-container">
		<div class="row">
			<div class="col-md-4">
				{{ include('frontend/cuenta/common/links.html.twig', { 'activo': activo }) }}
			</div>
			<div class="col-md-8">
				<h1 class="title">Mi cuenta</h1>
				<h3 class="subtitle">Datos Personales</h3>
				<p class="description">Aquí podés modificar tu información personal</p>
				<div>
				{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
					{{form_row(form.telefono)}}
                {{ form_row(form.plainPassword.first) }} 
                {{ form_row(form.plainPassword.second) }} 				
                <div>
	                <input type="submit" value="Guardar" class="blue-button" />
                </div>
                {{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}