{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container mi-cuenta pedidos-container">
		<div class="row">
			<div class="col-md-4">
				{{ include('frontend/cuenta/common/links.html.twig', { 'activo': activo }) }}
			</div>
			<div class="col-md-8">
				<h1 class="title">Mi cuenta</h1>
				<h3 class="subtitle">Pedidos</h3>
				<p class="description">Aquí encontrarás el resumen de tus últimos pedidos</p>
				<div class="listado">
					{% for pedido in pedidos %}
						{% set subtotal = 0 %}
						<table>
							<thead>
								<tr>
									<th colspan="2">Pedido N° {{pedido.id}}</th>
									<th class="fecha" colspan="2">Fecha {{ pedido.fechaCreacion|date('d/m/Y') }}</th>
								</tr>
							</thead>
							<tbody>
								{% for item in pedido.items %}
									<tr class="item">
										<td class="img">
											{% if item.producto.getFirstImage %}
												<img src="{{ vich_uploader_asset(item.producto.getFirstImage, 'imagen_archivo') }}">
											{% else %}
												<img src="{{ asset('img/producto-placeholder.png') }}" alt="No hay una imagen disponible para este producto"/> 
											{% endif %}
										</td>
										<td class="nombre">
											<p class="producto">{{item.producto.nombre}}</p>
											<p class="codigo">Código {{ item.producto.codigoSku}}</p>
										</td>
										<td class="cantidad center">
											{{ item.cantidad }}
										</td>
										<td class="precio">
											<p>
												${{ (item.precio * item.cantidad)|number_format(2) }}
												{% set subtotal = subtotal + (item.precio * item.cantidad) %}
											</p>
										</td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td class="subtotal">
										<p class="sub">Subtotal</p>
									</td>
									<td class="precio precio-subtotal">
										<p>${{subtotal|number_format(2)}}</p>
									</td>
									<td colspan="3">
										<div class="pago-estado">
											{% if pedido.isPaid %}
												Pagado
											{% else %}
												<a href="{{pedido.paymentUrl}}">
													Pago Pendiente
												</a>
											{% endif %}
										</div>
										<div class="envio-estado">
											{% if pedido.isSent %}
												Enviado
											{% else %}
												No enviado
											{% endif %}
										</div>
										<div class="factura">
										{% if presenters[pedido.id].facturaIsProcessed %}
											<a href="{{path('frontend_cuenta_factura', { id: pedido.id })}}">Factura <span class="glyphicon glyphicon-save"></span></a>
										</div>
										{% endif %}
									</td>
								</tr>
								
								{% if not pedido.isPaid %}
									<tr>
										<td colspan="4">
										Si ya pagó el pedido, tenga en cuenta que la acreditación del pago puede demorar.
										</td>
									</tr>
								{% endif %}

							</tfoot>
						</table>
					{% else %}
						<p class="sin-pedidos">Aún no haz realizado ningún pedido</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}