/* LOOK AND FEEL GENERAL */

.pinataBlue {
    color: #01b8f2;
}
.container {
    width: 90%;
    margin-top: 20px;
}

.section-container {
    border-right: 3px solid #01b8f2;
    border-bottom: 3px solid #01b8f2;
    padding: 10px;
}

.checkout-data-title {
   font-weight: 600; 
   line-height: 27px;
   margin-bottom: 20px;
}

.round-step-icon {
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 20px;
    display: block;
    height: 25px;
    width: 25px;
    background-color: #01b8f2;
    line-height: 27px;
    text-align: center;
}

.round-step-number {
    color: white;
}

.step-title {
    margin-left: 10px;
}

.redBorder {
    border: 1px solid red;
}

/* LOGIN */


.mickeyLogin {
    display:none;
}

.loginContainer {
    text-align: center;
}

.field label{
    font-size: 14px;
    font-weight: 200;
    margin-right: 10px;
}

.field {
    margin-bottom: 10px;
}

.fieldPassword {
    margin-left: -25px;
}

.forgotten-password {
    font-size: 12px;
    color: #01b8f2;
}

.loginSubmit {
    margin-top: 10px;
    background: none repeat scroll 0 0 #28adf7;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
    text-align: center;
    border-radius: 10px;
}

.noAccount {
    margin-top: 20px;
    margin-bottom: 10px;
}

.registerLink {
    color: #01b8f2;
}

.fos_user_resetting_request {
    padding-top: 75px;
}

.blue-back-big {
    height: 600px;
}


/* REGISTER */

.registerContainer {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.termsLinkContainer {
    margin-top: 20px;
}

.terms-link {
    color: #01b8f2;
    font-size: 12px;
}

.registerSubmit {
    margin-top: 5px;
    background: none repeat scroll 0 0 #28adf7;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 10px;
}

.registerSubmitContainer {
    margin-bottom: 20px;
    width: 100%;
}

.loginLink {
    color: #01b8f2;
}

.alreadyAccount {
    margin-bottom: 10px;
}

/* USER GREETING */

.userGreetingContainer {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.helloUser {
    font-size: 18px;
}

.helloUsername {
    color: #01b8f2;
}



/* ENVIO */

.envioContainer {
    padding-left: 5%;
    padding-right: 5%;
}

.envioOptionLabel {
    font-weight: 200;    
    font-size: 15px;    
}

.envioFormsContainer {
    margin-top: 20px;
}

.envioFormsContainer label {
    font-size: 15px;
    font-weight: 200;
}

.envioFormsContainer input, .envioFormsContainer select {
    width: 100%;
}

.formEnvioRow {
    margin-bottom: 10px;
}

#envio_domicilio_form_piso {
    display: block;
}

.pickupMessage {
    margin-top: 20px;
}

.opciones-domicilio, .opciones-sucursal {
    margin-top: 10px;
}

.opciones-domicilio table, .opciones-sucursal table {
    width: 100%;
}

.opciones-domicilio th, .opciones-sucursal th{
    text-align: center;
}

.opciones-domicilio td, .opciones-sucursal td {
    line-height: 35px;
}

.sucursal-option-nombre {
    font-size: 10px;
}

.suc-info-title {
    font-size: 14px;
    margin-bottom: 10px;
    color: #01b8f2;
}

.suc-info-text {
    font-size: 12px;
}

.sucursal-option-direccion, .domicilio-radio-label, .promesaEnvio {
    font-size: 13px !important;
}

.clearEnvioForm {
    font-size: 12px;
    color: #01b8f2;
    margin-bottom: 20px;
}

.editarCarrito {
    font-size: 12px;
    color: #01b8f2;
    margin-bottom: 20px;
    margin-right: 15px;
    font-weight: 200;
}

.envioSubmit {
    margin-top: 15px;
    background: none repeat scroll 0 0 #28adf7;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.readyEnvio {
    font-size: 18px;    
}

/* PAGO */

.carrito-items {
    margin-bottom: 25px;
}

.producto-title {
    font-size: 12px;
    margin-top: 20px;
}

.producto-value {
    font-size: 12px;
    margin-top: 20px;
    font-weight: bold;
}

.producto-quantity {
    font-size: 12px;
    margin-top: 20px;
    margin-left: 10px;
}

.pago-data-container {
    padding-right: 20px;
    margin-bottom: 20px;
}

.compraEmptyCarritoContainer {
    padding-left: 5%;
    padding-right: 5%;
}

.productosTotalContainer {
    margin-bottom: 5px;
}

.envioTotalContainer {
    margin-bottom: 5px;
}

.descuentoTotalContainer {
    margin-bottom: 5px;
    margin-top: 10px;
}


.totalContainer {
    margin-top: 5px;
    margin-bottom: 20px;

}

.descuentoContainer {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.descuentoBox {
    border: 1px solid #01b8f2;
}

.descuentoLinkContainer {
    padding-top: 5px;
}

.descuentoLink {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: #01b8f2;
}

.descuentoPlus {
    font-size: 22px;
    color: #01b8f2;
    margin-right: 20px;
    margin-top: 5px;
}

.descuentoTipoLabel {
    font-weight: 200;
    display: inline-block !important;
}

.descuentoContent {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.descuento-codigo {
    width: 100%;
    margin-top: 10px;
}

.descuento-button {
    margin-top: 10px;
}

.descuento-message {
    color: #01b8f2;
    font-size: 12px;
    height: 20px;
    z-index: -200;
}

.descuento-monto {
    margin-left: -14px;
}

.error {
    color: red !important; 
    margin-left: 5px;
    margin-top: 5px;
}

.success {
    margin-left: 5px;
    margin-top: 5px;
}

.dniRequireContainer {
    border: 1px dotted #01b8f2;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.dniRequireContainer label {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 15px;
    font-weight: 200;
    color: #01b8f2;
}


.dniRequireContainer input {
    min-width: 70%;
}

.payment-container {
    padding-left: 20px;
    padding-right: 20px;
}

.blue-button {
    border-radius: 10px;
}

.validation-error {
    color: #C60B0B;
    font-size: 12px;
    margin-top: 5px;
}

.descuentoPinataFormContainer {
    margin-top: 10px;
}

#cartImage {
    margin: 0px!important;
}
