/* Mobile  */

@media (min-width: 320px) and (max-width: 480px) {
          
    .container {
        width: 100%;
    }

    .section-container {
        border-right: none;
    }

    .step-title {
        margin-left: 0px;
    }

    .round-step-icon {
        margin-left: 45%;
        margin-bottom: 10px;
    }

    .envio-data-container {
        margin-top: 10px;
    }

    .envioContainer {
        margin-bottom: 20px;
    }

    .pago-data-container {
        margin-top: 10px;
    }

    .descuentoLinkContainer {
        text-align: center;
    }

    .producto-title {
        margin-top: 0px;
    }

    .editarCarrito {
        display: block;
        margin-right: 0px;
    }

    .checkout-data-title {
        text-align: center;
    }

    .pago-data-titles {
        text-align: center;
    }

}

/* Laptop  */

@media (min-width: 1025px) and (max-width: 1500px) {
    .producto-title {
        margin-top: 0px !important;
    }
    
}
