/* Homepage */

.home-banner-container {
    width: 100%;
}

.banner-container .item{margin: 20px 10px }
@media (max-width: 768px) {
    .banner-container .item{
        margin: 0px 10px;
        padding: 20px 0;
    }
    .navbar-nav{
        margin-top: 0;
    }

    .categorias-container > ul > li{
        display: block;
        border-top: 2px solid #fff;
    }
}

.bannerx3 {
    width: 100%;
}

.banner-container .item img{margin: auto; }
.banner-container .row > div{padding: 0;}

.carousel-inner{ padding-bottom: 40px; }
.carousel-indicators{ bottom: 0; }
.carousel-indicators li{ background-color: #9E9E9E; border: 1px solid #9E9E9E;}
.carousel-indicators .active{ background-color: #9E9E9E; }

.navbar-toggle{float: left; margin-top: 0; margin-bottom: 0;}

.marquesina-footer {
    width:100%;
}
