/* Common CSS */

a, span, div, input, select, i, h1, h2, h3, h4, h5{font-family: "ABeeZee-Regular";} /* {font-family: "PlutoRegular";}*/

*{ outline: none }

a:hover, a:focus, a:visited{text-decoration: none; outline: none;}

.uppercase{ 
    text-transform: uppercase;
}

.modal-dialog{
    width: 60%;
}

.row.equal {
    display: flex;
    flex-wrap: wrap;
}

ul{ 
    list-style-type: none; 
    padding: 0; 
}
.center{ text-align: center; }


.blue-button{
    background-color: #28adf7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 1s ease;
    border: none;
    border: 1px solid;
}

.blue-button:visited{
    color: #fff;
}

.blue-button:hover{
    background-color: #fff;
    color: #28adf7;
}

/* Evito que se cargen todas las imagenes mostrandose. 
Una vez cargadas le pongo opacity 1 */
.personaje-img-container img{
    text-align: center !important;
    margin: auto !important;
}




/* Header */

.nav li.divider{ 
    padding: 12px 0;
}

.nav li.space{
    width: 50px;
}

.nav>li>a:hover{background-color: transparent;}

@media (min-width: 767px) {
    .login-register li>a {padding: 0}
    .login-register li {padding: 12px 5px}
    nav li.hidden-md-down{ display: none; }
}
@media (max-width: 767px) {
    .xs-center{
        text-align: center;
        margin: auto;
    }
}

a{color: #000; text-decoration: none;}
a:hover{cursor: pointer; text-decoration: none;}

.inline{display: inline-block;}

header#top{ margin: 0; }
header hr{ border-top: 3px solid #eee; margin-top: 10px;}

header .bienvenido{
    padding-right: 0;
}

header .username{
    color: #28adf7;
    cursor: default;
}

.buscador-container{
    display: inline-block;
    position: absolute;
    right: 160px;
    top: 26px;
}

.lupa{
    background: url(../../img/lupa.png) no-repeat -17px -10px;
    width: 35px;
    height: 35px;
    border: none;
    margin: 0 0 0 10px;
    vertical-align: -7px;
}

.buscador{
    font-style: italic;
    border: none; 
    font-size: 12px; 
    width: 250px;
    border-bottom: 2px solid #b8b8b8;
}

#cart {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
}



.buscador::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.5;
}
.buscador::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.5;
}
.buscador:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.5;
}
.buscador:-moz-placeholder { /* Firefox 18- */
  opacity: 0.5;
}

.buscador:focus{outline: none}

@media (max-width: 767px) {
    .buscador-container {
        right: 120px;
    }
    .buscador{
        width: 150px;
    }
}

@media (max-width: 500px){
   .buscador-container{
        top: 33px;
        right: 15px;
   }
   .carrito-container{
        top: 70px;
   }
   .buscador{
        width: 85px;
   }
    
}
@media (max-width: 330px){
    .buscador{
        width: 65px;
   }
}

.social-container{
    height: 60px;
}

.top-social{
    float: right;
    margin: 10px 0 0 0;
}

.top-social a{
    display: inline-block;
}

.top-social .fb-social{
    background: url(../../img/redes-hover.png) no-repeat -5px 0;
    background-size: 110px;
    width: 30px;
    height: 35px;
}

.top-social .inst-social{
    background: url(../../img/redes-hover.png) no-repeat -38px 0;
    background-size: 110px;
    width: 30px;
    height: 35px;
}

.top-social .yt-social{
    background: url(../../img/redes-hover.png) no-repeat -73px 0;
    background-size: 110px;
    width: 30px;
    height: 35px;
}

/* Modal Newsletter */



#subscribe-modal .modal-content{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#subscribe-modal .paper-background{
    background-image: url(../../img/paper-background.png);
    background-repeat: no-repeat;
    background-position: center; 
    width: 800px;
    height: 527px;
    background-size: 100%;
    display: inline-block;
}

#subscribe-modal .paper-background .form-subscribe-modal{
    margin-left: 20px;
}

#subscribe-modal .mickey{
    background-image: url(../../img/mickey-pinata.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 80%;
    position: absolute;
}

#subscribe-modal .modal-dialog{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}


#subscribe-modal .dismiss-container{
    position: relative;
    /*changed in cybermonday
    padding: 20% 10% 9% 20%;
    */
    padding: 17% 4% 13% 20%;
}

#subscribe-modal .dismiss-container button{
    color: #31251c;
    opacity: 1;
}

#subscribe-modal .welcome{
    color: #31251c;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
}

#subscribe-modal .title{
    color:  #28adf7;
    font-weight: bold;
    margin: 5px 0;
}

#subscribe-modal .text{
    color:  #0e0e0e;
    font-size: 16px;
}

#subscribe-modal .form-container .subscribe{
    border: none;
    font-size: 14px;
    margin: 10px -10px 0 28px;
    width: 80%;
    position: absolute;
    left: 0;
}

#subscribe-modal .form-container .rounded-white{
    background-color: #fff;
    border: none;
    border-radius: 25px;
    height: 40px;
    /*changed in cybermonday
    margin: 132px 16% 20px 10%;
*/
    margin: 132px 5% 10px 2%;
    position: relative;
    vertical-align: top;
}

#subscribe-modal .form-container {
    position: relative;
}

@media (min-width: 767px) {
    #subscribe-modal .form-container {
        /*changed in cybermonday
        padding: 7px 0 0 320px;
*/
        padding: 4px 0 0 408px;
    }
}

#subscribe-modal .form-container .error{
    position: absolute;
    top: 11px;
    left: 572px;
    width: 180px;
}
#subscribe-modal .subscribe-button{
    background-color: #e22128;
    color: #fff;
    padding: 10px 35px;
    border-radius: 25px;
    border: none;
    border: 1px solid;
    margin: 5px;
    border: none;
    margin-left: -20px;
}

@media (max-width: 767px) {

    #subscribe-modal .subscribe-button{
        margin: -4px;
        margin-left: -25px;
    }
}

/*
Cybermonday
#subscribe-modal .subscribe-button{
    background: rgba(32,128,217,1);
    background: -moz-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,128,217,1)), color-stop(22%, rgba(32,128,217,1)), color-stop(60%, rgba(124,49,181,1)), color-stop(100%, rgba(124,49,181,1)));
    background: -webkit-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: -o-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: -ms-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: linear-gradient(to right, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2080d9', endColorstr='#7c31b5', GradientType=1 );
    color: #fff;
    padding: 10px 35px;
    border-radius: 5px;
    border: none;
    border: 1px solid;
    margin: 5px;
    border: none;
    font-size: 18px;
    margin-left: -25px;
}
*/
#subscribe-modal .subscribe-success .text, footer .subscribe-success .text{
    color:  #28adf7;
    text-transform: uppercase;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

#subscribe-modal .text-container{
    font-size: 10px;
    text-align: center;
    width: 418px;
    margin: 7px 0 0 390px;
    /*added in cybermonday
    display: none;
*/
}

#subscribe-modal .text-container .subscribe-success {
    margin: 160px 0 0 0;
}

@media (max-width: 700px) {
    #subscribe-modal .mickey {
        width: 100%;
        margin-top: -32%;
    }

    #subscribe-modal .paper-background{
        background-image: url(../../img/paper-background-mobile.png);
        width: 100%;
        height: 450px;
    }

    #subscribe-modal .modal-dialog {
        min-width: auto;
        width: 100%;
    }

    #subscribe-modal .text-container {
        font-size: 9px;
        width: 100%;
        margin: 7px 0 0 0;
        font-size: 11px;
    }

    #subscribe-modal .text-container .subscribe-success {
        margin: 140px 0px 0px 0px;
    }

    #subscribe-modal .dismiss-container {
        padding: 26% 10% 9% 20%;
    }

    #subscribe-modal .form-container .rounded-white {
        margin: 128px 12% 17px 3%;
    }
}



footer .subscribe-success .text{
    font-size: 16px;
    margin: 0px 20px 0 0
    vertical-align: middle;
}

footer .subscribe-success{
    margin-top: 20px;
}

#subscribe-modal .mickey-wink, footer .mickey-wink{
    background-image: url(../../img/mickey-wink.png);
    background-repeat: no-repeat;
    background-position: center; 
    width: 80px;
    height: 75px;
    vertical-align: middle;
}




/* Carousel Banners */
.carousel-control,.carousel-control:focus, .carousel-control:hover{
    background-image: none !important;
}

/* Carousel Personajes */


/* Listado Categorias */


/* Listado y filtro de productos */

.filter-title{
    padding: 0 0 5px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 0;
    font-family: 'PlutoRegular';
    font-size: 16px;
    font-weight: bold;
    width: 130px;
}

.img-center{ 
    display: block; 
    margin: auto; 
    text-align: center; 
}

.productos-container{
    margin-top: 30px;
    margin-bottom: 50px;
}

.sub-categoria{
    margin-left: 20px;
}

.producto-filter-form .caret{ color: #28adf7; }
.dropdown-filter label:hover{ cursor: pointer; }
.dropdown-filter span.caret:hove{ cursor: pointer; }

.producto-filter-form ul{margin: 0;}
.producto-filter-form .filter-container{margin-bottom: 20px;}

input[type=checkbox].round-checkbox, input[type=radio].radio-blue {
    position:absolute; z-index:-1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

input[type=checkbox].round-checkbox + label.round-checkbox-label, input[type=radio].radio-blue + label.radio-blue-label {
    padding-left:20px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox].round-checkbox:checked + label.round-checkbox-label, input[type=radio].radio-blue:checked + label.radio-blue-label {
    background-position: 0 -15px;
}
label.round-checkbox-label, label.radio-blue-label {
    background-image:url(/img/round_checkbox.png);
    background-size: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.precio{
    margin: 10px 10px 10px 0;
}

.precio-tachado{ 
    text-decoration: line-through ; 
    text-decoration-color: rgb(51,51,51); 
}

.precio-oferta{ color: #28adf7 }

/*
.agregar-carrito{
    background: none repeat scroll 0 0 transparent;
    background-color: #28adf7;
    border: medium none;
    border-spacing: 0;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    background-image: url('../../img/carrito-white.png');
    background-repeat: no-repeat;
    background-size: 40px;
    padding: 12px 15px 12px 45px;
    background-position: 8px 2px;
    margin: 10px 0 0 0;
}
*/

.agregar-carritoDetalle{
    /*
    background: rgba(32,128,217,1);
    background: -moz-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,128,217,1)), color-stop(22%, rgba(32,128,217,1)), color-stop(60%, rgba(124,49,181,1)), color-stop(100%, rgba(124,49,181,1)));
    background: -webkit-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: -o-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: -ms-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: linear-gradient(to right, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2080d9', endColorstr='#7c31b5', GradientType=1 );
    */
    background-color: #e22128;
    width: 160px;
    border: medium none;
    border-spacing: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.42rem;
    list-style: none outside none;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    padding: 12px 40px 12px 40px;
}

.agregar-carritoItem{
    /*
    background: rgba(32,128,217,1);
    background: -moz-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,128,217,1)), color-stop(22%, rgba(32,128,217,1)), color-stop(60%, rgba(124,49,181,1)), color-stop(100%, rgba(124,49,181,1)));
    background: -webkit-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: -o-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: -ms-linear-gradient(left, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    background: linear-gradient(to right, rgba(32,128,217,1) 0%, rgba(32,128,217,1) 22%, rgba(124,49,181,1) 60%, rgba(124,49,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2080d9', endColorstr='#7c31b5', GradientType=1 );
    */
    background-color: #e22128;
    width: 140px;
    border: medium none;
    border-spacing: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.42rem;
    list-style: none outside none;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    padding: 12px 30px 12px 30px;
    margin-top: 10px;
}

.ver-detalle{
    background: none repeat scroll 0 0 transparent;
    background-color: #28adf7;
    border: medium none;
    border-spacing: 0;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 5.42rem;
    list-style: none outside none;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-indent: 0;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 40px;
    padding: 12px 15px 12px 15px;
    background-position: 8px 2px;
    margin: 10px 0 0 0;
    /*width: 100%;*/
}
.detalle-producto .agregar-carrito{
    width: initial;
}

.productos-container .item{padding: 0 15px;}
.productos-container .item a:hover{ 
    text-decoration: none;
    /*color: rgb(51,51,51);*/
    color: initial;
 }

.productos-container .item .nombre{ 
    font-size: 20px; 
    font-family: 'PlutoRegular';
    font-weight: bold;
    line-height: 20px;
    margin: 7px 0;
}

.productos-container .item .categoria{
    font-size: 16px;
    line-height: 8px;
}

.productos-container .item .codigo{ 
    font-size: 10px;
    font-style: italic; 
    line-height: 8px;
    margin: 0;
}
.productos-container .item .precio{ 
    font-size: 20px; 
    color: #28adf7;
    margin: 5px 5px 0 0;
}

.productos-container .item .precio-oferta{ 
    font-size: 24px; 
    color: #28adf7;
}

@media (max-width: 767px) {
    .productos-container .item{text-align: center;}
}

.productos-container .item-detail-container{
    padding: 25px 25px 15px 25px;
}
.productos-container .item-detail-container:hover{
    background-color: #eaeaec;
    border-radius: 20px;
}

.productos-container .item .sale{ 
    background-image: url(/img/round-sale.png);
    width: 77px;
    height: 80px;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
}
.productos-container .item .circulo { 
    width: 77px;
    height: 80px;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
}
.productos-container .item .circulo-10 { 
    background-image: url(/img/descuentos/circulo-10.png);
}
.productos-container .item .circulo-15 { 
    background-image: url(/img/descuentos/circulo-15.png);
}
.productos-container .item .circulo-20 { 
    background-image: url(/img/descuentos/circulo-20.png);
}
.productos-container .item .circulo-25 { 
    background-image: url(/img/descuentos/circulo-25.png);
}
.productos-container .item .circulo-30 { 
    background-image: url(/img/descuentos/circulo-30.png);
}
.productos-container .item .circulo-40 { 
    background-image: url(/img/descuentos/circulo-40.png);
}
.productos-container .item .circulo-50 { 
    background-image: url(/img/descuentos/circulo-50.png);
}
.productos-container .item .circulo-60 { 
    background-image: url(/img/descuentos/circulo-60.png);
}
.productos-container .item .circulo-70 { 
    background-image: url(/img/descuentos/circulo-70.png);
}
.productos-container .item .circulo-comodin { 
    background-image: url(/img/descuentos/circulo-comodin.png);
}
.productos-container .item .novedad{ 
    background-image: url('/img/round-new.png');
    width: 77px;
    height: 80px;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
}

/* Detalle de Producto */
.detalle-producto{
    margin-top: 65px;
}

.detalle-producto .img-producto{
    cursor: pointer;
    border: solid 1px;
    border-color: rgb(238, 238, 238);
}

.detalle-producto .img-producto:hover{
    border: 1px solid;
    border-color: #28adf7;
}

.detalle-producto .imagenes-container{
    margin-top: 15px;
}

.detalle-producto .categoria{
    font-size: 40px;
    color: #28adf7;
    margin: 0 0 -15px 0;
}

.detalle-producto .personaje{ 
    display: none;
}

.detalle-producto .nombre{
    font-size: 44px;
    line-height: 48px;
    margin: 15px 0 15px 0;
}

.detalle-producto .precio{ color: #28adf7; font-size: 32px; margin: 0 }
.detalle-producto .precio-tachado{
    text-decoration: line-through ; 
    text-decoration-color: #000;
    margin: 0 0 -15px 0;
}
.detalle-producto .precio-oferta{ font-size: 40px }
.detalle-producto .codigo{ font-style: italic; font-size: 12px; }
.detalle-producto .agregar-carrito-container{ margin: 40px 0 0 0; }
.detalle-producto .agregar-carrito-container label{ font-size: 20px; font-weight: normal; }
.detalle-producto .agregar-carrito-container input{ font-size: 20px }
.detalle-producto .agregar-carrito-container .agregar-carrito{ margin: 20px 0 0 0; }
.detalle-producto .sobre-este-producto{color: #28adf7; font-size: 32px; margin: 40px 0 20px 0;}
.detalle-producto .no-stock{ 
    font-size: 32px; 
    color: #28adf7; 
    font-style: italic; 
}
.detalle-producto .error{
    margin: 10px 0 0 0; 
    color: #e00000;
}

.detalle-producto .success{
    margin: 10px 0 0 0; 
    color: #28adf7;
}

.detalle-producto input[type='number'],
.checkout-carrito input[type='number']{
    -moz-appearance:textfield;
}

.detalle-producto input[type='number']::-webkit-outer-spin-button,
.detalle-producto input[type='number']::-webkit-inner-spin-button,
.checkout-carrito input[type='number']::-webkit-outer-spin-button,
.checkout-carrito input[type='number']::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.detalle-producto .cantidad-arrows, .checkout-carrito .cantidad-arrows{ 
    width: 25px; 
    height: 30px; 
    vertical-align: middle;
    margin: -10px 0 0 0;
}
.detalle-producto .arrow-up, .checkout-carrito .arrow-up {
    background: url('/img/number_input_arrows.png') no-repeat 0 -3px;  
    display: block;
    width: 100%;
    height: 50%;
    cursor: pointer;
}
.detalle-producto .arrow-down, .checkout-carrito .arrow-down {
    background: url('/img/number_input_arrows.png') no-repeat 0 -15px;  
    display: block;
    width: 100%;
    height: 50%;
    cursor: pointer;
}
.detalle-producto input.cantidad, .checkout-carrito input.cantidad {
    border:none;
    text-align: right;
    outline: none;
}

.detalle-producto .cotizaciones{
    transition: all 1s ease;
    height: 125px;
    border-bottom: 1px solid #eee;
}

.detalle-producto .cotizaciones p{
    margin: 2px 0;
}

.detalle-producto .costo-envio-container{
    margin: 20px 0 0 0;
}
.detalle-producto .costo-envio-container .title{
    font-size: 16px;
    font-weight: bold;
}

.detalle-producto .costo-envio-container select{
    background: transparent;
    border: none;
    outline: none;
    color: #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 260px !important;
    margin: 5px 0 10px 10px;
}

.detalle-producto .costo-envio-container select option{
    border:none;
    color: #28adf7;
    margin: 5px 0 10px 10px;
}

.detalle-producto .costo-envio-container input[type='text']{
    width: 123px !important;
    margin-left: 10px;
}

.detalle-producto .costo-envio-container input[type='submit']{
    background-color: #fff;
    color: #28adf7;
    padding: 5px 20px;
}

/* Login/Registracion */

.login-container h1{ 
    color: #28adf7; 
    font-style: italic;
}

.login-container input[type="text"], 
.login-container input[type="password"],
.login-container input[type="email"],
.checkout-pago .payment-dni,
.checkout-pago .descuento-codigo,
.static-consulta input[type="text"],
.static-consulta input[type="email"],
.mi-cuenta input[type="text"], 
.mi-cuenta input[type="password"],
.mi-cuenta input[type="email"],
.detalle-producto .costo-envio-container select,
.detalle-producto .costo-envio-container input[type='text']{
    border:none;
    width: 100%;
    padding: 0 0 3px 0;
    outline: none;
    font-style: italic;
    border-bottom: 1px solid #ccc;
}

.checkout-pago .descuento-codigo{
    width: initial;
}

.checkout-pago .descuento-codigo:focus{
    border-bottom: 1px solid #28adf7;
}

.checkout-pago .descuento-container{
    height: 120px;
    padding: 10px 0 0 0;
    vertical-align: bottom;
}

.descuentoTipoContainer {
    padding-left: 3%;
}

.descuentoTipoLabel {
    font-size: 18px;
}

.checkout-pago .descuento-button{
    font-size: 16px;
    padding: 10px 15px;
}

.login-container input{
    margin: 0;
}

.login-container .field{
    margin: 0 0 20px 0;
}

.login-container label{
    font-style: italic;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    color: #ccc;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #ccc;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: #ccc;
} 

.login-container .fecha-nacimiento{
    text-align: right;
}
.login-container .fecha-nacimiento select{
    background: transparent;
    border: none;
    background: url('/img/number_input_arrows.png') no-repeat 0 -15px;
    outline: none;
    color: #ccc;
}

.login-container .fecha-nacimiento select.day{
    width: 45px;
    background-position: 17px -15px;
}

.login-container .fecha-nacimiento select.month{
    width: 45px;
    background-position: 23px -15px;
}

.login-container .fecha-nacimiento select.year{
    width: 45px;
    background-position: 22px -15px;
}
.login-container .fecha-nacimiento select{
    -webkit-appearance: none;
    -moz-appearance: none;
}

.login-container .fecha-nacimiento select::-ms-expand {
    display: none;
}

.login-container select option{
    border:none;
    color: #28adf7;
}

.login-container input[type="submit"]{
    font-style: italic;
    background: none repeat scroll 0 0 transparent;
    background-color: #28adf7;
    border: medium none;
    border-spacing: 0;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
}


.validation-error-container{
    margin: 5px 0  0 0;
    color: #28adf7;
}

.login-container .terms-checkbox {
    display:none;
}

.login-container .terms-checkbox + label{
    background:url('../../img/check-box.png') no-repeat 0 0;
    display:inline-block;
    padding: 1px 0 0 25px;
    background-size: 20px;
}

.login-container .terms-checkbox:checked + label{
    background:url('../../img/check-box.png') no-repeat 0 -20px;
    display:inline-block;
    padding: 1px 0 0 25px;
    background-size: 20px;
}

.login-container .terms-link{
    font-style: italic;
    font-size: 16px;
    margin: 0 0 20px 0;
    display: block;
}

.login-container .forgotten-password{
    font-style: italic;
    font-size: 16px;
    color: #28adf7;
    display: block;
    margin: 0 0 20px 0;
}

.login-container{
    margin-top: 40px;
}

.login-container .error{
    margin: 5px 0;
    color: #28adf7;
}

/* Confirmar cuenta mail activacion */
.confirm-mail, .confirmed-mail {
    margin: auto;
    text-align: center;
}

.dory-yellow-background{
    background: url(../../img/dory-yellow.png) no-repeat;
    background-size: 100%;
    width: 75%;
    height: 550px;
    text-align: center;
    margin: auto;
    padding: 15% 3% 8% 30%;
    margin-top: 40px;
}

.confirm-mail h1{
    color: #fff;
    width: 100%;
    font-size: 2.2em;
}

.confirm-mail p{
    width: 100%;
    margin: 35px 0;
    font-size: 1.4em;
}

@media (min-width: 512px) and  (max-width: 767px) {
    .confirm-mail h1{ font-size: 26px; }
    .confirm-mail p{font-size: 14px; margin: 0;}
    .dory-yellow-background{
        width: 100%;
        padding: 18% 5% 8% 35%;
    }
}

@media (max-width: 512px) {
    .confirm-mail h1{ font-size: 22px; }
    .confirm-mail p{font-size: 12px; margin: 0;}
    .dory-yellow-background{
        width: 100%;
        padding: 18% 5% 8% 35%;
    }
}

/* Cuenta/reset Confirmada/o */
.background{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    height: 100%;
}

.blue-back-big{background: url(../../img/blue-back-big.png) no-repeat;}
.yellow-back-big{background: url(../../img/yellow-back-big.png) no-repeat;}

.blue-back-small{
    background: url(../../img/blue-back-small.png) no-repeat;
    max-width: 75%;
    background-size: 100%;
    min-height: 350px;
    background-position-y: 50%;
}

@media(max-width: 1024px){
    .blue-back-small{max-width: 100%;}
}



/*.happy-dory-nemo{background: url(../../img/happy-dory-nemo.png) no-repeat;}
*/
.flex-center-vertically{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.confirmed-mail .text{
    margin: 0px 0px 0px -70px
}
.confirmed-mail p{
    font-size: 25px;
    font-style: italic;
    color: #fff;
    margin: 15px 0 25px 0;
}
.confirmed-mail a{
    font-size: 20px;
}
@media(min-width: 500px) and (max-width: 680px){
    .confirmed-mail p{font-size: 20px; margin: 70px 0 25px 0}
    .confirmed-mail a{ font-size: 18px;}
}

.link-button{
    background: none repeat scroll 0 0 transparent;
    background-color: #fff;
    border: medium none;
    border-spacing: 0;
    color: #28adf7;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
}

/* Modal password ovlidados*/
.forgotten-password-modal .blue-back-big,.forgotten-password-modal .yellow-back-big{
    height: 550px;
    background-size: 100%;
}

.forgotten-password-modal img{
    width: 100%;
    margin: 20% 0 0 -20%;
}

.forgotten-password-modal .dory-thinking{
    background: url(../../img/dory-thinking.png) no-repeat 0 50px;
    height: 120%;
    background-size: 43%;
    margin: 0 0 0 -45px;
}



.forgotten-password-modal .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.modal-backdrop {
   background-color: #fff;
}

.forgotten-password-modal .relative{
    position: relative;
    width: 100%;
    height: 100%;
}

.forgotten-password-modal .right-content{
    position: absolute;
    width: 60%;
    right: 55px;
    top:205px;
}

.forgotten-password-modal .right-content h1{
    font-size: 40px;
    color: #fff;
    font-style: italic;
    text-align: center;
}

.forgotten-password-modal .email-reset-container{
    margin: 20px 10%;
}

.forgotten-password-modal .email-reset-container p{
    font-size: 20px;
}

.forgotten-password-modal .close{
    background: url(../../img/white-x.png) no-repeat 0 0;
    background-size: 20px;
    width: 100%;
    right: 0;
    position: absolute;
    text-align: right;
    height: 20px;
    width: 20px;
    opacity: 1;
}

.forgotten-password-modal .email-reset-container input[type="text"]{
    margin: 30px 0 0 0;
    border:none;
    width: 100%;
    padding: 0 0 3px 0;
    outline: none;
    font-style: italic;
    border-bottom: 1px solid #000;
    color: #000 !important;
    box-shadow: none;
    background-color: #00b8f1;
}

.forgotten-password-modal input::-webkit-input-placeholder { /* Chrome */
  color: rgb(51,51,51);
}
.forgotten-password-modal input::-ms-input-placeholder { /* IE 10+ */
  color: rgb(51,51,51);
}
.forgotten-password-modal input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(51,51,51);
  opacity: 1;
}
.forgotten-password-modal input:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgb(51,51,51);
  opacity: 1;
}

.forgotten-password-modal .submit-container{
    text-align: center;
    margin: 32px 0 0 0;
}

.forgotten-password-modal input[type=submit], 
.forgotten-password-modal .submit-container button,
.reset-password input[type=submit]{
    text-align: center;
    background: none repeat scroll 0 0 transparent;
    background-color: #fff ;
    border: medium none;
    border-spacing: 0;
    color: #28adf7;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    list-style: none outside none;
    margin: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
}


.forgotten-password-modal input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #00b8f1 inset !important;
    color: rgb(51,51,51);
}

.forgotten-password-modal input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 100px #00b8f1 inset !important;
    -webkit-text-fill-color: rgb(51,51,51);
} 

/* Restablecer Contraseña */

.blue-back-medium{background: url(../../img/blue-back-medium.png) no-repeat;}

.happy-dory{background: url(../../img/dory-happy.png) no-repeat;}

.reset-password .reset-background{
    width: 80%;
    background-size: 100%;
    display: block;
    margin: auto;
    height: 500px;
}

@media(max-width: 1200px){
    .reset-password .reset-background{width: 100%;}
}

.reset-password .dory-background{
    height: 500px;
    width: 50%;
    background-size: 100%;
    float: right;
    margin: 0 -45px 0 0;
}

.reset-password .form-container{
    height: 100%;
    position: relative;
    top: 25%;
    left: 12%;
}

.reset-password .form-container h1{
    color: #fff;
    font-style: italic;
}

.reset-password .form-container input[type=password]{
    margin: 30px 0 0 0;
    border:none;
    width: 65%;
    padding: 0 0 10px 0;
    outline: none;
    font-style: italic;
    border-bottom: 1px solid #fff;
    color: #fff !important;
    box-shadow: none;
    background-color: #00afab;
    font-size: 16px;
}

.reset-password input::-webkit-input-placeholder { /* Chrome */
    color: #fff;
}
.reset-password input::-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.reset-password input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.reset-password input:-moz-placeholder { /* Firefox 4 - 18 */
    color: #fff;
}

.reset-password input[type=submit]{
    text-align: center;
    margin:40px 0 0 0;
}

.checkout-steps{
    background-color: #01b8f2;
    padding: 10px 0;
}
.checkout-steps p{
    font-size: 24px;
    color: #babcbe;
}

.checkout-steps p.active{
    color: #fff;
}

.checkout-steps .backimage{
    width: 92px;
    height: 92px;
    margin: 20px 60px 5px 60px;
}

.checkout-steps .carrito{
    background: url(../../img/checkout-carrito-01.png) no-repeat;
}

.checkout-steps .checkout{
    background: url(../../img/bannerCheckout.png) no-repeat;
}

.checkout-steps .envio{
    background: url(../../img/checkout-truck-01.png) no-repeat;
}

.checkout-steps .pago{
    background: url(../../img/checkout-tarjeta-01.png) no-repeat;
}

.checkout-steps .carrito-grey{
    background: url(../../img/checkout-carrito-02.png) no-repeat;
}

.checkout-steps .envio-grey{
    background: url(../../img/checkout-truck-02.png) no-repeat;
}

.checkout-steps .pago-grey{
    background: url(../../img/checkout-tarjeta-02.png) no-repeat;
}

.checkout-carrito .empty-carrito{
    margin: 0 0 40px 0;
}

.checkout-carrito,
.checkout-pago{
    margin-top: 50px;
    margin-bottom: 50px;
}

.checkout-carrito .cross{
    background: url(../../img/blue-x.png) no-repeat;
    width: 26px;
    height: 26px;
}
.checkout-carrito .cross:hover{
    cursor: pointer;
}

.checkout-carrito .cantidad .widget{
    width: 50px;
    text-align: right;
}


.checkout-carrito tbody tr, 
.checkout-pago tbody tr {
    border-bottom: solid 1px #f0f1f3;
}

.checkout-carrito tr,
.checkout-pago tr {
    padding: 10px 0;
}
.checkout-carrito p,
.checkout-pago p{margin: 0}

.checkout-carrito .img,
.checkout-pago .img{
    width: 20%;
}

.checkout-carrito .item img,
.checkout-pago .item img{
}

.checkout-carrito .nombre,
.checkout-pago .nombre{
    width: 30%;
    padding: 10px 30px;
}

.checkout-carrito .nombre .producto, 
.checkout-pago .nombre .producto{
    font-size: 20px;
}
.checkout-carrito .nombre .codigo
.checkout-pago .nombre .codigo{
    font-size: 12px; 
}
.checkout-carrito .cantidad,
.checkout-pago .cantidad{
    width: 20%;
}
.checkout-carrito input.cantidad,
.checkout-pago input.cantidad{
    width: 50px;
}

.checkout-carrito .precio,
.checkout-pago .precio{
    width: 20%;
}
.checkout-carrito .delete-container,
.checkout-pago .delete-container{
    width: 10%;
}

.checkout-carrito .nombre .producto,
.checkout-pago .nombre .producto{
    line-height: 30px;
    margin: 0 0 10px 0;
}

.checkout-carrito .precio,
.checkout-pago .precio{ color: #28adf7; margin: 0 }

/*LALALA*/
.checkout-carrito .nombre .codigo
.checkout-pago .nombre .codigo{ font-style: italic; font-size: 12px; }

.checkout-carrito .subtotal, 
.checkout-pago .subtotal,
.checkout-pago .total{ text-align: right; padding-right: 30px; color: #28adf7;}

.checkout-carrito .precio-subtotal
.checkout-pago .precio-subtotal,
.checkout-pago .precio-total{ 
    vertical-align: bottom;
    padding-top: 10px
}

.checkout-carrito .gastos-envio,
.checkout-pago .gastos-envio{ font-size: 14px; font-style: italic; }

.checkout-carrito .seguir-comprando, 
.checkout-carrito .continuar,
.checkout-pago .seguir-comprando, 
.checkout-pago .continuar{ font-size: 15px; }

@media (max-width: 767px) {
    .checkout-steps .backimage{
        width: 70px;
        height: 70px;
        background-size: 70px;
        margin: 20px 30px 5px 30px;
    }
    .checkout-pago .nombre .producto{
        font-size: 30px;
    }

}

.checkout-pago .descuento-form-container{
    text-align: right;
    margin: 0 35px 0 0;
}

.checkout-pago .descuento-message{
    text-align: center;
    margin-left: 71px;
    height: 30px;
    font-size: 20px; 
    color: rgb(40, 173, 247);
}

.checkout-pago .money-column{
    text-align: right;
    max-width: 150px;
}

.checkout-pago table{
    width: 100%;
}

.checkout-envio form label{
    display: block;
}


.checkout-envio .title{
    font-size: 48px; 
    text-align: center;
    color: #28adf7;
}

.checkout-envio .title-container{
    margin-top: 20px;
    margin-bottom: 50px;
}

.checkout-envio .forms-container{

}

.checkout-envio .buttons-container{

}
.checkout-envio .forms-container input[type=radio].radio-blue + label.radio-blue-label{
    font-size: 26px;
    color: #28adf7;
    font-weight: normal;
    font-style: italic;
    margin: 13px 0;
    background-size: 24px;
    height: 25px;
    padding-left: 30px;
    line-height: 25px;
}

.checkout-envio .envio-option{

}

.checkout-envio .forms-container input[type=radio].radio-blue:checked + label.radio-blue-label {
    background-position: 0 -24px;
}

.checkout-envio .forms-container label{
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    color: #000;
    margin: 0;
}
.checkout-envio input{
    border:none;
    width: 100%;
    padding: 0 0 3px 0;
    outline: none;
    font-style: italic;
}

.checkout-envio select{
    -webkit-appearance: none;
    background: transparent;
    border: none;
    font-style: italic;
    width: 100%;
    background: #fff url(../../img/number_input_arrows.png) no-repeat 100% -16px;
    padding-bottom: 3px;
}


.checkout-envio select, .checkout-envio input{
    color: #919193;
    border-bottom: 1px solid #7d7d7d;
    font-size: 18px;
}
.checkout-envio .form-envio-container .row{
    margin-bottom: 20px; 
}

.checkout-envio .opciones-domicilio th,
.checkout-envio .opciones-sucursal th{
    color: #28adf7;
    font-weight: normal;
    padding: 0 10px 3px 10px;
    font-size: 20px;
}

.checkout-envio .opciones-domicilio tr,
.checkout-envio .opciones-sucursal tr{
    height: 32px;
}

.checkout-envio table {
    border-top: 0;
    border-bottom: 0;
    color: #000;
    font-size: 16px;
    font-style: italic;
}



@media (min-width: 767px) {
    .checkout-envio table{
        width: 420px;
    }
}

@media (max-width: 767px) {
    .checkout-envio table{
        width: 100%;
    }
}

.checkout-envio table td, .checkout-envio table th {
    border: 1px solid #e5e6e8;
    border-top: 0;
    border-bottom: 0;
    padding: 0;
    text-align: center;
}
.checkout-envio table tr td:first-child,
.checkout-envio table tr th:first-child {
    border-left: 0;
    text-align: left;
    padding-left: 0px;
}
.checkout-envio table tr td:last-child,
.checkout-envio table tr th:last-child {
    border-right: 0;
    padding-right: 0px;
}

.checkout-envio .opciones-domicilio input[type=radio].radio-blue + label.radio-blue-label,
.checkout-envio .opciones-sucursal input[type=radio].radio-blue + label.radio-blue-label {
    color: #000;
    font-size: 16px;
    margin: 0;
}

.checkout-envio .opciones-sucursal table tr {
    height: 50px;
    vertical-align: top;
}

.checkout-envio .opciones-sucursal table thead tr {
    height: 30px;
}

.checkout-envio table td .sucursal-option-direccion{
    font-size: 12px;
}

.checkout-envio .informacion-sucursal .suc-info-title{
    font-style: italic;
    color: #28adf7;
}

.checkout-envio .informacion-sucursal p{
    margin: 0;
    font-style: italic;
    font-weight: bold;
}

.checkout-envio .buttons-container{
    margin: 20px 0;
}

.checkout-envio .pickup-info{
    font-size: 20px;
    font-style: italic;
}

.checkout-envio .pickup-mail{
    color: #28adf7;
}

.checkout-envio .pickup-horario{

}


/* Checkout pago */
.checkout-pago .title{
    font-size: 48px; 
    text-align: center;
    color: #28adf7;
    margin: 0;
}

.checkout-pago .title-container{
    margin-bottom: 50px;
}

.checkout-pago .total{
    text-align: right;
}

.checkout-pago .precio-total{
    color: #28adf7;
}

.checkout-pago label.mercadopago{
    background: url(../../img/checkout-mercadopago.png) no-repeat;
    width: 100%;
    height: 70px;
    width: 90%;
    height: 110px;
    vertical-align: middle;
}

.checkout-pago .payment-dni{
    max-width: 520px;
}

@media (max-width: 767px) {
    .checkout-pago .payment-dni{
        max-width: 100%;
        width: 100%;
    }
}

.checkout-pago .choose-payment{
    color: #28adf7;
    font-style: italic;
}

.checkout-pago .payment-options input[type=radio].radio-blue + label.radio-blue-label{
    background-size: 100% ;
    height: 20px;
}

.checkout-pago .payment-options input[type=radio].radio-blue:checked + label.radio-blue-label{
    background-position: 0 -20px;
}

.checkout-pago .payment-options{
    margin-bottom: 20px;
}

.checkout-pago .payment-dni-container{
    padding-top: 20px;
}

.checkout-pago .button-container{
    height: 100px;
}

.checkout-pago .buy-button{
    position: absolute;
    bottom: 0;
}

@media (max-width: 767px) {
    .checkout-pago .buy-button{
        position: relative;
        margin: 20px 0;
    }
}


.checkout-pago .title{
    color: #28adf7;
    margin: 40px 0;
}

.checkout-pago .try-again{
    margin-top: 30px;
}

/* Mi cuenta Pedidos */

.mi-cuenta .panel{
    margin: 50px 0 20px 0;
    font-size: 24px;
    box-shadow: none;
}

.mi-cuenta .panel li{
    margin: 40px 0;
}

.mi-cuenta .panel .active{
    color: #28adf7;
}

.mi-cuenta{
    margin-top: 30px;
}

.mi-cuenta .title{
    font-size: 48px;
    color: #28adf7;
}

.mi-cuenta .description{
    font-style: italic;
    color: #7b7b7d;
    font-style: 16px;   
}

.pedidos-container .listado table{
    width: 100%;
    max-width: 550px;
    margin: 10px 0 75px 0;
}

.pedidos-container .listado table th{
    padding: 10px;
    color: #28adf7;
}

.pedidos-container .listado table td{
    padding: 0 10px;
}

.pedidos-container .listado table tfoot td{
    padding: 10px;
}

.pedidos-container .listado .fecha{
    text-align: right;
}

.pedidos-container thead{
    background-color: #ededed;
}

.pedidos-container .listado td.img{
    width: 125px;
    padding: 0;
}

.pedidos-container .listado img{
    max-height: 125px;
    max-width: 125px;
    margin: 0 10px 0 0;

}

.pedidos-container .listado tbody tr{
    border-bottom: solid 1px #f0f1f3;
}

.pedidos-container .listado p{margin: 0}

.pedidos-container .listado .nombre .producto{
    font-size: 20px;
}

.pedidos-container .listado .cantidad{
    font-size: 18px;
} 

.pedidos-container .listado .precio{ 
    color: #28adf7; 
    margin: 0;
    text-align: right;
    font-size: 18px;
}

.pedidos-container .listado .subtotal{
    font-size: 18px;
}

.pedidos-container .listado .precio-subtotal{ 
    text-align: left;
    padding: 0;
}

.pedidos-container .listado .nombre .codigo{ font-style: italic; font-size: 14px; }

/* Mi cuenta Datos Perosnales*/

.datos-personales-container label{
    font-weight: normal;
    font-size: 25px;
    font-style: italic;
}

.datos-personales-container form{
    margin-top: 65px;
} 

.datos-personales-container form div{
    margin: 20px 0;
}

/* Mi cuenta consultar envios*/
.consultar-envios-container .form-container{
    margin-top: 60px;
}

.consultar-envios-container .form-container label{
    font-weight: normal;
    font-size: 25px;
    font-style: italic;
}

.consultar-envios-container .button-container{
    margin-top: 20px;
}

.consultar-envios-container ul.tracking-information{
    margin: 20px 0 0 0;
    font-size: 20px;
    color: #28adf7;
}

.consultar-envios-container .tracking-information li .fecha,
.consultar-envios-container .tracking-information li .info{
    margin: 5px 5px;
}

/* Dropdown Mi cuenta */

nav > ul > li {
    display:inline-block;
    margin-left: -5px;       /* This is when the drop down box appears */
    position: relative;
}
nav > ul > li > a {
    -webkit-transition: color .15s;
    -moz-transition: color .15s;
     -o-transition: color .15s;
        transition: color .15s;
}

nav ul > li > ul {
        opacity: 0;
        visibility: hidden;
        padding: 5px;
        background-color: rgb(250,250,250);
        /*text-align: left; */ 
        /* This is for the text when box is dropped down, centered isnt always totally in the middle so best to have on the left */
        text-align: center;  
        position: absolute;
        top: 55px;
        margin-left: -40px;
        /* This is for the drop down annimation */
        /*left: 50%;
        margin-left: -90px;*/
/*        width: 180px;*/
        -webkit-transition: all .3s .1s;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
        -moz-transition: all .3s .1s;
        -moz-border-radius: 5px;
        -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
        -o-transition: all .3s .1s;
        transition: all .3s .1s;
        border-radius: 5px;
        box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}

nav li:hover > ul {
    opacity: 1;
    top: 40px;          /* This is how far from the top the drop down annimation will go  */
    visibility: visible;
    display: block;
    /*width: 90px;*/
}

nav > ul > li > ul:before{
        content: '';
        display: block;
        border-color: transparent transparent rgb(250,250,250) transparent;
        border-style: solid;
        border-width: 10px;  /* The border on the drop down box  */ 
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: 10px;
}
nav > ul ul > li { position: relative;}

nav ul ul a{     /* This is the drop down menu, change font or size when its drops down */
    background-color: rgb(250,250,250);
    padding: 5px 8px 7px 16px;
    display: block;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
}
nav ul ul{z-index: 100;}

nav hr{ 
    margin: 0 5px; 
    border-top: 2px solid #eee
}

nav li.has-sub{
    padding: 2px;
}


/* Static Pages */
.blue-text{
    color: #28adf7;
}

.blue-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 32px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background: #28adf7;
    padding: 0 0 0 5px;
}

.static-cambio .blue-circle{
    padding: 0;
}

.static .list-element{
    padding: 10px 0 0 50px;
    margin: 50px 0;
}

.static .list-element2 {
    padding: 10px 0 0 50px;
    margin: 10px 0;
}

.static .blue-circle{
    display: inline-block;
    margin: -10px 0 0 -50px;
}

.static .subheader{
    margin: 30px 0 30px 65px;
    color: #28adf7;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.static .list-text{    
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 15px;
    font-size: 24px;
}

.static .list-text2{    
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 0px;
    font-size: 24px;
}

/*  Pagina estatica Conocenos */
.static-conocenos{
    margin-top: 70px;
}
.static-conocenos .text-container{
    /*font-weight: 600;*/
}

.static-conocenos .red{
    color: #e42125;
}

.static-conocenos .text-container p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;

}

.static-conocenos img{
    width: 100%;
    margin-bottom: 40px;
}


/*  Pagina estatica Consulta */
.static-consulta label{
    display: block;
}

.static-consulta h1{
    color: #28adf7;
    font-style: italic;
    margin: 40px 0 0 0;
    font-weight: normal;
}

.static-consulta .consulta{
    background-color: rgb(238, 238, 238);
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 10px 20px;
    width: 100%;
    height: 200px;
}


.static-consulta .mail-contacto{
    color: #28adf7;
    margin: 0 0 20px 0; 
    font-style: italic;
    font-size: 20px;
    margin: 30px 0;
}

.static-consulta .field-container{
    margin: 10px 0;
    font-size: 18px;
    font-style: italic; 
}

.static-consulta .field-container label{
    font-weight: normal;
}

.static-consulta .consulta-container{
    width: 75%;
}

.static-consulta .fb{
    background: url(../../img/redes-hover.png) no-repeat -5px 0;
}

.static-consulta .ig{
    background: url(../../img/redes-hover.png) no-repeat -51px 0;
}

.static-consulta .yt{
    background: url(../../img/redes-hover.png) no-repeat -98px 0;
}

.whatsappLogo {
    margin: auto;
    margin-top: 15px;
    height: 70px;
}

.static-consulta .fb,
.static-consulta .ig,
.static-consulta .yt{
    margin: 2px 10px;
    width: 50px;
    height: 49px;
    background-size: 150px;
    vertical-align: middle;
}


.static-consulta .social-media{
    font-size: 20px;
    margin-bottom: 100px;
}

.static-consulta ul.social-media{
    margin-left: 27%;
}

.static-consulta .consulta-enviada{
    color: #28adf7;
    text-align: center;
    font-size: 24px;
}

/* Static como comprar */

{
    color: #28adf7;
    font-style: italic;
    margin: 50px 0 10px 0;
    font-size: 40px;
}

.static-comprar .finish{
    color: #28adf7;
    font-size: 36px;
}



/* Static cambio */
.static-comprar .title,
.static-cambio .title,
.static-pago .title,
.static-envio .title,
.static-privacidad .title,
.static-terminos .title{
    color: #28adf7;
    font-style: italic;
    margin: 50px 0 50px 0;
    font-size: 40px;
}

.static-envio .bottom-text{
    font-size: 24px;
    margin: 100px 0 50px 0
}

.static-pago p{
    font-size: 24px;
}

.static-pago img{
    max-width: 100%;
}

/*.static-consulta .social-media img.mickey{
    margin-top: 100px;
}*/

/* Debug css */
/*
*{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
    
}*/

.descargar-button {
    background: none repeat scroll 0 0 #28adf7;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    padding: 5px 15px;
    text-align: center;
    border-radius: 15px;
}

.whatsappContainer {
    position: fixed;
    bottom: 30px;
    z-index: 1000;
    left: 30px;
}

.arrowContainer {
    position: fixed;
    bottom: 30px;
    z-index: 1000;
    right: 30px;
}

.arrowLogo {
    margin: auto;
    margin-top: 15px;
    height: 50px;
}




@media (min-width: 767px) {
    .whatsappContainer .whatsappLogo {
        height: 60px;
        width: 250px;
    }

    .checkout-carrito {
        font-size: 21px;
    }
}

@media (max-width: 767px) {
    .whatsappContainer .whatsappLogo {
        height: 90px;
        width: 90px;
    }

    .arrowLogo {
        height: 40px;
    }
    .arrowContainer {
        bottom: 75px;
        right: 90px;
    }
}
