.tambien-puede-interesarte{
	margin: 70px 0 0 0;
}

.tambien-puede-interesarte .subtitle{
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}

.tambien-puede-interesarte-slider .item{
	margin: 0 12px;
}

.tambien-puede-interesarte-slider .item img{
	padding: 5px;
	border: 1px solid #eee;
}

.tambien-puede-interesarte-slider .item .categoria{
	display: none;
}

.tambien-puede-interesarte-slider .item .personaje{ 
	display: block;
	font-weight: bold;
}

.tambien-puede-interesarte-slider .item .nombre{
	font-size: 16px;
	line-height: 20px;
	margin: 5px 0 0 0
}

.tambien-puede-interesarte-slider .item .precio{ 
	color: #28adf7; 
	font-size: 16px; 
	margin: 0;
}

.tambien-puede-interesarte-slider .item .precio-tachado{
	text-decoration: line-through;
	text-decoration-color: #000;
	margin: 0 0 -15px 0;
}

.tambien-puede-interesarte-slider .item .precio-oferta{ 
	font-size: 22px 
}

.tambien-puede-interesarte-slider .item .codigo{ 
	font-style: italic;
	font-size: 12px; 
}

.tambien-puede-interesarte-slider .item-detail-container{
	height: 210px;
}

.tambien-puede-interesarte-slider .agregar-carrito-container{
	position: absolute;
	margin: 0;
	bottom: 30px;
}

.tambien-puede-interesarte-slider button.slick-next.slick-arrow, 
.tambien-puede-interesarte-slider button.slick-prev.slick-arrow {
	height: 30px;
	width: 22px;
	background-repeat: no-repeat;
	background-size: 80%;
	top: 25%;
}

.tambien-puede-interesarte-slider .agregar-carrito{ 
	font-size: 12px;
	width: 166px;
	margin: 20px 0 15px 0; 
}

.tambien-puede-interesarte-slider button.slick-prev.slick-arrow{
	left: -10px;
}

.tambien-puede-interesarte-slider .success,
.tambien-puede-interesarte-slider .error{
	position: absolute;
	bottom: -30px;
}

.tambien-puede-interesarte .slick-track{
	margin: 0;
}