{% extends 'backend/layout.html.twig' %}

{% block main %}
<!-- begin main -->
<div class="titulo">
    <span>{{title}}</span>
</div>
<div class="row">
	<div class="col-md-3">
		{{ form_start(form_filter, {attr: {novalidate: 'novalidate'}}) }}

		<label>Desde</label>
		{{ form_widget(form_filter.desde, {attr:{'class':'form-control js-datepicker'}}) }}
		<label>Hasta</label>
		{{ form_widget(form_filter.hasta, {attr:{'class':'form-control js-datepicker'}}) }}
		<br/>
		<input type="submit" value="Descargar" class="btn btn-primary" />

	    {{ form_end(form_filter) }}     
       
    </div>
</div>

<!-- end main -->
{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/backend/datepicker.js') }}"></script>
{% endblock %}
