<div class="row">
	{% for banner in bloque.banners %}
		<div class="col-md-3 col-sm-3">
			<div class="item">
				{% if banner.url %}
					<a href="{{banner.url}}">
				{% endif %}
				{% if vich_uploader_asset(banner, 'video_archivo')  %}
					<div class="video-wrapper center">
						<video class="video" autoplay loop width="100%"
						{% if vich_uploader_asset(banner, 'imagen_archivo')  %}
							poster="{{vich_uploader_asset(banner, 'imagen_archivo')}}" 
						{% endif %}
						>
						<source src="{{ vich_uploader_asset(banner, 'video_archivo') }}">
							Su navegador no soporta videos embebidos.
						</video>
						<div class="playpause"></div>
					</div>
				{% else %}
					<img class="img-responsive margin-auto center" src="{{vich_uploader_asset(banner, 'imagen_archivo')}}">
				{% endif %}
				{% if banner.url %}
					</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
</div>
