<div id="{{id_carousel}}" class="carousel slide{% if mobile %} visible-sm visible-xs {% else %} visible-md visible-lg visible-xl {% endif%}" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		{% for banner in bloque.banners %}
			<li data-target="#{{id_carousel}}" data-slide-to="{{banner.orden}}"></li>
		{% endfor %}
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		{% set active = 'active' %}
		{% for banner in bloque.banners %}
			<div class="item {{active}}">
				{% if banner.url %}
					<a href="{{banner.url}}">
				{% endif %}
				{% if vich_uploader_asset(banner, 'video_archivo')  %}
					<div class="video-wrapper">
						<video class="video" autoplay loop width="100%"
						{% if vich_uploader_asset(banner, 'imagen_archivo')  %}
							poster="{{vich_uploader_asset(banner, 'imagen_archivo')}}" 
						{% endif %}
						>
						<source src="{{ vich_uploader_asset(banner, 'video_archivo') }}">
							Su navegador no soporta videos embebidos.
						</video>
						<div class="playpause"></div>
					</div>
				{% else %}
					<img src="{{vich_uploader_asset(banner, 'imagen_archivo')}}" style="width:100%;">
				{% endif %}		
				{% if banner.url %}
					</a>
				{% endif %}
			</div>
		{% set active = '' %}
		{% endfor %}

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#{{id_carousel}}" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" style="left: 30px;"></span>
			<span class="sr-only">Anterior</span>
		</a>
		<a class="right carousel-control" href="#{{id_carousel}}" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" style="right: 30px;"></span>
			<span class="sr-only">Siguiente</span>
		</a>
	</div>
</div>
