<div class="row row-marquesina">
	{% for banner in bloque.banners %}
		<div class="col-md-12 col-sm-12">
			<div class="item">
				{% if banner.url %}
					<a href="{{banner.url}}">
				{% endif %}
					<img class="img-responsive marquesina-footer" src="{{vich_uploader_asset(banner, 'imagen_archivo')}}">
				{% if banner.url %}
					</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
</div>
