
@font-face {
  font-family: 'ABeeZee-Regular';
  src: url('ABeeZee-Regular.eot?#iefix') format('embedded-opentype'),  url('ABeeZee-Regular.woff') format('woff'), url('ABeeZee-Regular.ttf')  format('truetype'), url('ABeeZee-Regular.svg#ABeeZee-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
