{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <ul class="validation-error-container">
        {%- for error in errors -%}
            <li class="validation-error">{{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
{%- endblock form_errors -%}