{% extends 'frontend/layout.html.twig' %}

{% block main %}
{% set showCommercials = false %}
{% if showCommercials %} 
    {{include('backend/comerciales/laura-pipo.html.twig')}}
{% endif %}
{% for bloque in bloques %}
		{% if bloque.tipo == "MAINBAN" %}
            {{ include('backend/banner/bloques/carousel.html.twig', { 'bloque': bloque, 'id_carousel':'carousel_' ~ bloque.id, 'mobile' : false }) }}
        {% elseif bloque.tipo == "SECUBAN" %}
            {{ include('backend/banner/bloques/carousel-secundario.html.twig', { 'bloque': bloque, 'id_carousel':'carousel_' ~ bloque.id, 'mobile' : false }) }}
        {% elseif bloque.tipo == "MAINMOB" %}
            {{ include('backend/banner/bloques/carousel.html.twig', { 'bloque': bloque, 'id_carousel':'carousel_' ~ bloque.id, 'mobile' : true }) }}
        {% elseif bloque.tipo == "SECUMOB" %}
            {{ include('backend/banner/bloques/carousel-secundario.html.twig', { 'bloque': bloque, 'id_carousel':'carousel_' ~ bloque.id, 'mobile' : true }) }}
		{% elseif bloque.tipo == "TERCIX4" %}
        <div class="banner-container-wrapper {% if bloque.getVerMobile %} visible-xs visible-sm {% else %} visible-md visible-lg visible-xl {% endif %}">
            <div class="banner-container">
                {{ include('backend/banner/bloques/banners_x4.html.twig', { 'bloque': bloque }) }}
            </div>
        </div>
		{% elseif bloque.tipo == "TERCIX3" %}
        <div class="banner-container-wrapper {% if bloque.getVerMobile %} visible-xs visible-sm {% else %} visible-md visible-lg visible-xl {% endif %}">
            <div class="banner-container">
                {{ include('backend/banner/bloques/banners_x3.html.twig', { 'bloque': bloque }) }}
            </div>
        </div>
		{% elseif bloque.tipo == "MARQFOO" %}
        <div class="banner-container-wrapper {% if bloque.getVerMobile %} visible-xs visible-sm {% else %} visible-md visible-lg visible-xl {% endif %}">
            <div class="banner-container">
                {{ include('backend/banner/bloques/marquesina_footer.html.twig', { 'bloque': bloque }) }}
            </div>
        </div>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block javascripts %}
	<link rel="stylesheet" href="{{ asset('css/common/video.css') }}">
	<link rel="stylesheet" href="{{ asset('css/frontend/home.css') }}">
	<script type="text/javascript" src="{{ asset('js/frontend/homepage/comerciales-modal.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/common/video_play.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/common/carousel-height-normalizer.js') }}"></script>
{% endblock %}
