{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>Edición de Modelo</span>
	</div>
 	<div class="container-fluid">
        {{ include('backend/common/flash.html.twig') }}
		{{ form_start(form) }}
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12">
				<input type="submit" value="Guardar cambios" class="btn btn-primary" />
				<a href="{{ path('backend_modelo_index') }}" class="btn btn-default">
	 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
				</a>
			</div>    
		</div>
	</div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
