{% extends 'backend/layout.html.twig' %}

{% block main %}
<!-- begin main -->
<div class="titulo">
  <span>Listado de Modelos</span>
</div>
{{ include('backend/common/flash.html.twig') }}
<div class="row">
    <div class="col-md-12">
        <div class="filtros">
            <div class="container-fluid form-filtros">
                {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                <div class="row inputs spaced-row">
                    <div class="col-sm-4 col-md-8">
                        {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="row spaced-row">
                    <div class="col-sm-6 col-md-6">
                        <a href="{{ path('backend_modelo_index') }}" class="btn btn-default ">
                            <i class="fa fa-times" aria-hidden="true"></i> Limpiar Filtros Aplicados
                        </a>
                        <input type="submit" value="Buscar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            {{ form_end(form) }}     
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th class="text-right">Acciones</th>
          </tr>
        </thead>
        <tbody>
          	{% for modelo in pagination %}
			<tr>
				<td>{{ modelo.nombre }}</td>
				<td class="text-right">
					<a href="{{ path('backend_modelo_edit', { id: modelo.id }) }}">
						<span class="glyphicon glyphicon-pencil list-actions" aria-hidden="true"></span>
					</a>
					<a href="{{ path('backend_modelo_show', {id: modelo.id}) }}">
						<span class="glyphicon glyphicon-eye-open list-actions"></span>
					</a>
					<div class="inline-block">
                        {{ form_start(delete_forms[modelo.id], {attr:{'class':'inline-block'}}) }}
                        {{ form_widget(delete_forms[modelo.id]) }}
                        <button type="submit" class="delete js-sure-delete" />
                            <span class="glyphicon glyphicon-remove-sign list-actions"></span>
                        </button>
                        {{ form_end(delete_forms[modelo.id]) }}
                    </div>
				</td>
			</tr>
			{% endfor %}
        </tbody>
      </table>
    </div>
</div>
<div class="navigation col-sm-12">
    <div class="row">
    	<div class="col-sm-6">
    		<a href="{{ path('backend_modelo_new') }}" class="btn btn-default pull-left">
    				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Crear modelo
    		</a>
    	</div>

        <div class="col-sm-6 text-right">{{ knp_pagination_render(pagination) }}</div>
    </div>
    <div class="row">
        <div class="col-sm-12 resultados text-right">
          {{ pagination.getTotalItemCount }} resultados encontrados <span class="divider-vertical"></span> Mostrando {{pagination.currentPageNumber}} de {{ pagination.getPageCount }} páginas
        </div>

    </div>
</div>
<!-- end main -->
{% endblock %}


{% block javascripts %}
{% endblock %}
