{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>Vista de Modelo</span>
	</div>
		
 	<div class="container-fluid form-filtros">
	<div class="row spaced-row">
		<div class="col-sm-12">
			<div class="inline bold">Nombre:</div>
			<div class="inline">{{ modelo.nombre }}</div>
		</div>
	</div>
	<div class="row spaced-row">
		<div class="col-sm-12">
			<input type="submit" value="Guardar cambios" class="btn btn-primary" />
			<a href="{{ path('backend_modelo_index') }}" class="btn btn-default">
 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
			</a>
		</div>    
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
