{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>{{title}}</span>
	</div>
 	<div class="container-fluid">
        {{ include('backend/common/flash.html.twig') }}
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> 
				{% if categoria.imagen %}
					<img class="img-responsive img-border" src="{{vich_uploader_asset(categoria.imagen, 'imagen_archivo')}}">
				{% endif %}
				{{ form_row(form.imagen, {attr:{'class':''}}) }}
			</div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> 
				{{ form_errors(form) }}
				{{ form_label(form.children) }}
				<ul id="subcategorias">
				{% for subcategory in form.children %}
					<li>
						<div class="row spaced-row">
								<div class="col-md-3">
									{{ form_label(subcategory.nombre) }}
									{{ form_widget(subcategory.nombre, {attr:{'class':'form-control inline'}}) }}
								</div>
								<div class="col-md-3">
									{{ form_label(subcategory.imagen) }}{{ form_widget(subcategory.imagen, {attr:{'class':'inline-block'}}) }}
								</div>
								<div class="col-md-3">
									{% if vich_uploader_asset(subcategory.vars.value.imagen, 'imagen_archivo')  %}
											<img class="img-border img-responsive" src="{{ vich_uploader_asset(subcategory.vars.value.imagen, 'imagen_archivo') }}">
										{% endif %}
								</div>
								<div class="col-md-3">
									<div class="inline-block"><a class="subcategoria-borrar">Borrar Sub-categoría</a></div>
								</div>
						
						</div>
					</li>
				{% else %}
					{% do form.children.setRendered %}
				{% endfor %}
				</ul>
				<button id="agregar-subcategoria" class="btn btn-default">Agregar Sub-Categoria</button>
			</div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12">
				<input type="submit" value="Guardar cambios" class="btn btn-primary" />
				<a href="{{ path('backend_categoria_index') }}" class="btn btn-default">
	 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
				</a>
			</div>    
		</div>
	</div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		jQuery(document).ready(function() {
			var template = '\
				<div class="row spaced-row">\
					<div class="col-md-3">\
						<label for="categoria_form_children____number____nombre" class="required">Nombre</label>\
						<input type="text" id="categoria_form_children____number____nombre" name="categoria_form[children][___number___][nombre]" required="required" maxlength="255" class="form-control inline">\
					</div>\
					<div class="col-md-3">\
						<label class="required">Banner de la Sub-Categoria</label><div id="categoria_form_children____number____imagen" class="inline-block"><div><div id="categoria_form_children____number____imagen_imagen_archivo"><div><input type="file" id="categoria_form_children____number____imagen_imagen_archivo_file" name="categoria_form[children][___number___][imagen][imagen_archivo][file]"></div></div></div></div>\
					</div>\
					<div class="col-md-3"></div>\
					<div class="col-md-3">\
						<div class="inline-block"><a class="subcategoria-borrar">Borrar Sub-categoría</a></div>\
					</div>\
				</div>';

			var count_subcategories = $('#subcategorias li').length;

			$(document).on('click', '#agregar-subcategoria', function(e){
				e.preventDefault();
				addWidget();
			});

			$(document).on('click', '.subcategoria-borrar', function(e){
				e.preventDefault();    
				$( this ).closest('li').remove();
			});

			$("form").submit(function(e){
				jQuery('#subcategorias li').each(function( index ) {
					if('' == $( this ).find('input').val()){
						$(this).remove();
					};
				});
			});

			function addWidget(){
				var list = jQuery('#subcategorias');
				newWidget = template.replace(/__number__/g, count_subcategories);

				var newWidget = jQuery('<li></li>').html(newWidget);
				newWidget.appendTo(list);

				count_subcategories++;
			}
		});
	</script>
{% endblock %}
