{% extends 'backend/layout.html.twig' %}

{% block main %}
<!-- begin main -->
<div class="titulo">
  <span>Orden de Categorias</span>
</div>
{{ include('backend/common/flash.html.twig') }}

{{ form_start(form, {attr:{'class':'inline-block'}}) }}
<div class="row">
    <div class="col-xs-12">
        <ul class="sortable categorias-orden">
            {% for categoria in categorias %}
                {% if not categoria.parent %}
                    <li class="ui-state-default">
                        {{categoria.nombre}}
                        {% if categoria.children %}
                            <ul class="sortable">
                            {% for sub in categoria.children %}
                                <li class="ui-state-default subcategoria">{{sub.nombre}}
                                    {{ form_widget(form.categorias[sub.id].orden, {attr:{'class':'orden hidden'}}) }}
                                </li>
                            {% endfor %}
                            </ul>
                        {{ form_widget(form.categorias[categoria.id].orden, {attr:{'class':'orden hidden'}}) }}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-12">
        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
        <a href="{{ path('backend_categoria_index') }}" class="btn btn-default">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
        </a>
    </div>
</div>
{{ form_end(form) }}


<div class="navigation">
    <div class="row">
        <div class="col-sm-6">
    	</div>
    </div>
</div>
<!-- end main -->
{% endblock %}

{% block javascripts %}
    <script>
        $( function() {
            $( ".sortable" ).sortable();
            $( ".sortable" ).disableSelection();
            $( ".sortable" ).on( "sortstop", function( event, ui ) { reAssignOrder()} );
        });
        function reAssignOrder(){
            $( ".sortable li" ).each(function( index ) {
                console.log($( this ).find('input.orden').val());
                $( this ).find('input.orden').val(index+1)
            });
        }
    </script>
     <style>
        #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        .subcategoria{margin-left: 25px;}
        .ui-state-default{
            border: 1px solid #c5c5c5;
            border-radius: 30px;
            background: #fff;
            padding: 5px 15px;
            cursor: -webkit-grab;
        }
        .ui-sortable-helper{
            cursor: -webkit-grabbing !important;
        }
  </style>
{% endblock %}