{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>Vista de Categoría</span>
	</div>
		
 	<div class="container-fluid form-filtros">
	<div class="row spaced-row">
		<div class="col-sm-12">
			<div class="inline bold">Nombre:</div>
			<div class="inline">{{ categoria.nombre }}</div>
		</div>
	</div>
	<div class="row spaced-row">
		<div class="col-sm-12">
			<div class="inline bold">Slug:</div>
			<div class="inline">{{ categoria.slug }}</div>
		</div>
	</div>
	{% if (categoria.children|length > 0) %}
	<div class="row spaced-row">
		<div class="col-sm-12">
			<div class="bold">Subcategorias:</div>
			<ul>
			{% for subcategoria in categoria.children %}
				<li>{{ subcategoria.nombre }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
	<div class="row spaced-row">
		<div class="col-sm-12">
			<a href="{{ path('backend_categoria_index') }}" class="btn btn-default">
 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
			</a>
		</div>    
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
