{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>{{title}}</span>
	</div>
 	<div class="container-fluid">
        {{ include('backend/common/flash.html.twig') }}
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.activo) }} </div>
		</div>
		{% if personaje.imagenCarousel %}
			<img class="img-responsive" src="{{vich_uploader_asset(personaje, 'imagen_carousel_archivo')}}">
		{% endif %}
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_widget(form.imagen_carousel_archivo, {attr:{'class':''}}) }} </div>
		</div>
		{% if personaje.imagenBanner %}
			<img class="img-responsive" src="{{vich_uploader_asset(personaje, 'imagen_banner_archivo')}}">
		{% endif %}
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_widget(form.imagen_banner_archivo, {attr:{'class':''}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12">
				<input type="submit" value="Guardar cambios" class="btn btn-primary" />
				<a href="{{ path('backend_personaje_index') }}" class="btn btn-default">
	 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
				</a>
			</div>    
		</div>
	</div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
