{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>Vista de Personaje</span>
	</div>
		
 	<div class="container-fluid form-filtros">
		<div class="row spaced-row">
			<div class="col-sm-12">
				<div class="inline bold">Nombre:</div>
				<div class="inline">{{ personaje.nombre }}</div>
			</div>
		</div>
		{% if personaje.imagenCarousel %}
			<div class="row spaced-row">
				<div class="col-sm-12">
					<label style="display: block">Imagen del Carousel de Personajes</label>
					<img class="personaje-show-full" src="{{ vich_uploader_asset(personaje, 'imagen_carousel_archivo') }}">
				</div>
			</div>
		{% endif %}
		{% if personaje.imagenBanner %}
			<div class="row spaced-row">
				<div class="col-sm-12">
					<label style="display: block">Banner para la seccion del Personaje</label>
					<img class="personaje-show-full" src="{{ vich_uploader_asset(personaje, 'imagen_banner_archivo') }}">
				</div>
			</div>
		{% endif %}
		<div class="row spaced-row">
			<div class="col-sm-12">
				<input type="submit" value="Guardar cambios" class="btn btn-primary" />
				<a href="{{ path('backend_personaje_index') }}" class="btn btn-default">
	 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
				</a>
			</div>    
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
