{% extends 'frontend/layout.html.twig' %}

{% block main %}
<div class="container login-container">
	<div class="row">
		<div class="col-md-6">
			<h1>Iniciar Sesión</h1>
			{{ login|raw }}
		</div>
		<div class="col-md-6">
			<h1>Registrarme</h1>
			{{ register|raw }}
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade forgotten-password-modal" id="forgotten-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="blue-back-big">
				<div class="dory-thinking">
					<div class="pull-right relative">
						<div class="right-content ">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							</button>
							{{ render(controller( 'FOSUserBundle:Resetting:request')) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
        ga('send', 'event', 'Paso 2', 'Ingresar datos', '');
		$('.fos_user_resetting_request').on('submit', function(e){
				e.preventDefault();
			
				content = $( this ).serialize(),
				url = $( this ).attr( "action" );

				var send_button = $('.forgotten-password-modal input[type=submit]').eq(0);
				send_button.attr('disabled', 'disabled');
				send_button.val('Enviando');

				// Envio el form por ajax
				var posting = $.post( url, content ).done(function(data) {
					if (data.status == 'ok') {
						$('.forgotten-password-modal .blue-back-big').animate({'opacity': 0}, 400, function(){
							$('.forgotten-password-modal .blue-back-big').addClass('yellow-back-big');
							$('.forgotten-password-modal .blue-back-big').removeClass('blue-back-big').animate({'opacity': 1}, 400);
							$('.forgotten-password-modal h1').eq(0).html('Chequeá tu email')
							
							var msg = $('.forgotten-password-modal p').eq(0);
							msg.html('Te hemos enviado un correo<br>electrónico para restablecer<br>tu contraseña');
							msg.addClass('center');

							$('.forgotten-password-modal input').remove()
							$('.forgotten-password-modal .submit-container').append('<button data-dismiss="modal">OK</button>')
						});
					}else{
						// error de validacion de mail
						showMailValidationError();
							send_button.attr('disabled', null);
							send_button.val('Enviar Mail');
					}
					})
					.fail(function(data) {
						$('.forgotten-password-modal .blue-back-big').animate({'opacity': 0}, 400, function(){
							$('.forgotten-password-modal .blue-back-big').addClass('yellow-back-big');
							$('.forgotten-password-modal .blue-back-big').removeClass('blue-back-big');
							$('.forgotten-password-modal h1').eq(0).html('Error :(')

							var msg = $('.forgotten-password-modal p').eq(0);
							msg.html('Ocurrió un error al intentar restablecer tu contraseña, inténtalo más tarde nuevamente');
							msg.addClass('center');

							$('.forgotten-password-modal input').remove()
							$('.forgotten-password-modal .submit-container').append('<button data-dismiss="modal">OK</button>')
				    	});
					})				
		});

		function showMailValidationError(){
			$('.forgotten-password-modal .email-container .error').animate({'opacity': 1}, 400);

			setTimeout(function() {
			  $(".forgotten-password-modal .email-container .error").animate({'opacity': 0}, 400)
			}, 5000);
		}
	});
</script>
{% endblock %}

{% block javascripts %}
{% endblock %}
