{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>{{title}}</span>
	</div>
 	<div class="container-fluid">
        {{ include('backend/common/flash.html.twig') }}
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> 
				{{ form_row(form.descripcion, {attr:{'class':'form-control'}}) }} 
			</div>
		</div>
        <div class="row spaced-row">
			<div class="col-sm-12"> 
                {% if producto.getParent or parentId%}
                {{ form_row(form.descripcionTalle, {attr: {'style': 'width: 100%'}}) }} 
                {% else %}
                <div style='display: none'>
                {{ form_row(form.descripcionTalle, {attr: {'style': 'display: none'}}) }} 
                </div>
                {% endif %}
            </div>
        </div>

		<div class="row spaced-row">
			<div class="col-sm-2"> {{ form_row(form.codigo_ean, {attr:{'class':'form-control'}}) }} </div>
			<div class="col-sm-2"> {{ form_row(form.codigo_temporada, {attr:{'class':'form-control'}}) }} </div>
			<div class="col-sm-2"> {{ form_row(form.precio, {attr:{'class':'form-control'}}) }} </div>
			<div class="col-sm-2"> {{ form_row(form.precio_oferta, {attr:{'class':'form-control'}}) }} </div>
			<div class="col-sm-2"> 
				{{ form_errors(form.peso) }} 
				{{ form_label(form.peso) }} (kg)
				{{ form_widget(form.peso, {attr:{'class':'form-control'}}) }} 
			</div>
			<div class="col-sm-2"> 
				{{ form_errors(form.dimensiones) }} 
				{{ form_label(form.dimensiones) }} (cm) 
				{{ form_widget(form.dimensiones, {attr:{'class':'form-control', 'placeholder': 'Ej: 20x15x30'}}) }} 
			</div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-2"> {{ form_row(form.meli_id) }} </div>
			<div class="col-sm-2"> {{ form_row(form.dafiti_sku) }}</div>
			<div class="col-sm-2"> {{ form_row(form.sale) }} </div>
			<div class="col-sm-2"> {{ form_row(form.novedad) }} </div>
			<div class="col-sm-2"> {{ form_row(form.destacado) }} </div>
			<div class="col-sm-2"> {{ form_row(form.es_combo) }} </div>
            {% if producto.getParent %}
            {{ form_row(form.parent_id, {attr: {'value': producto.getParent.getId }}) }} 
            {% elseif parentId is defined%}
            {{ form_row(form.parent_id, {attr: {'value': parentId }}) }} 
            {% else %}
            {{ form_row(form.parent_id) }} 
            {% endif %}
		</div>
		<div class="row spaced-row">
			<div class="col-sm-6"> 
				{{ form_row(form.categoria, {attr:{'class':'form-control'}}) }} 
			</div>
			<div class="col-sm-6"> 
				{{ form_row(form.personaje, {attr:{'class':'form-control'}}) }} 
			</div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-4"> 
				{{ form_row(form.edades, {attr:{'class':'form-control'}}) }} 
			</div>
			<div class="col-sm-4"> 
				{{ form_row(form.modelo, {attr:{'class':'form-control'}}) }} 
			</div>
			<div class="col-sm-4"> 
				{{ form_row(form.circulo_descuento, {attr:{'class':'form-control', 'value': producto.getCirculoDescuento}}) }} 
			</div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-6"> 
				{{ form_row(form.generos, {attr:{'class':'form-checkboxes'}}) }} 
			</div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-3"> {{ form_row(form.activo) }} </div>
			<div class="col-sm-3"> {{ form_row(form.google_shopping) }}</div>
            <div class="col-sm-3"> {{ form_row(form.discontinuado) }}</div>
			<div class="col-sm-3"> {{ form_row(form.alta_demanda) }}</div>
		</div>
		<div class="row spaced-row">
		    {{ form_errors(form.imagenes) }}
			<ul class="producto-imagenes" data-prototype="{{ form_widget(form.imagenes.vars.prototype)|e('html_attr') }}">
				{% for imagen_form in form.imagenes %}
					<li class="producto-imagen">
						<div class="inline-block">
						<p class="">Imagen {{loop.index}}</p>
						{{ form_widget(imagen_form, {attr:{'class':'inline-block'}}) }}
						</div>

						<div class="inline-block">
							{% if imagen_form.vars.value.imagen %}
								<img class="img-border img-responsive" src="{{ vich_uploader_asset(imagen_form.vars.value, 'imagen_archivo', 'AppBundle\\Entity\\ProductoImagen') }}">
							{% endif %}
						</div>
						<div class="inline-block arrows-container pull-right">
							<a href=""><span class="glyphicon glyphicon glyphicon-arrow-up imagen-move-up"></span></a>
							<a href=""><span class="glyphicon glyphicon glyphicon-arrow-down imagen-move-down"></span></a>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12">
				<input type="submit" value="Guardar cambios" class="btn btn-primary" />
				<a href="{{ path('backend_producto_index') }}" class="btn btn-default">
	 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
				</a>
			</div>    
		</div>
	</div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		jQuery(document).ready(function() {
			var template = '\
				<div class="inline-block"> \
					<p class="">Imagen __number__</p> \
					<div id="producto_form_imagenes_116" class="inline-block"> \
						<input type="hidden" id="producto_form_imagenes_new__number___orden" name="producto_form[imagenes][new__number__][orden]" value="__number__"> \
						<div> \
							<div id="producto_form_imagenes_new__number___imagen_archivo"> \
								<div> \
									<input type="file" id="producto_form_imagenes_new__number___imagen_archivo_file" name="producto_form[imagenes][new__number__][imagen_archivo][file]"> \
								</div> \
							</div> \
						</div> \
					</div> \
				</div> \
				<div class="inline-block arrows-container pull-right"> \
					<a href=""><span class="glyphicon glyphicon glyphicon-arrow-up imagen-move-up" style="display: none;"></span></a> \
					<a href=""><span class="glyphicon glyphicon glyphicon-arrow-down imagen-move-down" style="display: inline-block;"></span></a> \
				</div> \ ';

			// cuento cuantos widgets de imagenes tengo en el listado.
			// Si tengo 0, agrego hasta llegar a 4.
			var count_current_images = $('.producto-imagenes li').length;
			if (count_current_images == 0) {
				for (var i = 1; i < 5 ; i++) {
					addImagenWidget(i);
				}
			}

			hideAndShowArrows();

			function addImagenWidget(number){
				var list = jQuery('.producto-imagenes');
				newWidget = template.replace(/__number__/g, number);

				var newWidget = jQuery('<li class="producto-imagen"></li>').html(newWidget);
				newWidget.appendTo(list);
			}

		    function hideAndShowArrows(){
		        $( "li .imagen-move-up" ).each(function( index ) {
		            if (0 == index) {
		                $( this ).css('display', 'none')
		            }else{
		                $( this ).css('display', 'inline-block')
		            }
		        });
		        var total = $( "li .imagen-move-down" ).length;
		        $( "li .imagen-move-down" ).each(function( index ) {
		            if(total - 1 == index){
		                $( this ).css('display', 'none')
		            }else{
		                $( this ).css('display', 'inline-block')
		            }
		        });
		    }

		    function reAssignOrder(){
		        $( "li p" ).each(function( index ) {
		            $( this ).html('Imagen ' + (index+1));
		        });
		        $( "li input:hidden" ).each(function( index ) {
		            $( this ).val(index + 1 );
		        });
		    }

	        $('.imagen-move-up, .imagen-move-down').click(function(e){
		        e.preventDefault();
		        var element = $( this ).closest('li');
		        if ($(this).hasClass('imagen-move-up')){
		            before = element.prev();
		            element.insertBefore(before);
		        }else{
		            after = element.next();
		            element.insertAfter(after);
		        }
		        reAssignOrder();
		        hideAndShowArrows();
		    });
		});
	</script>
{% endblock %}
