{% extends 'backend/layout.html.twig' %}

{% block main %}
<!-- begin main -->
<div class="titulo">
    {%if talleTitle%}
    <span>{{talleTitle}}</span>
    {%else %}
    <span>Listado de Productos</span>
    {%endif%}
</div>
{{ include('backend/common/flash.html.twig') }}
<div class="row">
    <div class="col-md-12">
        {%if not talleParentId%}
        <div class="filtros">
            <div class="container-fluid form-filtros">
                {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                <div class="row inputs spaced-row">
                    <div class="col-sm-4 col-md-6">
                        {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }}
                    </div>
                    <div class="col-sm-4 col-md-3">
                        {{ form_row(form.codigo_ean, {attr:{'class':'form-control'}}) }}
                    </div>
                    <div class="col-sm-4 col-md-3">
                        {{ form_row(form.codigo_sku, {attr:{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="row inputs spaced-row">
                    <div class="col-sm-6 col-md-6">
                        <label for="producto_form_filter_precio">Precio desde</label>
                        <div class="inline-block">
                            {{ form_errors(form.precio_desde) }}
                            {{ form_widget(form.precio_desde, {attr:{'class':'form-control'}}) }}
                        </div>
                        <label for="producto_form_filter_precio">hasta</label>
                        <div class="inline-block">
                            {{ form_errors(form.precio_hasta) }}
                            {{ form_widget(form.precio_hasta, {attr:{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        {{ form_row(form.sale, {attr:{'class':''}}) }}
                    </div>
                    <div class="col-sm-2 col-md-2">
                        {{ form_row(form.novedad, {attr:{'class':''}}) }}
                    </div>
                    <div class="col-sm-2 col-md-2">
                        {{ form_row(form.es_combo, {attr:{'class':''}}) }}
                    </div>
                </div>
                <div>
                    <a id="mostrar-filtros-avanzados">Filtros Avanzados ({% if filtros_avanzandos_abierto %}-{% else %}+{% endif %})</a>
                </div>
                <div class="filtros-avanzados" style="{% if filtros_avanzandos_abierto %}display: block;{% else %}display: none;{% endif %}">
                    <div class="row inputs spaced-row">
                        <div class="col-sm-4 col-md-4">
                            {{ form_row(form.personaje, {attr:{'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 col-md-4">
                            {{ form_row(form.categoria, {attr:{'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 col-md-4">
                            {{ form_row(form.edades, {attr:{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row inputs spaced-row">
                        <div class="col-sm-4 col-md-4">
                            {{ form_row(form.modelo, {attr:{'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 col-md-4">
                            {{ form_row(form.genero, {attr:{'class':'form-checkboxes'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row spaced-row">
                    <div class="col-sm-6 col-md-6">
                        <a href="{{ path('backend_producto_index') }}" class="btn btn-default ">
                            <i class="fa fa-times" aria-hidden="true"></i> Limpiar Filtros Aplicados
                        </a>
                        <input type="submit" value="Buscar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            {{ form_end(form) }}     
        </div>
        {%endif%}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>ID</th>
            <th>Categoria</th>
            <th>Código SKU</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>En Carrito</th>
            <th class="text-right">Acciones</th>
          </tr>
        </thead>
        <tbody>
          	{% for producto in pagination %}

			<tr>
				<td>{{ producto.nombre }}</td>
				<td>{{ producto.id }}</td>
                <td>{{ producto.categoria }}</td>
				<td>{{ producto.getCodigoSku() }}</td>
				<td>${{ producto.precio|number_format(2) }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ reserved_stocks[producto.id] }}</td>
				<td class="text-right">
                    {% if producto.getTalles|length == 0 %}
					<a href="{{ path('backend_producto_stock_edit', { id: producto.id }) }}">
                        <span class="glyphicon glyphicon-object-align-bottom list-actions" aria-hidden="true"></span>
                    </a>
                    {% endif %}
                    <a href="{{ path('backend_producto_edit', { id: producto.id }) }}">
						<span class="glyphicon glyphicon-pencil list-actions" aria-hidden="true"></span>
					</a>
					<a href="{{ path('backend_producto_show', {id: producto.id}) }}">
						<span class="glyphicon glyphicon-eye-open list-actions"></span>
					</a>
                    {%if not producto.getParent%}
					<a href="{{ path('backend_producto_index', {parent_id: producto.id}) }}">
						<span class="glyphicon glyphicon-tags list-actions"></span>
					</a>
                    {%endif%}
					<div class="inline-block">
                        {{ form_start(delete_forms[producto.id], {attr:{'class':'inline-block'}}) }}
                        {{ form_widget(delete_forms[producto.id]) }}
                        <button type="submit" class="delete js-sure-delete" />
                            <span class="glyphicon glyphicon-remove-sign list-actions"></span>
                        </button>
                        {{ form_end(delete_forms[producto.id]) }}
                    </div>
				</td>
			</tr>
			{% endfor %}
        </tbody>
      </table>
    </div>
</div>
<div class="navigation">
    <div class="row">
        {% if not talleParentId%}
    	<div class="col-sm-6">
            <div class="inline">
        		<a href="{{ path('backend_producto_new') }}" class="btn btn-default pull-left">
    				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Crear Producto
        		</a>
            </div>
            <div class="inline">
                <a href="{{ path('backend_producto_order') }}" class="btn btn-default pull-left">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Ordenar Productos
                </a>
            </div>
            <div>
                <a href="{{ path('backend_reporte_productos_compras') }}" class="btn btn-default pull-left">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Reporte de Productos
                </a>
            </div>
            <div>
                <a href="{{ path('backend_reporte_productos_google_shopping') }}" class="btn btn-default pull-left">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Google shopping
                </a>
            </div>

    	</div>
        {% else %}
        <div class="col-sm-6">
            <div class="inline">
                <a href="{{ path('backend_producto_new', {parent_id: talleParentId}) }}" class="btn btn-default pull-left">
    				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Crear talle
        		</a>
            </div>
    	</div>
        {% endif %}

        <div class="col-sm-6 text-right">{{ knp_pagination_render(pagination) }}</div>
    </div>
    <div class="row">
        <div class="col-sm-12 resultados text-right">
          {{ pagination.getTotalItemCount }} resultados encontrados <span class="divider-vertical"></span> Mostrando {{pagination.currentPageNumber}} de {{ pagination.getPageCount }} páginas
        </div>

    </div>
</div>
<!-- end main -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/backend/mostrar-filtros-avanzados.js') }}"></script>
{% endblock %}
