{% extends 'backend/layout.html.twig' %}

{% block main %}
<!-- begin main -->
<div class="titulo">
  <span>Orden de Productos</span>
</div>
{{ include('backend/common/flash.html.twig') }}

{{ form_start(form, {attr:{'class':'inline-block'}}) }}
<div class="row">
    <div class="col-xs-12">
        <ul id="sortable">
            {% for producto in productos %}
                <li class="ui-state-default">
                    <div class="orden">{{ producto.orden }}</div>
                    <div class="item">
                            {% if producto.getFirstImage %}
                                <img class="img-responsive img-center hover-hide" src="{{ vich_uploader_asset(producto.getFirstImage, 'imagen_archivo') }}">
                            {% else %}
                                <img src="{{ asset('img/producto-placeholder.png') }}" class="img-responsive img-center" alt="No hay una imagen disponible para este producto"/> 
                            {% endif %}
                        <div class="item-detail-container">
                                <div class="item-detail">
                                    <div class="nombre">{{ producto.nombre|length > 42 ? producto.nombre|slice(0, 39) ~ '...' : producto.nombre  }}</div>
                                    <div class="precio">
                                        {% if producto.precioOferta %}
                                            ${{producto.precio|number_format(2)}}
                                        {% else %}
                                                ${{producto.precio|number_format(2)}}
                                        {% endif %}
                                    </div>
                                </div>
                        </div>
                    </div>
                    {{ form_widget(form.productos[loop.index0].orden, {attr:{'class':'orden'}}) }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-12">
        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
        <a href="{{ path('backend_producto_index') }}" class="btn btn-default">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
        </a>
    </div>
</div>
{{ form_end(form) }}


<div class="navigation">
    <div class="row">
        <div class="col-sm-6">
    	</div>
    </div>
</div>
<!-- end main -->
{% endblock %}

{% block javascripts %}
    <script>
        $( function() {
            $( "#sortable" ).sortable();
            $( "#sortable" ).disableSelection();
            $( "#sortable" ).on( "sortstop", function( event, ui ) { console.log('CAMBIO!'); reAssignOrder()} );
        });
        function reAssignOrder(){
            $( "#sortable li" ).each(function( index ) {
                $( this ).find('input.orden').val(index+1)
                $( this ).find('div.orden').html(index+1)
                console.log(index+1)
            });
        }
    </script>
     <style>
        #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 150px; height: 260px;}
        #sortable li img{ margin-bottom: 5px;}
        #sortable li .precio{text-align: center;}
        #sortable li .orden{text-align: right;}
  </style>
{% endblock %}
