{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>Vista de Producto</span>
	</div>
		
 	<div class="container-fluid form-filtros">
	<div class="row spaced-row">
		<div class="col-sm-12">
			<div class="inline bold">Nombre:</div>
			<div class="inline">{{ producto.nombre }}</div>
		</div>
	</div>
	

	<div class="row spaced-row">
		<div class="col-sm-3">
				<div class=""> 
					<div class="inline bold">Codigo SKU:</div>
					<div class="inline">{{ producto.codigoSku }}</div>
				</div>
				<div class=""> 
					<div class="inline bold">Codigo EAN:</div>
					<div class="inline">{{ producto.codigoean }}</div>
				</div>
				<div class=""> 
					<div class="inline bold">Stock:</div>
					<div class="inline {{ producto.stock == 0 ? 'red' :''}}">{{ producto.stock }}</div>
				</div>
				<div class=""> 
					<div class="inline bold">En carrito:</div>
					<div class="inline">{{ reserved_stock }}</div>
				</div>
				<div class="">
					<div class="inline bold">Precio:</div>
					<div class="inline">${{ producto.precio }}</div>
				</div>
				<div class="">
					<div class="inline bold">Pecio oferta:</div>
					<div class="inline">${{ producto.precioOferta }}</div>
				</div>
				<div class="">
					<div class="inline bold">Peso:</div>
					<div class="inline">{{ producto.peso ? producto.peso : '?' }}</div>
				</div>
			</div>
		<div class="col-sm-3">
			<div>
				<div class="inline bold">Categoría:</div>
				<div class="inline">{{ producto.categoria }}</div>
			</div>
		
			<div class=""> 
				<div class="inline bold">Personaje:</div>
				<div class="inline">{{ producto.personaje }}</div>
			</div>
			<div class=""> 
				<div class="inline bold">Edades:</div>
				<div class="inline">{{ producto.edades }}</div>
			</div>
			<div class=""> 
				<div class="inline bold">Modelo:</div>
				<div class="inline">{{ producto.modelo }}</div>
			</div>
			<div class=""> 
				<div class="inline bold">Género:</div>
				{{ producto.generos|join(', ') }}
			</div>
		</div>
		<div class="col-sm-3">
			<div>
				<div class="inline bold">Sale?</div>
				<div class="inline">{% if producto.sale %} 
				<span class="glyphicon glyphicon-ok"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove"></span>
					{% endif %}
				</div>
			</div> 
			<div class=""> 
				<div class="inline bold">Novedad?</div>
				<div class="inline">{% if producto.novedad %} 
				<span class="glyphicon glyphicon-ok"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove"></span>
					{% endif %}
				</div>
			</div>
			<div class=""> 
				<div class="inline bold">Es combo?</div>
				<div class="inline">{% if producto.esCombo %} 
				<span class="glyphicon glyphicon-ok"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove"></span>
					{% endif %}
				</div>
			</div>
			<div class=""> 
				<div class="inline bold">Discontinuado?</div>
				<div class="inline">{% if producto.discontinuado %} 
				<span class="glyphicon glyphicon-ok"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove"></span>
					{% endif %}
				</div>
			</div>
		</div>

	</div>
	<div class="row spaced-row">
		<div class="col-sm-12">
			<div class="bold">Descripcion:</div>
			<div >{{ producto.descripcion }}</div>
		</div>
	</div>	
	<div class="row spaced-row">
		<div class="col-sm-12"> 
			<div class="inline bold">Activo:</div>
			<div class="inline">{% if producto.activo %} 
					<span class="glyphicon glyphicon-ok green"></span>
				{% else %}
					<span class="glyphicon glyphicon-remove red"></span>
				{% endif %}
			</div>
		</div>
		</div>
	</div>
	<div class="row spaced-row">
		{% for prod_imagen in producto.imagenes %}
			{% if prod_imagen.imagen is not null %}
				<div class="col-sm-3">
					<img class="img-border img-responsive" src="{{ vich_uploader_asset(prod_imagen, 'imagen_archivo') }}">
				</div>
			{% endif %}

		{% endfor %}
		
	</div>
	<div class="row spaced-row">
		<div class="col-sm-12">
			<input type="submit" value="Guardar cambios" class="btn btn-primary" />
			<a href="{{ path('backend_producto_index') }}" class="btn btn-default">
 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
			</a>
			<a href="{{ path('backend_producto_edit', {'id':producto.id}) }}" class="btn btn-default">
					<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Editar
			</a>
			<a href="{{ path('backend_producto_stock_edit', {'id': producto.id}) }}" class="btn btn-default">
					<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Stock
			</a>
		</div>    
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
