{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>{{title}}</span>
	</div>
 	<div class="container-fluid">
        {{ include('backend/common/flash.html.twig') }}
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		<div class="row spaced-row">
			<div class="col-sm-3"> {{ form_row(form.cantidad, {attr:{'class':'form-control'}}) }} </div>
			<div class="col-sm-3"> {{ form_row(form.stock_tipo, {attr:{'class':'form-control'}}) }} </div>
			<div class="col-sm-6"> {{ form_row(form.observacion, {attr:{'class':'form-control'}}) }} </div>
		</div>
		    
	    <div class="row" >
	    	<div class="col-sm-12" >
			<table class="table">
				<thead>
					<th>Fecha</th>
					<th>Tipo de Carga</th>
					<th>Observacion</th>
					<th>Cantidad</th>
				</thead>
				<tbody style="overflow-y: scroll; height:350px;">
				{% set sum = 0%}
				{% for p_stock in producto.stockActions %}
					<tr>
						<td>{{p_stock.fecha|date('d/m/Y H:i')}}</td>
						<td>{{p_stock.stockTipo}}</td>

						<td title="{{p_stock.observacion}}">{{p_stock.observacion|length > 40 ? p_stock.observacion[:37] ~ '...' : p_stock.observacion}}</td>
						<td>{{p_stock.cantidad}}</td>
					</tr>
					{% set sum = sum + p_stock.cantidad %}
				{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td>Total Actual</td>
						<td></td>
						<td></td>
						<td>{{sum}}</td>
					</tr>
				</tfoot>
			</table>
	    	</div>
		</div>
		
		<div class="row spaced-row">
			<div class="col-sm-12">
				<input type="submit" value="Guardar cambios" class="btn btn-primary" />
				<a href="{{ path('backend_producto_index') }}" class="btn btn-default">
	 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
				</a>
			</div>    
		</div>
	</div>

    {{ form_end(form) }}
	<style type="text/css">
		tbody {
		    display:block;
		    height:50px;
		    overflow:auto;
		}
		thead, tfoot, tbody tr {
		    display:table;
		    width:100%;
		    table-layout:fixed;
		}
		thead, tfoot {
		    width: calc( 100% - 1em )
		}
		table {
		    width:400px;
		}
		.table > thead > tr > th {
		    border-bottom: none;
		}
		tfoot{
			font-weight: bold;
		}
	</style>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
{% endblock %}
