<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Visitá la Tienda Oficial Piñata. Conocé nuestras Sabanas, Acolchados, Almohadones, Toallas y muchos más con los personajes favoritos de los chicos.
        Comprá online y te lo llevamos a tu casa."/>
        <meta name="google-site-verification" content="dEblfymqqK9gfccGDvjN_HXxKzXcF0S8V1rrg7whsc0" />
        <title>{% block title %}Piñata{% endblock %}</title>
        <!-- Google Tag Manager -->

        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

        })(window,document,'script','dataLayer','GTM-TZ4S854');</script>

        <!-- End Google Tag Manager -->


            {# Facebook SDK #}

            <script>
                window.fbAsyncInit = function() {
                    FB.init({
                        appId      : '454167081980045',
                        cookie     : true,
                        xfbml      : true,
                        version    : 'v4.0'
                    });
                    FB.AppEvents.logPageView();   
                };
                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));


                
            </script>
            {# Fonts #}
            <link rel="stylesheet" href="{{ asset('bootstrap/fonts/glyphicons-halflings-regular.svg') }}">
            <link rel="stylesheet" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
            <link rel="stylesheet" href="{{ asset('fonts/ABeeZee/styles.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
            <link rel="stylesheet" href="{{ asset('fonts/PlutoRegular/styles.css') }}">
            
            {# Bootstrap #}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}" >

            
            {# Jquery y Bootrstrap js #}  
            <script type="text/javascript" src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('js/jquery-ui/jquery-ui.min.css') }}" >
            
            {# Manejo de cookies https://github.com/js-cookie/js-cookie #}
            <script type="text/javascript" src="{{ asset('js/js.cookie.js') }}"></script>
            
            {# Layout js #}
            <script type="text/javascript" src="{{ asset('js/frontend/layout/layout.js') }}"></script>

            {# Slick Carousel #}
            <link rel="stylesheet" type="text/css" href="{{asset('js/slick/slick/slick.css')}}"/>
            <link rel="stylesheet" type="text/css" href="{{asset('js/slick/slick/slick-theme.css')}}"/>
            <script type="text/javascript" src="{{asset('js/slick/slick/slick.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/frontend/layout/personajes-carousel.js')}}"></script>
            
            {# Newsletter Manejar por ajax #}
            <script type="text/javascript" src="{{ asset('js/frontend/subscribe/subscribe.js') }}"></script>
            
            {# timepicker #}
            <link rel="stylesheet" href="{{ asset('js/jquery-timepicker/jquery-ui-timepicker-addon.css') }}">
            <script type="text/javascript" src="{{ asset('js/jquery-timepicker/jquery-ui-timepicker-addon.js') }}"></script>

            {# zoom de imagenes #}
            <script src="{{asset('js/elevatezoom/jquery.elevatezoom.js')}}" type="text/javascript"></script>

            {# Estilos #}
            <link rel="stylesheet" href="{{ asset('css/frontend/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('css/frontend/layout/header.css') }}">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


            <!-- Google Analytics -->
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', '{{google_analytics_id}}', 'auto');
                ga(function(tracker) {  var idClient = tracker.get('clientId'); ga('set', 'dimensionX', idClient);  ga('send', 'pageview'); });
                ga('require', 'ecommerce');
            </script>
            <!-- End Google Analytics -->

            {# if action is defined #}
            {# if action == 'success' or action == 'pendiente' #}
            <!-- Facebook Pixel Code -->
            {% set executed = false %}
            {% if executed == false %}
            <script>
                !function(f,b,e,v,n,t,s)
                {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window,document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
                fbq('init', '273545396682148'); 
                fbq('track', 'PageView');
                {% set executed = true %}
            </script>
            <noscript>
                <img height="1" width="1" 
                src="https://www.facebook.com/tr?id=273545396682148&ev=PageView
                &noscript=1"/>
            </noscript>
            {% endif %}
            <!-- End Facebook Pixel Code -->
            {# endif #}
            {# endif #}
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->

        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZ4S854"

                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

        <header class='headerDesktop visible-md visible-lg visible-xl'>
            <div class='row'> {{ render(controller( 'AppBundle:Frontend/Layout:marquesina')) }} </div>
            <div class='row'>
                <div class='col-md-2'>
                    <div class='text-center'>
                        <a href="{{ path('homepage') }}">
                            <img class="home-logo" class="img-responsive" src="{{ asset('img/logo.png') }}">
                        </a>
                    </div>
                </div>
                <div class='col-md-10'>
                    <div class='row'>
                        <div class='col-md-1'></div>
                        <div class='col-md-8'>
                            {#{{ render(controller( 'AppBundle:Frontend/Layout:personajes')) }}#}
                        </div>
                        <div class='col-md-3'>
                            <div class='row'>
                                <div class='col-md-4'></div>
                                <div class='col-md-8'>
                                    <div class='toolbar-container row'>
                                        <div class='search-container'>
                                            <img id='lupa' class="toolbar-icon" src="{{ asset('img/iconos_header/lupa.png') }}"/>
                                            <i class='fa fa-caret-down' style='margin-top: 2px; margin-left: 3px;'></i>
                                        </div>
                                        <div class='login-container'>
                                            <img class="toolbar-icon" src="{{ asset('img/iconos_header/login.png') }}"/>
                                            <i class='fa fa-caret-down' style='margin-top: 2px; margin-left: 3px;'></i>
                                        </div>
                                        <div class='carrito-container'>
                                            <img class="toolbar-icon" src="{{ asset('img/iconos_header/carrito.png') }}"/>
                                            <i class='fa fa-caret-down' style='margin-top: 2px; margin-left: 3px;'></i>
                                            <div id='carritoNumberContainer' style='display: none'>
                                                <span id='carritoNumber'>{{ render(controller( 'AppBundle:Frontend/Layout:carritoCount')) }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id='searchbox' class='search-box toolbar-box' style='display: none; position: absolute; z-index: 99'>
                                {{ render(controller( 'AppBundle:Frontend/Layout:search',{'search': search is defined ? search : '' })) }}
                            </div>
                            <div id='userbox' class='user-box toolbar-box' style='display: none'>
                                <ul class='userLinkList'> 
                                {% if app.user %}
                                    <li class='userGreeting'> Hola {{app.user.nombre}}</li>
                                    <li class='userLink'> - <a href='{{path('frontend_cuenta_datos_personales')}}'>Datos personales</a></li>
                                    <li class='userLink'> - <a href='{{path('frontend_cuenta_pedidos')}}'>Historial de pedidos</a></li>
                                    <li class='userLink pull-right logoutLink'><a href='{{path('logout')}}'>Salir</a></li>
                                {% else %}
                                    <li class='loginLink text-center'><a href='{{path('frontend_login')}}'>Ingresar - Registrarse</a></li>
                                {% endif %}
                                </ul>
                            </div>
                            <div id='cartbox' class='cart-box toolbar-box' style='display: none;'>
                                <div id='loadingCart' class='text-center'><img src='/img/loading-blue.gif'></div>
                                <div id='exampleCartRow' class='row carrito-item' style='display: none'>
                                        <div class='col-md-1 carrito-item-qty'><span class='qty'></span></div>
                                        <div class='col-md-7 carrito-item-nombre'><span class='nombre'></span></div>
                                        <div class='col-md-4 carrito-item-precio'><span class='precio'></span></div>
                                </div>
                                <div id='emptyCartMsgContainer' class='text-center'>
                                    <span> El carrito está vacío.</span>
                                </div>
                                <div id='cartItemsContainer'>
                                </div>
                                <div class='row'>
                                    <div class='col-md-1'></div>
                                    <div class='col-md-5'>
                                        <a class='ver-carrito' href="{{path('frontend_checkout_carrito')}}">
                                            <div class='ver-carrito-button'>
                                                <span class='ver-carrito-text'>EDITAR CARRITO </span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class='col-md-5'>
                                        <a class='ver-carrito' href="{{path('frontend_checkout')}}">
                                            <div class='ver-carrito-button'>
                                                <span class='ver-carrito-text'> COMPRAR </span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class='col-md-1'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        {{ render(controller( 'AppBundle:Frontend/Layout:categorias', {'active':categoria is defined ? categoria.nombre : ''})) }}
                    </div>
                </div>
            </div>
        </header>
        <header class='visible-sm visible-xs'>
            <div class='row'> {{ render(controller( 'AppBundle:Frontend/Layout:marquesinaMobile')) }} </div>
            <div id='mobileHeader'>
                <div class='row'>
                    <div class='col-sm-4 col-xs-4'>
                        <div class='burger-container'>
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class='col-sm-3 col-xs-3 text-center'>
                        <a href="{{ path('homepage') }}">
                        <img class='mobileLogo' src='/img/logo_blanco.png' />
                        </a>
                    </div>
                    <div class='col-sm-5 col-xs-5'>
                        <div class='col-md-6'>
                            <div class='search-containerMobile pull-right'>
                                <img id='lupa' class="toolbar-icon" src="{{ asset('img/iconos_header/lupa_blanco.png') }}"/>
                                <i class='fa fa-caret-down' style='color: #fff; margin-top: 2px; margin-left: 3px;'></i>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <a class='cart-containerMobile' href='{{path('frontend_checkout_carrito')}}'>
                                <img id='cart' class="toolbar-icon" src="{{ asset('img/carrito-white.png') }}"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id='searchboxMobile' class='search-boxMobile toolbar-boxMobile' style='display: none'>
                {{ render(controller( 'AppBundle:Frontend/Layout:search',{'search': search is defined ? search : '' })) }}
            </div>
            <div id='burgerBox' class='burgerBox' style='display: none'>
                <ul>
                    <li><a href="{{path('frontend_checkout_carrito')}}">Mi carrito</a></li>
                    {% if not app.user %}
                    <li><a href='{{path('frontend_login')}}'>Iniciar sesión</a></li>
                    {% else %}
                    <li><a href='{{path('frontend_cuenta_datos_personales')}}'>Datos personales</a></li>
                    <li><a href='{{path('frontend_cuenta_pedidos')}}'>Historial de pedidos</a></li>
                    {% endif %}
                    <li><a href="{{path('frontend_static_comprar')}}">Cómo comprar</a></li>
                    <li><a href="{{path('frontend_static_formas_pago')}}">Formas de pago</a></li>
                    <li><a href="{{path('frontend_static_envios')}}">Envíos</a></li>
                    <li><a href="{{path('frontend_static_consultas')}}">Consultas</a></li>
                    <li><a href="{{path('frontend_static_faq')}}">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <div class='row'>
                {#{{ render(controller( 'AppBundle:Frontend/Layout:personajes')) }}#}
            </div>
            <div class='row'>
                {{ render(controller( 'AppBundle:Frontend/Layout:categorias', {'active':categoria is defined ? categoria.nombre : ''})) }}
            </div>
        </header>
        <!-- End Google Tag Manager (noscript) -->
        {{ render(controller( 'AppBundle:Frontend/Layout:subcribeModal')) }}
        <div id="main" class="main-container" style="">
            {% block main %}
            {% endblock %}
        </div>
        <div class='whatsappContainer'>
            <a target='_blank'href='https://wa.me/541165423197'>
                <img class='whatsappLogo visible-md visible-lg visible-xl' src='{{ asset('img/whatsappH.png') }}'/>
                <img class='whatsappLogo visible-sm visible-xs' src='{{ asset('img/whatsapp.png') }}'/>
            </a>
        </div>

        <div class='arrowContainer' style='display: none'>
            <a href='#'>
                <img class='arrowLogo' src='{{ asset('img/arrow.png') }}'/>
            </a>
        </div>

        {{ include('frontend/layout/footer.html.twig')}}
        {% block javascripts %}
        {% endblock %}
        <script>
            $('img').bind('contextmenu', function(e) {
                return false;
            }); 

            $(document).ready(function() {
                var carritoCount = $('#carritoNumber').html();
                if (parseInt(carritoCount) > 0) {
                    $('#carritoNumberContainer').fadeIn();
                }
            });

            $(document).ready(function() {
		doFbAuth();
	    });
	   

	    function doFbAuth() {
	        FB.getLoginStatus(function(response) {
		    if (response.status == 'connected') {
			FB.api('/me', { locale: 'tr_TR', fields: 'name, email' }, function(response) {
			    $.post("/ajax/fblogin", { 'nombre' : response.name, 'email' : response.email, 'id' : response.id })
			    .done(function(data) {
				{% if not app.user %}
				    location.reload();
				{% endif%}
			    });
			});
		    }
	    	});
	    }

	    function checkLoginState() {
		doFbAuth();
            };
        </script>
    </body>
</html>
