{% extends 'backend/layout.html.twig' %}

{% block main %}
    {{ include('backend/common/flash.html.twig') }}
    <h2>Cajas a utilizar en el embalado:</h2>
    <div class="row spaced-row">
        <div class='col-md-6'>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th class="">Alto</th>
                        <th class="">Ancho</th>
                        <th class="">Largo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for caja in cajas %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{caja.nombre}}</td>
                        <td>{{caja.alto}}</td>
                        <td>{{caja.ancho}}</td>
                        <td>{{caja.largo}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col-md-6'></div>
    </div>
{% endblock %}
