{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
      <span>{{title}}</span>
    </div>
    <div class="container-fluid">
        {{ include('backend/common/flash.html.twig') }}
        {{ form_start(form, {'attr': {'class':'inline'}}) }}
            <div class="row spaced-row">
                <div class="col-sm-2"> {{ form_row(form.dni, {attr:{'class':'form-control'}}) }} </div>
            </div>
            <div class="row spaced-row">
                <div class="col-sm-2"> {{ form_row(form.fechaPago, {attr:{'class':'js-datepicker form-control'}}) }} </div>
            </div>
            <div class="row spaced-row">
                <div class="col-sm-2"> {{ form_row(form.fechaEnvio, {attr:{'class':'js-datepicker form-control'}}) }} </div>
            </div>
            <div class="row spaced-row">
                <div class="col-sm-2"> {{ form_row(form.fechaFacturacion, {attr:{'class':'js-datepicker form-control'}}) }} </div>
            </div>
            {% if pedido.fechaBaja %}
                <div class="row spaced-row">
                    <div class="col-sm-12"> 
                        <label>Fecha de Baja</label>
                        {{ pedido.fechaBaja|date('d/m/Y') }}
                    </div>
                </div>
            {% endif %}
            <div class="row spaced-row">
                <div class="col-sm-12"><input class="btn btn-primary" type="submit" value="Guardar Cambios" /></div>
            </div>
        {{ form_end(form) }}
        <div>
            <h2>Edición del Envío</h2>
        </div>
        {{ include('backend/envio/common/edit.html.twig', { 'envio': pedido.envio, 'form' : envio_form }) }}
        <div class="row">
            <div class="col-sm-12">
                <div class="inline">
                    <a class="btn btn-default" href="{{ path('backend_pedido_index') }}">Volver al listado</a>
                </div>
                {% if not pedido.fechaBaja %}
                    {{ form_start(desarmar_form, {'attr': {'class':'inline'}}) }}
                        <div class="inline">
                            <input class="btn btn-danger" type="submit" value="Dar de Baja" />
                        </div>
                    {{ form_end(desarmar_form) }}
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/backend/timepicker.js') }}"></script>
{% endblock %}