{% extends 'backend/layout.html.twig' %}

{% block main %}
<div class="titulo">
  <span>Listado de Pedidos</span>
</div>
{{ include('backend/common/flash.html.twig') }}
<div class="row">
    <div class="col-md-12">
        <div class="filtros">
            <div class="container-fluid pedidos-form-filtros">
                {{ form_start(form_filter, {attr: {novalidate: 'novalidate'}}) }}
                <div class="row inputs spaced-row">
                    <div class="col-sm-4 col-md-6">
                        {{ form_row(form_filter.idPedido, {attr:{'class':'form-control'}}) }}
                        {{ form_row(form_filter.DNI, {attr:{'class':'form-control'}}) }}
                        {{ form_row(form_filter.nombre, {attr:{'class':'form-control'}}) }}
                        {{ form_row(form_filter.apellido, {attr:{'class':'form-control'}}) }}
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <table>
                            <tr>
                                <td><label>Fecha de Creacion</label></td>
                                <td class="desde center"> desde </td>
                                <td>{{ form_widget(form_filter.fechaCreacionDesde, {attr:{'class':'form-control js-datepicker'}}) }}</td>
                                <td class="hasta"> hasta </td>
                                <td>{{ form_widget(form_filter.fechaCreacionHasta, {attr:{'class':'form-control js-datepicker'}}) }}</td>
                            </tr>
                            <tr>
                                <td><label>Fecha de Pago</label></td>
                                <td class="desde center"> desde </td>
                                <td>{{ form_widget(form_filter.fechaPagoDesde, {attr:{'class':'form-control js-datepicker'}}) }}</td>
                                <td class="hasta"> hasta </td>
                                <td>{{ form_widget(form_filter.fechaPagoHasta, {attr:{'class':'form-control js-datepicker'}}) }}</td>
                            </tr>
                            <tr>
                                <td><label>Fecha de Envio</label></td>
                                <td class="desde center"> desde </td>
                                <td>{{ form_widget(form_filter.fechaEnvioDesde, {attr:{'class':'form-control js-datepicker'}}) }}</td>
                                <td class="hasta"> hasta </td>
                                <td>{{ form_widget(form_filter.fechaEnvioHasta, {attr:{'class':'form-control js-datepicker'}}) }}</td>
                            </tr>
                            <tr>
                                <td><label>Fecha de Facturacion</label></td>
                                <td class="desde center"> desde </td>
                                <td>{{ form_widget(form_filter.fechaFacturacionDesde, {attr:{'class':'form-control js-datepicker'}}) }}</td>
                                <td class="hasta"> hasta </td>
                                <td>{{ form_widget(form_filter.fechaFacturacionHasta, {attr:{'class':'form-control js-datepicker'}}) }}</td>
                            </tr>
                        </table>
                        <hr>
                        {{ form_row(form_filter.envio, {attr:{'class':''}}) }}
                        <div>
                            {{ form_row(form_filter.baja, {attr:{'class':'inline'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row spaced-row">
                    <div class="col-sm-6 col-md-6">
                        <a href="{{ path('backend_pedido_index') }}" class="btn btn-default ">
                            <i class="fa fa-times" aria-hidden="true"></i> Limpiar Filtros Aplicados
                        </a>
                        <input type="submit" value="Buscar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            {{ form_end(form_filter) }}     
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th><input type="checkbox" name="bulk_pedido_id" value="all"</th>
                    <th class="">Nombre</th>
                    <th class="">Apellido</th>
                    <th class="text-right">Monto</th>
                    <th class="center">PAG</th>
                    <th class="center">ENV</th>
                    <th class="center">FACT</th>
                    <th>Envio</th>
                    <th>Fecha Creacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for pedido in pagination %}
                <tr class="{{ pedido.fechaBaja ? 'pedido-cancelado' : '' }}">
                    <td><a href="{{ path('backend_pedido_show', { 'id': pedido.id }) }}">{{ pedido.id }}</a></td>
                    <td>{#{{ form_widget(form_bulk.pedidos.children[pedido.id], { 'attr' : {'form':'form_bulk'}}) }}#}</td>
                    <td class="">{{ pedido.envio.nombre }}</td>
                    <td class="">{{pedido.envio.apellido}}</td>
                    <td class="text-right">
                        ${{ presenters[pedido.id].precioTotal|number_format(2) }}
                    </td>
                    <td class="center">
                        {% if pedido.fechaPago %}<span class="glyphicon glyphicon-ok green"></span>{% endif %}
                    </td>
                    <td class="center">
                        {% if pedido.fechaEnvio %}<span class="glyphicon glyphicon-ok green"></span>{% endif %}
                    </td>
                    <td class="center">
                        {% if presenters[pedido.id].facturaIsProcessed or pedido.fechaFacturacion %}
                            <span class="glyphicon glyphicon-ok green"></span>
                        {% elseif presenters[pedido.id].hasFacturaCreated %}
                            <span class="glyphicon glyphicon-ok grey"></span>
                        {% endif %}
                    </td>
                    <td>
                        {{pedido.envio.typeName}}
                    </td>
                    <td>{% if pedido.fechaCreacion %}{{ pedido.fechaCreacion|date('d/m/Y H:i') }}{% endif %}</td>
                    <td class="text-right">
                        <div class="inline-block">
                            <a href="{{ path('backend_pedido_factura_show', {id: pedido.id}) }}" title="Ver Factura">
                                <span class="glyphicon glyphicon-list-alt list-actions"></span>
                            </a>
                        </div>
                        <div class="inline-block">
                            <a href="{{ path('backend_pedido_factura_create', {id: pedido.id}) }}" title="Crear Factura">
                                <span class="glyphicon glyphicon-file list-actions"></span>
                            </a>
                        </div>

                        <div class="inline-block">
                            <a href="{{ path('backend_pedido_cajas', {id: pedido.id}) }}" title="Ver Cajas">
                                <span class="glyphicon glyphicon-inbox list-actions"></span>
                            </a>
                        </div>
                        <div class="inline-block">
                            <a href="{{ path('backend_pedido_mails', { id: pedido.id }) }}" title="Envio de Mails del Pedido">
                                <span class="glyphicon glyphicon glyphicon-envelope list-actions" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="inline-block">
                            <a href="{{ path('backend_pedido_edit', { id: pedido.id }) }}" title="Editar Pedido">
                                <span class="glyphicon glyphicon-pencil list-actions" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="inline-block">
                            <a href="{{ path('backend_pedido_show', {id: pedido.id}) }}" title="Ver Pedido">
                                <span class="glyphicon glyphicon-eye-open list-actions"></span>
                            </a>
                        </div>
                        {% if pedido.getFechaBaja %}
                        <div class="inline-block">
                            <a href="{{ path('backend_pedido_reactivate', {id: pedido.id}) }}" title="Reactivar Pedido">
                                <span class="glyphicon glyphicon-refresh list-actions"></span>
                            </a>
                        </div>
                        {% endif %}
                        <div class="inline-block">
                            {{ form_start(desarmar_pedidos_forms[pedido.id], {attr:{'class':'inline-block'}}) }}
                            {{ form_widget(desarmar_pedidos_forms[pedido.id]) }}
                            <button type="submit" class="delete js-sure-desarmar" title="Desarmar Pedido" />
                                <span class="glyphicon glyphicon-remove-sign list-actions"></span>
                            </button>
                            {{ form_end(desarmar_pedidos_forms[pedido.id]) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="navigation col-sm-12 pedido-listado">
    <div class="row">
        <div class="col-md-6">
            {#{{ form_start(form_bulk, {'attr' : {'id':'form_bulk'}}) }}
                {{ form_widget(form_bulk.facturar) }}
                {% do form_bulk.pedidos.setRendered %}
            {{ form_end(form_bulk) }}
            #}
            <a href="{{ path('backend_reporte_facturas') }}" class="btn btn-default pull-left">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Reporte Facturacion
            </a>
            <a href="{{ path('backend_reporte_pedidos') }}" class="btn btn-default pull-left">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Reporte Pedidos
            </a>
 
            <a href="{{ path('backend_bejerman_comprobantes') }}" class="btn btn-default pull-left">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Exportación a Bejerman
            </a>
        </div>
        <div class="col-sm-6 text-right">{{ knp_pagination_render(pagination) }}</div>
    </div>
    <div class="row">
        <div class="col-sm-12 resultados text-right">
          {{ pagination.getTotalItemCount }} resultados encontrados <span class="divider-vertical"></span> Mostrando {{pagination.currentPageNumber}} de {{ pagination.getPageCount }} páginas
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/backend/desarmar-confirm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/backend/datepicker.js') }}"></script>
{% endblock %}
