{% extends 'backend/layout.html.twig' %}

{% block main %}
    {{ include('backend/common/flash.html.twig') }}
    <div class="col-sm-12 titulo">
      <span>Pedido #{{ pedido.id }}{{ pedido.fechaBaja ? '[Cancelado]' : ''}}</span>
    </div>
    <div class="row spaced-row ">
        <div class="col-sm-4"> 
            <label>Email:</label><div class="inline"> {{pedido.usuario.email}}</div>
        </div>
    </div>
    <div class="row spaced-row pedido-send-mail-container">
        <div class="col-sm-4"> 
            <div class="inline bold">Pagado?</div>
            {% if pedido.isPaid %}
                <span class="glyphicon glyphicon-ok"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
            <div>Mails de compra enviados: {{compra_mails_count}}</div>
            {{ form_start(compra_mail_form,  {'attr': {'novalidate': 'novalidate'}}) }}
            <div>
                {{form_row(compra_mail_form.paid, {'attr': {'class': 'paid' }} ) }}
                <input class="btn btn-primary btn-send-compra-mail" type="submit" value="Enviar mail de Compra" />
            </div>
            {{ form_end(compra_mail_form) }}
        </div>
        <div class="col-sm-4"> 
            
            <div class="inline bold">Enviado?</div>
            {% if pedido.isSent %}
                <span class="glyphicon glyphicon-ok"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
            <div>Mails de {{envio_is_pickup ? 'retiro ': 'envio' }} enviados: {{envio_mails_count}}</div>
            {{ form_start(envio_mail_form,  {'attr': {'novalidate': 'novalidate'}}) }}
            <div>
                {% if not envio_is_pickup %}
                    {{form_label(envio_mail_form.num_seguimiento) }}:    
                {% endif %}
                {{form_widget(envio_mail_form.num_seguimiento, {'attr': {'class': envio_is_pickup ? "hidden" : "form-control num-seguimiento inline" }} ) }}
            </div>
                {{form_row(envio_mail_form.sent, {'attr': {'class': 'sent' }} ) }}
            <div>
                <input class="btn btn-primary btn-send-envio-mail" type="submit" 
                value='{{ envio_is_pickup ? "Enviar mail de Retiro" : "Enviar mail de Envio con numero de seguimiento"}}' />
            </div>
            {{ form_end(envio_mail_form) }}
        </div>
        <div class="col-sm-4"> 
            <div>Mails de pago pendiente enviados: {{pago_mails_count}}</div>
            {{ form_start(pago_mail_form,  {'attr': {'novalidate': 'novalidate'}}) }}
            <div>
                {{form_widget(pago_mail_form.paid) }}
                <input class="btn btn-primary btn-send-envio-mail" type="submit" 
                value="Enviar mail de Pago pendiente" />
            </div>
            {{ form_end(pago_mail_form) }}
        </div>

    </div>
    <div class="row spaced-row">
        <div class="col-sm-12">
            <div class="inline">
                <a class="btn btn-default" href="{{ path('backend_pedido_index') }}">Volver al Listado</a>
            </div>
            <div class="inline">
                <a class="btn btn-default" href="{{ path('backend_pedido_edit', { 'id': pedido.id }) }}">Editar Pedido</a>
            </div>
            <div class="inline">
                <a class="btn btn-default" href="{{ path('backend_pedido_show', { 'id': pedido.id }) }}">Ver Pedido</a>
            </div>
        </div>
    </div>
{% endblock %}
