{% extends 'backend/layout.html.twig' %}

{% block main %}
    {{ include('backend/common/flash.html.twig') }}
    <div class="col-sm-12 titulo">
      <span>Pedido #{{ pedido.id }}</span>
    </div>
    <div class="row spaced-row">
        <div class="col-sm-4">
            <div class=""> 
                <div class="inline bold">Id del Pedido</div>
                <div class="inline pull-right">{{ pedido.id }}</div>
            </div>
            <div class=""> 
                <div class="inline bold">DNI del Comprador</div>
                <div class="inline pull-right">{{ pedido.dni }}</div>
            </div>
            <div class=""> 
                <div class="inline bold">E-mail</div>
                <div class="inline pull-right">{{ pedido.usuario.email }}</div>
            </div>
            <div class=""> 
                <div class="inline bold">Fecha de Pago</div>
                <div class="inline pull-right">{% if pedido.fechaPago %}{{ pedido.fechaPago|date('d/m/Y H:i') }}{% endif %}</div>
            </div>
            <div class="">                
                <div class="inline bold">Fecha de Envio</div>
                <div class="inline pull-right">{% if pedido.fechaEnvio %}{{ pedido.fechaEnvio|date('d/m/Y H:i') }}{% endif %}</div>
            </div>
            <div class="">                
                <div class="inline bold">Fecha de Facturacion</div>
                <div class="inline pull-right">{% if pedido.fechaFacturacion %}{{ pedido.fechaFacturacion|date('d/m/Y H:i') }}{% endif %}</div>
            </div>
            <div class="">
                
                <div class="inline bold">Fecha de Baja</div>
                <div class="inline pull-right">{% if pedido.fechaBaja %}{{ pedido.fechaBaja|date('d/m/Y H:i') }}{% endif %}</div>
            </div>
            <div class="">                
                <div class="inline bold">Fecha de Creacion</div>
                <div class="inline pull-right">{% if pedido.fechaCreacion %}{{ pedido.fechaCreacion|date('d/m/Y H:i') }}{% endif %}</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class=""> 
                <div class="inline bold">Precio de Items</div>
                <div class="inline pull-right">${{ presenter.PrecioItems|number_format(2) }}</div>
            </div>
            <div class=""> 
                <div class="inline bold">Precio del Envio</div>
                <div class="inline pull-right">${{ presenter.PrecioEnvio|number_format(2) }}</div>
            </div>
            <div class=""> 
                <div class="inline bold">Descuento</div>
                <div class="inline pull-right">-${{ presenter.MontoDescontado|number_format(2) }}</div>
            </div>
            <div class=""> 
                <div class="inline bold">Precio Total</div>
                <div class="inline pull-right">${{ presenter.PrecioTotal|number_format(2) }}</div>
            </div>
        </div>
    </div>
    <h2>Detalle de la compra:</h2>
    <div class="row spaced-row">
        {% for item in pedido.items %}
            <div class="col-sm-3">
                <div class="pedido-show-item">
                    <a href="{{ path('backend_producto_show', {id: item.producto.id}) }}">
                        <div >
                            {% if item.producto.getFirstImage %}
                                <img class="img-responsive img-center" src="{{ vich_uploader_asset(item.producto.getFirstImage, 'imagen_archivo') }}">
                            {% else %}
                                <img src="{{ asset('img/producto-placeholder.png') }}" class="img-responsive img-center" alt="No hay una imagen disponible para este producto"/> 
                            {% endif %}
                        </div>
                    </a>
                    <div>
                        <div class="inline bold">Nombre:</div>
                        <div class="inline pull-right">{{ item.producto.nombre }}</div>
                    </div>
                    <div>
                        <div class="inline bold">Codigo SKU:</div>
                        <div class="inline pull-right">{{ item.producto.codigoSku }}</div>
                    </div>
                    <div>
                        <div class="inline bold">Cantidad:</div>
                        <div class="inline pull-right">{{ item.cantidad }}</div>
                    </div>
                    <div>
                        <div class="inline bold">Precio por Item:</div>
                        <div class="inline pull-right">${{ item.precio|number_format(2) }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2>Detalle del Envio ({{pedido.envio.getTypeName()}}):</h2>
        {{ include('backend/envio/common/show.html.twig', { 'envio': pedido.envio }) }}
    <ul>
        <div class="inline">
            <a class="btn btn-default" href="{{ path('backend_pedido_index') }}">Volver al Listado</a>
        </div>
        <div class="inline">
            <a class="btn btn-default" href="{{ path('backend_pedido_edit', { 'id': pedido.id }) }}">Editar</a>
        </div>

    </ul>
{% endblock %}
