{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container">
		<div class="confirm-mail dory-yellow-background">
			<h1>Chequeá tu e-mail</h1>
			<p>Te hemos enviado un correo electrónico para que actives tu cuenta a:<br><strong>{{user.email}}</strong></p>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}