{% extends 'frontend/layout.html.twig' %}


{% block main %}
	<div class="container">
		<div class="confirmed-mail background blue-back-small">
			<div class="row equal">
					<div class="col-xs-6">
						<img class="img-responsive" src="{{asset('img/happy-dory-nemo.png')}}">
					</div>
					<div class="col-xs-6">
						<div class="flex-center-vertically text">
							<p>{{message|raw}}</p>
							<div>
								<a class="link-button" href="{{path('homepage')}}">Continuar</a>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
