{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}
{% block body_html %}
	<div style="text-align:center;">
		{# <img src="http://ec2-54-205-214-180.compute-1.amazonaws.com/img/logo.png"  #}
		<img src="{{ absolute_url(asset('img/logo.png')) }}"
		style="text-align:center; width:300px;" alt="Piñata"/>
	</div>
	<div style="background-color: #eee;text-align:center; padding: 40px 0">
		<h1 style="color:#28adf7;font-size:36px">Activación de Cuenta</h1>
		<p style="font-size:20px;">
			Hola {{user.nombre}}!
		</p>
		<p style="text-align:center">
			<div style="padding: 20px 0; font-size:18px">Para activar tu cuenta te pedimos ingreses al siguiente link:</div>
			<div style="padding: 20px 0; font-size:18px; color:#28adf7;">
				<a style="color:#28adf7;" href="{{confirmationUrl}}">{{confirmationUrl}}</a>
			</div>
			<div style="padding: 20px 0; font-size:18px">Recordá que este enlace se utiliza solo una vez.</div>
			<div style="padding: 20px 0; font-size:18px">Atentamente</div>
			<div style="padding: 20px 0; font-size:18px">El equipo de Piñata.</div>
		</p>
	</div>
	<img style="width:100%" src="{{ absolute_url(asset('img/footer-wave-2.png')) }}">
	<div style="padding: 40px 0 0 0">
		<table cellpadding="0" cellspacing="0" width="100%">
		   <tr>
				<td align="left" style="border-right: 1px solid #000">
			   		<img src="{{ absolute_url(asset('img/candado.png')) }}"> <div style="display: inline;vertical-align: middle;">Compra Segura</div>
				</td>
				<td align="left">
					<img src="{{ absolute_url(asset('img/truck.png')) }}"> <div style="display:inline;vertical-align: middle;">Envíos a todo el país</div>
				</td>
				<td align="center">
					<a href="">
						{# <img src="http://ec2-54-205-214-180.compute-1.amazonaws.com/img/redes-hover.png"  #}
						<img src="{{ absolute_url(asset('img/redes-hover.png')) }}" 
						style="object-position: -5px 0px;
								width: 33px;
								height: 40px;
								object-fit: cover;
								max-height: 40px;">
					</a>
					<a href="">
						{# <img src="http://ec2-54-205-214-180.compute-1.amazonaws.com/img/redes-hover.png"  #}
						<img src="{{ absolute_url(asset('img/redes-hover.png')) }}" 
							style="object-position: -42px 0px;
								width: 33px;
								height: 40px;
								object-fit: cover;
								max-height: 40px;"
							>
					</a>
					<a href="">
						{# <img src="http://ec2-54-205-214-180.compute-1.amazonaws.com/img/redes-hover.png"  #}
						<img src="{{ absolute_url(asset('img/redes-hover.png')) }}" 
						style="object-position: -80px 0px;
								width: 33px;
								height: 40px;
								object-fit: cover;
								max-height: 40px;">
					</a>
				</td>
				<td align="right">
					® 2018 Piñata Todos los derechos reservados.
				</td>
		   </tr>
		</table>
	</div>
{% endblock %}


