{{ form_start(form, {'method': 'post', 'action': path('frontend_checkout'), 'attr': {'class': 'fos_user_registration_register', 'novalidate': 'novalidate'}}) }}
{# <div class="row spaced-row"> #}
		<div class="row"> 
			<div class="field col-md-6">
				<div>{{ form_label(form.name) }} </div>
				<div>{{ form_widget(form.name) }}</div>
				<div>{{ form_errors(form.name) }}</div>
			</div>
			<div class="field col-md-6">
				<div>{{ form_label(form.lastname) }}</div>
				<div>{{ form_widget(form.lastname, {attr:{'class':''}}) }} </div>
				<div>{{ form_errors(form.lastname) }}</div>
			</div>
        </div>
        <div class='row'>
			<div class="field col-md-6">
                <div>{{ form_label(form.email) }}</div>
				<div>{{ form_widget(form.email, {attr:{'class':''}}) }}</div>
				<div>{{ form_errors(form.email) }}</div>
			</div>
			<div class="field col-md-6">
				<div>{{ form_label(form.telefono) }}</div>
				<div>{{ form_widget(form.telefono, {attr:{'class':''}}) }}</div>
				<div>{{ form_errors(form.telefono) }}</div>
			</div>
        </div>
        <div class='row'>
			<div class="field col-md-6">
				<div>{{ form_label(form.plainPassword.first) }}</div>
				<div>{{ form_widget(form.plainPassword.first, {attr:{'class':''}}) }} </div>
				<div>{{ form_errors(form.plainPassword.first) }}</div>
			</div>
			<div class="field col-md-6">
				<div>{{ form_label(form.plainPassword.second) }} </div>
				<div>{{ form_widget(form.plainPassword.second, {attr:{'class':''}}) }} </div>
				<div>{{ form_errors(form.plainPassword.second) }}</div>
			</div>
        </div>

        <div class="field termsLinkContainer row">
            <div class='row'>
                <a target='blank' href="{{path('frontend_static_terminos')}}" class="terms-link">Leer términos y condiciones</a>
            </div>
            <div class='row'>
                {{ form_widget(form.terms, {attr:{'class':'terms-checkbox'}}) }} 
                {{ form_label(form.terms) }}
            </div>
            <div>{{ form_errors(form.terms)}}</div>
        </div>
        <div class='registerSubmitContainer'>
            <input type="submit" class='registerSubmit' value="Registrarme" />
        </div>
{# </div> #}
{{ form_end(form) }}
