{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
        <span>Edición de Usuario</span>
    </div>

    <div class="container-fluid form-filtros">
        {{ include('backend/common/flash.html.twig') }}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row spaced-row">
            <div class="col-sm-6"> {{ form_row(form.name, {attr:{'class':'form-control'}}) }} </div>
            <div class="col-sm-6"> {{ form_row(form.lastname, {attr:{'class':'form-control'}}) }} </div>
        </div>
        <div class="row spaced-row">
            <div class="col-sm-6"> {{ form_row(form.email, {attr:{'class':'form-control'}}) }} </div>
            <div class="col-sm-6"> {{ form_row(form.telefono, {attr:{'class':'form-control'}}) }} </div>
        </div>
        <div class="row spaced-row">
            <div class="col-sm-6"> 
                {{ form_row(form.plainPassword.first, {attr:{'class':'form-control'}}) }} 
                {{ form_row(form.plainPassword.second, {attr:{'class':'form-control'}}) }} 
            </div>
            <div class="col-sm-6"> 
                <div class="col-sm-6">{{ form_row(form.roles, {attr:{'class':'form-control'}}) }} </div>
            </div>
        </div>

        <div class="row spaced-row">
            <div class="col-sm-6"> {{ form_row(form.enabled) }} </div>
        </div>

        <div class="row spaced-row">
            <div class="col-sm-12">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
                <a href="{{ path('backend_usuario_index') }}" class="btn btn-default">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
