{% extends 'backend/layout.html.twig' %}

{% block main %}
<!-- begin main -->
<div class="titulo">
  <span>Listado de usuarios</span><span id="mensage"></span>
</div>
{{ include('backend/common/flash.html.twig') }}
<div class="row">
    <div class="col-md-12">
        <div class="filtros">
            <div class="container-fluid form-filtros">
                {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                <div class="row inputs">
                    <div class="col-sm-4 col-md-4">
                        {{ form_row(form.username, {attr:{'class':'form-control'}}) }}
                    </div>
                    <div class="col-sm-4 col-md-3">
                        {{ form_row(form.email, {attr:{'class':'form-control'}}) }}
                    </div>
                    <div class="col-sm-4 col-md-5">
                        {{ form_row(form.roles, {attr:{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <a href="{{ path('backend_usuario_index') }}" class="btn btn-default ">
                            <i class="fa fa-times" aria-hidden="true"></i> Limpiar Filtros Aplicados
                        </a>
                        <input type="submit" value="Buscar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            {{ form_end(form) }}     
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Registro</th>
            <th class="text-right">Acciones</th>
          </tr>
        </thead>
        <tbody>
          	{% for usuario in pagination %}
			<tr>
				<td>{{ usuario.username }}</td>
				<td>{{ usuario.nombre }}</td>
				<td>{{ usuario.apellido }}</td>
                <td>{{ usuario.createdAt ? usuario.createdAt|date('d/m/Y H:i') : '' }}</td>
				<td class="text-right">
					<a href="{{ path('backend_usuario_edit', { id: usuario.id }) }}">
						<span class="glyphicon glyphicon-pencil list-actions" aria-hidden="true"></span>
					</a>
					<a href="{{ path('backend_usuario_show', {id: usuario.id}) }}">
						<span class="glyphicon glyphicon-eye-open list-actions"></span>
					</a>
					<div class="inline-block">
                        {{ form_start(delete_forms[usuario.id], {attr:{'class':'inline-block'}}) }}
                        {{ form_widget(delete_forms[usuario.id]) }}
                        <button type="submit" class="delete js-sure-delete" />
                            <span class="glyphicon glyphicon-remove-sign list-actions"></span>
                        </button>
                        {{ form_end(delete_forms[usuario.id]) }}
                    </div>
				</td>
			</tr>
			{% endfor %}
        </tbody>
      </table>
    </div>
</div>
<div class="navigation col-sm-12">
    <div class="row">
    	<div class="col-sm-6">
    		<a href="{{ path('backend_usuario_new') }}" class="btn btn-default pull-left">
    			<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Crear Usuario
    		</a>
            <a href="{{ path('backend_reporte_usuarios') }}" class="btn btn-default pull-left">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Reporte de Usuarios
            </a>
            <a href="{{ path('backend_reporte_suscriptos') }}" class="btn btn-default pull-left">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Reporte de Suscriptos
            </a>
    	</div>

        <div class="col-sm-6 text-right">{{ knp_pagination_render(pagination) }}</div>
    </div>
        <!--
          <div class="count col-sm-12 paginator-message">
          Se han encontrado {{ pagination.getTotalItemCount }} resultados
        </div>
        -->
    <div class="row">
        <div class="col-sm-12 resultados text-right">
          {{ pagination.getTotalItemCount }} resultados encontrados <span class="divider-vertical"></span> Mostrando {{pagination.currentPageNumber}} de {{ pagination.getPageCount }} páginas
        </div>

    </div>
</div>
<!-- end main -->
{% endblock %}


{% block javascripts %}
<!-- javascript -->
{% endblock %}
