{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>Vista de Usuario</span>
	</div>
		
 	<div class="container-fluid form-filtros">
	<div class="row spaced-row">
		<div class="col-sm-6"> 
			<div class="inline bold">Nombre:</div>
			<div class="inline">{{ usuario.nombre }}</div>
		</div>
		<div class="col-sm-6">
			<div class="inline bold">Apellido:</div>
			<div class="inline">{{ usuario.apellido }}</div>
		</div>
	</div>
	<div class="row spaced-row">
		<div class="col-sm-6">
			<div class="inline bold">Email:</div>
			<div class="inline">{{ usuario.email }}</div>
		</div>
		<div class="col-sm-6"> 
			<div class="inline bold">Nombre de Usuario:</div>
			<div class="inline">{{ usuario.username }}</div>
		</div>
	</div>
	<div class="row spaced-row">
		<div class="col-sm-6">
			<div class="inline bold">Teléfono:</div>
			<div class="inline">{{ usuario.telefono }}</div>
		</div>
		<div class="col-sm-6"> 
			<div class="inline bold">Fecha de Registracion:</div>
			<div class="inline">{{ usuario.createdAt ? usuario.createdAt|date('d/m/Y H:i') : '' }}</div>
		</div>
	</div>

	<div class="row spaced-row">
		<div class="col-sm-6">
			<div class="inline bold">Activo:</div>
			<div class="inline">{% if usuario.enabled %} 
					<span class="glyphicon glyphicon-ok green"></span>
				{% else %}
					<span class="glyphicon glyphicon-remove red"></span>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row spaced-row">
		<div class="col-sm-12">
			<a href="{{ path('backend_usuario_index') }}" class="btn btn-default">
 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
			</a>
			<a href="{{ path('backend_usuario_edit', { id: usuario.id }) }}" class="btn btn-default" >
				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Editar Usuario
			</a>
			<a href="{{ path('backend_usuario_delete', {id: usuario.id}) }}" class="btn btn-danger js-sure-delete">
				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Borrar Usuario
			</a>
		</div>    
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
