.container{width: 430px; 
	margin: auto; 
	padding: 40px; 
	margin-top:50px;
	border: 2px solid #f93884;
	border-radius: 10px;
}
input[type=submit]{
	font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #f93884;
    background-color: #f93884;
    border-radius: 4px;
    padding: 10px 92px;
    /*padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 92px;
    padding-right: 92px;*/
    cursor:pointer;
}
.inline-block{display: inline-block;}
.padding20{padding: 20px}
.height50{height: 50px;}
.center{text-align: center;}
.left{float: left}
.right{float: right}
.height40{height: 40px;}
.padding-top10{padding: 10px 0;}
.form-control{
	width: 235px;
    display: block;
    height: 22px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type="checkbox" i].remember{margin: 15px 3px 3px 3px}
label.remember{margin: 15px 1px 1px 1px}

input:-webkit-autofill {
  background-color: #f93884 !important;
  background-image:none !important;
  color: #000000 !important;
}	

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.error{ height: 0; }
.authenticated{ 
    text-align: left;
    margin: 0 0 12px 0;
}
.authenticated a{text-decoration: none}
.authenticated a:visited{color: #f93884}