<h3>Aviso automático de stock</h3>


<p>El producto "{{producto.getNombre}}" de id "{{producto.getId}}" se está quedando sin stock!</p>
Accedé al producto <a href='http://www.pinataweb.com.ar{{path('backend_producto_edit', { id: producto.id })}}'>acá</a>

