{% block body_html %}
	<div style="text-align:center;">
		{# <img src="http://ec2-54-205-214-180.compute-1.amazonaws.com/img/logo.png"  #}
		<img src="{{ absolute_url(asset('img/logo.png')) }}"
		style="text-align:center; width:300px;" alt="Piñata"/>
	</div>
	<div style="background-color: #eee;text-align:center; padding: 40px 0">
		<h1 style="color:#28adf7;font-size:36px">Tu Compra fue realizada con éxito</h1>
		<p style="font-size:20px;">
			¡Hola {{user.nombre}}!
		</p>
		<p style="text-align:center">
			<div style="padding: 20px 0; font-size:18px">Gracias por tu compra. Estamos procesando tu orden.</div>
		</p>
	</div>
	<img style="width:100%" src="{{ absolute_url(asset('img/footer-wave-2.png')) }}">
	<div style="text-align:center;">
		<h2 style="text-align:center;color:#28adf7;font-size:36px">Detalles de tu compra</h2>
	</div>

	<table align="center">
		<tbody>
			{% set total = 0 %}
			{% for item in items %}
				<tr class="item" style="border-bottom: solid 1px #f0f1f3;">
					<td style="border-bottom:solid 1px #f0f1f3">
						{% if item.producto.getFirstImage %}
							<img style="width:150px" src="{{ absolute_url(vich_uploader_asset(item.producto.getFirstImage, 'imagen_archivo')) }}">
						{% else %}
							<img style="width:150px" src="{{ absolute_url(asset('img/producto-placeholder.png')) }}" class="img-responsive img-center" alt="No hay una imagen disponible para este producto"/> 
						{% endif %}
					</td>
					<td style="border-bottom:solid 1px #f0f1f3">
						<p style="font-size: 20px; margin: 0 0 5px 0;">{{item.producto.nombre}}</p>
						<p style="font-size: 12px; margin: 0;">Código {{ item.producto.codigoSku}}</p>
					</td>
					<td style="border-bottom:solid 1px #f0f1f3; text-align:center;font-size: 18px;">
						{{ item.cantidad }}
					</td>
					{% set precio_unidad = item.producto.precioOferta ? item.producto.precioOferta : item.producto.precio %}
					{% set precio = precio_unidad * item.cantidad %}
					{% set total = total + precio %}
					<td style="border-bottom:solid 1px #f0f1f3; color: #28adf7; font-size: 18px;">
						<p>
							${{ precio|number_format(2) }}
						</p>
					</td>
				</tr>
			{% endfor %}
		</tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <p style="font-size: 18px; text-align:right">Subtotal</p>
                </td>
                <td style="color: #28adf7; font-size: 18px;">
                    <p>${{precio_items|number_format(2)}}</p>
                </td>
            </tr>
            {% if not envio_is_pickup %}
            <tr>
                <td></td>
                <td></td>
                <td>
                    <p style="font-size: 18px; text-align:right">Envio</p>
                </td>
                <td style="color: #28adf7; font-size: 18px;">
                    {{ precio_envio == 0 ? '' : '$'}}
                    {{ precio_envio == 0 ? 'Gratis' : precio_envio|number_format(2) }}
                </td>
            </tr>
            {% endif %}
            {% if monto_descontado %}
            <tr>
                <td></td>
                <td></td>
                <td>
                    <p style="font-size: 18px; text-align:right">Descuento</p>
                </td>
                <td style="color: #28adf7; font-size: 18px;">
                    - ${{ monto_descontado|number_format(2) }}
                </td>
            </tr>
            {% endif %}

            <tr><td colspan="4"></tr>
            <tr><td colspan="4"></tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <p style="color: #28adf7; font-size: 18px; text-align:right">Total</p>
                </td>
                <td style="color: #28adf7; font-size: 18px;">
                    ${{ precio_descuento|number_format(2) }}	
                </td>
            </tr>
        </tfoot>
    </table>
	{{ include('frontend/emails/footer.html.twig') }}
{% endblock %}
