{% block body_html %}
	<div style="text-align:center;">
		{# <img src="http://ec2-54-205-214-180.compute-1.amazonaws.com/img/logo.png"  #}
		<img src="{{ absolute_url(asset('img/logo.png')) }}"
		style="text-align:center; width:300px;" alt="Piñata"/>
	</div>
	<div style="background-color: #eee;text-align:center; padding: 40px 0">
		<h1 style="color:#28adf7;font-size:36px">Tu pedido fue enviado</h1>
		<p style="font-size:20px;">
			¡Hola {{nombre}}!
		</p>
		<p style="text-align:center">
			<div style="padding: 20px 0; font-size:18px">Tu pedido ya está en camino.</div>
            <div style="font-size:18px">Tu N° de Seguimiento es {{num_seguimiento}} y podés verificar su estado ingresando en <a href='https://www.aftership.com/couriers/oca-ar'>https://www.aftership.com/couriers/oca-ar</a></div>
		</p>
	</div>
	<img style="width:100%" src="{{ absolute_url(asset('img/footer-wave-2.png')) }}">

	{{ include('frontend/emails/footer.html.twig') }}
{% endblock %}
