<div style="padding: 40px 0 0 0">
	<table cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td colspan="4" align="center"><p style="font-size: 18px; padding: 30px 0 50px 0;">Si tenés dudas o consultas sobre tu compra por favor envianos<br>un mail a <span style="color:#28adf7;">{{email_contato}}<span></p></td>
		<tr>
		 <tr>
			<td align="right">
					<div style="margin: -33px 10px 0 49px;">Compra Segura&nbsp;&nbsp;|&nbsp;&nbsp;</div>
			</td>
			<td align="left">
				<div style="margin: -33px 0px 0 70px;">Envíos a todo el país</div>
			</td>
			<td align="center">
				<a href="{{social_facebook}}" style="text-decoration: none;">
					{# <img src="http://ec2-54-205-214-180.compute-1.amazonaws.com/img/redes-hover.png"#}
					<img src="{{ absolute_url(asset('img/redes-hover.png')) }}" 
					style="object-position: -5px 0px;
							width: 33px;
							height: 40px;
							object-fit: cover;
							max-height: 40px;">
				</a>
				<a href="{{social_instagram}}" style="text-decoration: none;">
					{# <img src="http://ec2-54-205-214-180.compute-1.amazonaws.com/img/redes-hover.png"#}
					<img src="{{ absolute_url(asset('img/redes-hover.png')) }}" 
						style="object-position: -42px 0px;
							width: 33px;
							height: 40px;
							object-fit: cover;
							max-height: 40px;"
						>
				</a>
				<a href="{{social_youtube}}" style="text-decoration: none;">
					{# <img src="http://ec2-54-205-214-180.compute-1.amazonaws.com/img/redes-hover.png"#}
					<img src="{{ absolute_url(asset('img/redes-hover.png')) }}" 
					style="object-position: -80px 0px;
							width: 33px;
							height: 40px;
							object-fit: cover;
							max-height: 40px;">
				</a>
			 </td>
			 <td align="right">
			 	® 2018 Piñata Todos los derechos reservados.
			 </td>
		</tr>
	</table>
</div>
