{% block body_html %}
	<div style="text-align:center;">
		<img src="{{ absolute_url(asset('img/logo.png')) }}"
		style="text-align:center; width:300px;" alt="Piñata"/>
	</div>
	<div style="background-color: #eee;text-align:center; padding: 40px 0">
		<p style="font-size:20px;">
			¡Hola!
		</p>
		<h1 style="color:#28adf7;font-size:36px">¡GRACIAS POR SUSCRIBIRTE!</h1>
		<p style="text-align:center; font-size:20px">
			Tenés un <span style="color:#28adf7;font-size:25px">{{descuento.valor}}% de descuento</span> para utilizar en tu primera compra
			<br /><br />
			Ingresá el siguiente código en el paso nº3 de tu compra (*)
			<br /><br />
			<span style="color:#28adf7;font-size:30px">{{descuento.codigo}}</span>
		</p>
		<p style="text-align:center">
			* No acumulable con otras promociones. Válido para ser utilizado por única vez.
		</p>
	</div>
	<img style="width:100%" src="{{ absolute_url(asset('img/footer-wave-2.png')) }}">

	{{ include('frontend/emails/footer.html.twig') }}
{% endblock %}