{% block body_html %}
	<div style="text-align:center;">
		<img src="{{ absolute_url(asset('img/logo.png')) }}"
		style="text-align:center; width:300px;" alt="Piñata"/>
	</div>
	<div style="background-color: #eee;text-align:center; padding: 40px 0">
		<h1 style="color:#28adf7;font-size:36px">Aún no finalizaste tu compra ¿Deseas hacerlo?</h1>
		<p style="font-size:20px;">
			¡Hola {{nombre}}!
		</p>
		<p style="text-align:center">
			<div style="padding: 20px 0; font-size:18px">Si querés finalizar tu compra ingresá al siguiente link:</div>
			<div style="font-size:18px">
				<a href="{{ mp_url }}" style="color:#28adf7;">
					{{ mp_url }}
				</a>
			</div>
		</p>
	</div>
	<img style="width:100%" src="{{ absolute_url(asset('img/footer-wave-2.png')) }}">

	{{ include('frontend/emails/footer.html.twig') }}
{% endblock %}