<div class="carrito-container">
	<a href="{{path('frontend_checkout_carrito')}}">
	    <span class="carrito"></span>
	    <span class="carrito-item-count" data="{{item_count}}">
	    	{% if 1 == item_count %}
	    		1 ítem
	    	{% else %}
	    		{{item_count}} ítems
	    	{% endif %}
	    </span>
	    <div class="add-success center" style="opacity: 0">¡Tu producto fue<br>agregado con éxito!</div>
	</a>
</div>