<div class="categorias-container visible-md visible-lg visible-xl">
    <ul style='margin-top: -25px;'class="categorias nav navbar-nav navbar-centered">
        {% for categoria in categorias %}
            <li class="{{ categoria.nombre == active ? 'active' : ''}}">
                <a class='categoriaLink visible-md visible-lg visible-xl'href="{{ path('frontend_categorias', {'slug': categoria.slug}) }}">{{categoria.nombre}}
                    {% if categoria.children|length %}
                    <i class='fa fa-caret-down pull-right' style='margin-top: 2px; margin-left: 5px;'></i>
                    {% endif %}
                </a>
            {% if categoria.children|length %}
                <ul>
                {% for sub in categoria.children %}
                <li class="has-sub"><a href="{{ path('frontend_categorias', {'slug': sub.slug}) }}">{{sub.nombre}}</a></li>
                    {% if not loop.last%}
                    <hr>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        </li>
       {% endfor %}
       {#<li>
            <a class="categoriaLink visible-md visible-lg visible-xl" href="{{ path('frontend_static_comerciales') }}"> Comerciales
            </a>
        </li>
        #}
       {% if mostrarSale %}
       <li>
            <a class="sale categoriaLink visible-md visible-lg visible-xl" href="{{ path('frontend_sale') }}"> Sale
            </a>
        </li>

        {% endif %}
        </div>
    </ul>
</div>
<div class='categoriasMobileContainer visible-sm visible-xs'>
    <ul class='categoriasMobile nav navbar-nav navbar-centered text-center'>
        <li class='categoriasToggle'> <a href='#'> Categorías    <i class='fa fa-caret-down'></i> </a></li>
        {% for categoria in categorias %}
        <li class="{{ categoria.nombre == active ? 'active' : ''}} categoriaMobileLi" style='display: none'>
            <a class='categoriaMobileLink' href="{{ path('frontend_categorias', {'slug': categoria.slug}) }}">{{categoria.nombre}}
            </a>
        </li>
        {% endfor %}
        {#<li class="categoriaMobileLi" style='display: none'>
            <a class='categoriaMobileLink' href="{{ path('frontend_static_comerciales') }}"> Comerciales
            </a>
        </li>
        #}
        <li class='categoriaMobileLi' style='display: none'>
            <a class="sale categoriaMobileLink" href="{{ path('frontend_sale') }}"> Sale
            </a>
        </li>
    </ul>
</div>
