<footer class='footerDesktop visible-md visible-lg visible-xl'>
    <div class="grey-background content">
        <div class="container">
            <div class='row subscribe-row'>
                <div class="col-md-9">
                    <div class='col-md-5'>
                        <div class="sub-title">¡Suscribite!</div>
                        <div class="novedades">¡Recibí nuestras novedades y promociones!</div>
                    </div>
                    <div class='col-md-7'>
                        {{ render(controller( 'AppBundle:Frontend/Layout:subscribe')) }}
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class="social pull-right">
                        <a href="{{ social_facebook }}" target="_blank">
                            <img src='{{ asset('img/facebook.png') }}'/>
                        </a>
                        <a href="{{ social_instagram }}" target="_blank">
                            <img src='{{ asset('img/instagram.png') }}'/>
                        </a>
                        <a href="{{ social_youtube }}" target="_blank">
                            <img src='{{ asset('img/youtube.png') }}'/>
                        </a>
                        <a href="{{ social_pinterest }}" target="_blank">
                            <img src='{{ asset('img/pinterest.png') }}'/>
                        </a>
                    </div>
                </div>
            </div>    
            <div class='icons-row'>
                <div class="icon-container">
                    <a href="{{path('frontend_static_comprar')}}">
                        <img src='{{asset('img/iconos_footer/icono_como-comprar.jpg')}}'>
                    </a>
                </div>
                <div class="icon-container">
                    <a href="{{path('frontend_static_formas_pago')}}">
                        <img src='{{asset('img/iconos_footer/icono_formas-de-pago.jpg')}}'>
                    </a>
                </div>
                <div class="icon-container">
                    <a href="{{path('frontend_static_envios')}}">
                        <img src='{{asset('img/iconos_footer/icono_envios.jpg')}}'>
                    </a>
                </div>
                <div class="icon-container">
                    <a href="{{path('frontend_static_consultas')}}">
                        <img src='{{asset('img/iconos_footer/icono_contacto.jpg')}}'>
                    </a>
                </div>
                <div class="icon-container">
                    <a href="{{path('frontend_static_faq')}}">
                        <img src='{{asset('img/iconos_footer/icono_preguntas-frecuentes.jpg')}}'>
                    </a>
                </div>
                <div style='clear: both'></div>
            </div>
            <div class='links-row'>
                <div class='margin-left'></div>
                <div class='links-container'>
                    <a href="{{path('frontend_static_registrarse')}}">Cómo registrarse</a><span class='link-separator'>|</span>
                    <a href="{{path('frontend_static_cambios')}}">Política de cambios</a><span class='link-separator'>|</span>
                    <a href="{{path('frontend_static_conocenos')}}">Conocenos</a><span class='link-separator'>|</span>
                    <a href="{{path('frontend_static_registrarse')}}">Compra segura</a><span class='link-separator'>|</span>
                    <a href="http://www.picapauonline.com.ar/">Contacto mayorista</a>           
                </div>
                <div class='margin-right'></div>
                <div style='clear: both'></div>
            </div>
            <hr class="bottom-divider">
            <div class='row rights-row'>
                <div class='col-md-4'>
                    <div class="copyright">® {{ "now"|date("Y") }} Piñata Todos los derechos reservados</div>
                </div>
                <div class='col-md-4 mediosPagoFooter'>
                    <img class='img img-responsive'src='{{asset("img/footer_medios_pago.png")}}'/>
                </div>
                <div class='col-md-4'>
                    <div class="privacy-terms">
                        <ul class="list-inline">
                            <li class="list-inline"><a href="{{ path('frontend_static_privacidad') }}">Política de Privacidad</a></li>
                            <li class="list-inline"><a href="{{ path('frontend_static_terminos') }}">Términos y condiciones</a></li>
                            <li class="list-inline"><a href="http://qr.afip.gob.ar/?qr=KN4xw1DgxCARg4BJiVFfbQ,," target="_F960AFIPInfo"><img style='width: 40px; margin-left: 15px; margin-top: -25px;' src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"></a></li>
                            <li class='list-inline'><img style='display: none;width: 120px; margin-left: -28px; margin-top: -25px;' src="{{ asset('img/cybermonday.png') }}" border="0"></li>
                            <li class='list-inline'><img style='width: 80px; margin-left: 0px;' src="{{ asset('img/cace_logo.png') }}" border="0"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
    </div>    
</footer>
<footer class='footerMobile visible-sm visible-xs'>
    <div class='row socialMobileRow'>
        <div class='col-sm-2 col-xs-2'></div>
        <div class='col-sm-8 col-xs-8'>
            <div class='col-sm-4 col-xs-3'>
                <a href="{{ social_facebook }}" target="_blank">
                    <img src='{{ asset('img/facebook.png') }}'/>
                </a>
            </div>
            <div class='col-sm-4 col-xs-3'>
                <a href="{{ social_instagram }}" target="_blank">
                    <img src='{{ asset('img/instagram.png') }}'/>
                </a>
            </div>
            <div class='col-sm-4 col-xs-3'>
                <a href="{{ social_youtube }}" target="_blank">
                    <img src='{{ asset('img/youtube.png') }}'/>
                </a>
            </div>
            <div class='col-sm-4 col-xs-3'>
                <a href="{{ social_pinterest }}" target="_blank">
                    <img src='{{ asset('img/pinterest.png') }}'/>
                </a>
            </div>

        </div>
        <div class='col-sm-2 col-xs-2'></div>
    </div>
    <div class='suscribeMobileRow text-center'>
        <div class="sub-title">¡Suscribite!</div>
        <div class="novedades">¡Recibí nuestras novedades y promociones!</div>
        <div class='row'>
            <div class='col-sm-2 col-xs-2'></div>
            <div class='col-sm-8 col-xs-8'>
                {{ render(controller( 'AppBundle:Frontend/Layout:subscribe')) }}
            </div>
            <div class='col-sm-2 col-xs-2'></div>
        </div>
    </div>
    <div class='afipLogo row text-center'>
        <a href="http://qr.afip.gob.ar/?qr=KN4xw1DgxCARg4BJiVFfbQ,," target="_F960AFIPInfo"><img style='width: 30px; margin-left: 0px; margin-top: 15px;' src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"></a>
        <img style='display:none; width: 80px; margin-left: 0px; margin-top: 15px;' src="{{ asset('img/cybermonday.png') }}" border="0">
        <img style='width: 80px; margin-left: -5px; margin-top: 15px;' src="{{ asset('img/cace_logo.png') }}" border="0">
    </div>
    <div class='footerMobileMediosPago row text-center'>
        <img src='{{asset("img/footer_medios_pago.png")}}'/>
    </div>
    <hr class="bottom-divider">
    <div class="copyright">® {{ "now"|date("Y") }} Piñata Todos los derechos reservados</div>
</footer>



{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/frontend/layout/footer.css') }}">
{% endblock %}
