{% if bloque %}
<div class="row row-marquesina-top" style='display:none background-color: #000'>
	{% for banner in bloque.banners %}
		<div class="col-md-12 col-sm-12">
			<div class="item">
				{% if banner.url %}
					<a href="{{banner.url}}">
				{% endif %}
					<img class="img-responsive marquesina-top" src="{{vich_uploader_asset(banner, 'imagen_archivo')}}">
                    <div class='marquesina-cross'><span>X</span></div>
				{% if banner.url %}
					</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
</div>

<style>
    .marquesina-cross {
        color: white;
        position: absolute;
        top: 5px;
        right: 45px;
        text-align: right;
        cursor: pointer;
    }
</style>

<script>
    $(document).ready(function() {
        if (!sessionStorage.hideMarquesina) {
            $('.row-marquesina-top').show();
        }
        $('.marquesina-cross').click(function() {
            $('.row-marquesina-top').hide();
            sessionStorage.hideMarquesina = true;
        });
    });
</script>
{% endif %}
