<div class="personajes-container">
	<div class="personajes-slider">
	    {% for personaje in personajes %}
	        <div class="personaje-img-container">
	            <a class="personaje-item" href="{{ path('frontend_personajes', {'slug': personaje.slug}) }}"><img class="img-responsive center" src="{{vich_uploader_asset(personaje, 'imagen_carousel_archivo')}}" title="{{personaje.nombre}}">
                    <div class="center personaje-nombre">{#personaje.nombre#}</div>
	            </a>

	        </div>
	    {% endfor %}
	</div>
</div>
