{{ form_start(form_subscribe, {attr: {novalidate: 'novalidate', 'class':'form-subscribe-footer'}}) }}
<div class="subscribe-container">
	<div class="subscribe-input-container inline">
		{{ form_widget(form_subscribe.email, {attr:{'class':'subscribe', 'placeholder' : 'E-mail'}}) }}
	</div>
	<div class="subscribe-button-container inline">
		<button class="subscribe-button">Suscribirme</button>
	</div>
</div>
{{ form_end(form_subscribe) }}