{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
      <span>{{title}}</span>
    </div>
    <div class="container-fluid">
        {{ include('backend/common/flash.html.twig') }}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-xs-12">
                <div class="row spaced-row">
                    <div class="col-sm-6"> {{ form_row(form.codigo, {attr:{'class':'form-control'}}) }} </div>
                    <div class="col-sm-6"> {{ form_row(form.tipo, {attr:{'class':'form-control tipo-descuento'}}) }} </div>
                </div>
                <div class="row spaced-row row-valor">
                    <div class="col-sm-6"> {{ form_row(form.valor, {attr:{'class':'form-control'}}) }} </div>
                </div>
                <div class="row spaced-row">
                    <div class="col-sm-4"> {{ form_row(form.montoMin, {attr:{'class':'form-control'}}) }} </div>
                    <div class="col-sm-4"> {{ form_row(form.montoMax, {attr:{'class':'form-control'}}) }} </div>
                    <div class="col-sm-4"> {{ form_row(form.montoDisponible, {attr:{'class':'form-control'}}) }} </div>
                </div>
                <div class="row spaced-row descuento-form-sale">
                    <div class="col-sm-12"> {{ form_row(form.excluirSale) }} </div>
                </div>
                <div class="row spaced-row">
                    <div class="col-sm-6"> {{ form_row(form.fechaDesde, {attr:{'class':'form-control js-datepicker'}}) }} </div>
                    <div class="col-sm-6"> {{ form_row(form.fechaHasta, {attr:{'class':'form-control js-datepicker'}}) }} </div>
                </div>
            </div>
        </div>
        <div class="row spaced-row">
            <div class="col-sm-3"> {{ form_row(form.activo, {attr:{'class':''}}) }} </div>
            <div class="col-sm-3"> {{ form_row(form.usoUnico, {attr:{'class':''}}) }} </div>
            <div class="col-sm-3"> {{ form_row(form.global, {attr:{'class':''}}) }} </div>
        </div>
        <div class="row spaced-row">
            <div class="col-sm-6"> 
                {{form_label(form.categorias)}}
                {{form_errors(form.categorias)}}
                <div class="form-descuento-restriccion">
                    {% for categoria in form.categorias %}
                        {{ form_row(categoria) }} 
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-6"> 
                {{form_label(form.personajes)}}
                {{form_errors(form.personajes)}}
                <div class="form-descuento-restriccion">
                    {% for personaje in form.personajes %}
                        {{ form_row(personaje) }} 
                    {% endfor %}
                </div>
            </div>
        </div>

        </div>
        <div class="row spaced-row">
            <div class="col-sm-12">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
                <a href="{{ path('backend_descuento_index') }}" class="btn btn-default">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
                </a>
            </div>    
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/backend/timepicker.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.tipo-descuento').change(function(){
            if ($(this).val() == 'ENVIO' ) {
                $('.row-valor').hide();
                $('.row-valor input').val('');
            }else{
                $('.row-valor').show();
            }
        })

        $('.tipo-descuento').trigger('change');
    
    });
    </script>
{% endblock %}
