{% extends 'backend/layout.html.twig' %}

{% block main %}
<div class="titulo">
  <span>Listado de Descuentos</span>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Tipo</th>
                    <th class="center">Uso Unico?</th>
                    <th class="center">Activo?</th>
                    <th class="center">Vigente</th>
                    <th class="text-right">Monto Mínimo</th>
                    <th class="text-right">Monto Máximo</th>
                    <th class="text-right">Monto Disponible</th>
                    <th class="text-right">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for descuento in descuentos %}
                <tr>
                    <td>{{ descuento.codigo }}</td>
                    <td>{{ descuento.tipoNombre }}</td>
                    <td class="center">{% if descuento.usoUnico %}Sí{% else %}No{% endif %}</td>
                    <td class="center">{% if descuento.activo %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                    <td class="center">{% if descuento.estaVigente %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                    <td class="text-right">{% if descuento.montoMin %}${{ descuento.montoMin }}{% else %}-{% endif %}</td>
                    <td class="text-right">{% if descuento.montoMax %}${{ descuento.montoMax }}{% else %}-{% endif %}</td>
                    <td class="text-right">{% if descuento.montoDisponible %}${{ descuento.montoDisponible }}{% else %}-{% endif %}</td>
                    <td class="text-right">
                        <a href="{{ path('backend_descuento_edit', { id: descuento.id }) }}">
                            <span class="glyphicon glyphicon-pencil list-actions" aria-hidden="true"></span>
                        </a>
                        <a href="{{ path('backend_descuento_show', {id: descuento.id}) }}">
                            <span class="glyphicon glyphicon-eye-open list-actions"></span>
                        </a>
                        <div class="inline-block">
                            {{ form_start(delete_forms[descuento.id], {attr:{'class':'inline-block'}}) }}
                            {{ form_widget(delete_forms[descuento.id]) }}
                            <button type="submit" class="delete js-sure-delete" />
                                <span class="glyphicon glyphicon-remove-sign list-actions"></span>
                            </button>
                            {{ form_end(delete_forms[descuento.id]) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <ul>
        <li>
            <a href="{{ path('backend_descuento_new') }}" class="btn btn-default">Crear Descuento</a>
        </li>
    </ul>
{% endblock %}
