{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="row spaced-row">
        <div class="col-xs-12">
            <span class="titulo">Descuento #{{ descuento.id }}</span>
        </div>
    </div>
    <div class="row spaced-row">
        <div class="col-sm-4">
            <div>
                <div class="inline bold">Codigo</div>
                <div class="inline pull-right">{{ descuento.codigo }}</div>
            </div>

            <div>
                <div class="inline bold">Tipo</div>
                <div class="inline pull-right">{{ descuento.tipoNombre }}</div>
            </div>

            <div>
                <div class="inline bold">Valor del Descuento</div>
                <div class="inline pull-right">{{ descuento.valorPrefix }}{{ descuento.valor ? descuento.valor : '-' }}</div>
            </div>
                        
            <div>
                <div class="inline bold">Uso único</div>
                <div class="inline pull-right">{% if descuento.usoUnico %}Sí{% else %}No{% endif %}</div>
            </div>

            <div>
                <div class="inline bold">Fecha Desde</div>
                <div class="inline pull-right">{% if descuento.fechaDesde %}{{ descuento.fechaDesde|date('d/m/Y H:i') }}{% endif %}</div>
            </div>

            <div>
                <div class="inline bold">Fecha Hasta</div>
                <div class="inline pull-right">{% if descuento.fechaHasta %}{{ descuento.fechaHasta|date('d/m/Y H:i') }}{% endif %}</div>
            </div>
                          
            <div>
                <div class="inline bold">Monto Mínimo</div>
                <div class="inline pull-right">{% if descuento.montoMin %}${{ descuento.montoMin }}{% else %}-{% endif %}</div>
            </div>

            <div>
                <div class="inline bold">Monto Máximo</div>
                <div class="inline pull-right">{% if descuento.montoMax %}${{ descuento.montoMax }}{% else %}-{% endif %}</div>
            </div>

            <div>
                <div class="inline bold">Monto Disponible</div>
                <div class="inline pull-right">{% if descuento.montoDisponible %}${{ descuento.montoDisponible }}{% else %}-{% endif %}</div>
            </div>

            <div>
                <div class="inline bold">El descuento no es aplicable a productos de Sale</div>
                <div class="inline pull-right">{% if descuento.excluirSale %}Sí{% else %}No{% endif %}</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div>
                <div class="bold">Personajes</div>
                <div class="">
                    <ul>
                        {% for personaje in descuento.personajes %}
                            <li>{{ personaje.nombre }}</li>
                        {% else %}
                            <li>-</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div>
                <div class="bold">Categorias</div>
                <div class="">
                    <ul>
                        {% for categoria in descuento.categorias %}
                            <li>{{ categoria.nombre }}</li>
                        {% else %}
                            <li>-</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row spaced-row">
        <div class="col-xs-12">
            <div class="inline">
                <a class="btn btn-default" href="{{ path('backend_descuento_index') }}">Volver al Listado</a>
            </div>
            <div class="inline">
                <a class="btn btn-default" href="{{ path('backend_descuento_edit', { 'id': descuento.id }) }}">Editar</a>
            </div>
            <div class="inline">
                {{ form_start(delete_form, { 'attr' : {'class' : 'inline'}}) }}
                    <input type="submit" class="btn btn-danger inline" value="Borrar">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
