{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>{{ titulo }}</span>
	</div>
 	<div class="container-fluid">
        {{ include('backend/common/flash.html.twig') }}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    	<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> <label>Tipo de Banner</label><br>{{ bloque_banner.getTipoDescripcion  }} </div>
			{{ form_widget(form.tipo, {attr:{'class':'form-control', 'style':'display:none'}}) }}
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.fechaDesde, {attr:{'class':'form-control js-datepicker'}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.fechaHasta, {attr:{'class':'form-control js-datepicker'}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.activo, {attr:{'class':''}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.ver_mobile, {attr:{'class':''}}) }} </div>
		</div>
		{{ form_row(form.orden) }}
		<div class="row spaced-row">
			<div class="col-sm-12">
				<label>Banners</label>
				{{ form_errors(form) }}
				<ul id="banners-list">

					{% for banner in form.banners %}
					<li class="banner">
						<div class="row spaced-row">
							<div class="col-md-4">
								{{ form_row(banner.imagen_archivo) }}
								{{ form_row(banner.video_archivo) }}
								<div>
									Si se elige subir un video, la imagen que se suba se utilizará para mostrar mientras se carga el video.
								</div>
							</div>
							<div class="col-md-3">
								{{ form_row(banner.url, {attr:{'class':'form-control'}}) }}
							</div>
							<div class="col-md-4">
								<div class="multimedia-container">
									{% if bloque_banner.getBannerByOrden(banner.vars.value.orden) %}
										{% if vich_uploader_asset(bloque_banner.getBannerByOrden(banner.vars.value.orden), 'imagen_archivo')  %}
											<img class="img-border img-responsive img-banner" src="{{ vich_uploader_asset(bloque_banner.getBannerByOrden(banner.vars.value.orden), 'imagen_archivo') }}">
										{% endif %}
										{% if vich_uploader_asset(bloque_banner.getBannerByOrden(banner.vars.value.orden), 'video_archivo')  %}
										<div class="banner-video-container">
											<video width="160" height="114	" controls>
											  <source src="{{ vich_uploader_asset(bloque_banner.getBannerByOrden(banner.vars.value.orden), 'video_archivo') }}">
											  Su navegador no soporta videos embebidos.
											</video>
										</div>
										{% endif %}
									{% endif %}
								</div>
							</div>
							<div class="col-md-1">
								<div class="pull-right arrows-container">
									<a href=""><span class="glyphicon glyphicon-remove-sign banner-edit-actions banner-remove"></span></a>
									<a href=""><span class="glyphicon glyphicon glyphicon-arrow-up banner-edit-actions banner-move-up"></span></a>
									<a href=""><span class="glyphicon glyphicon glyphicon-arrow-down banner-edit-actions banner-move-down"></span></a>
								</div>
							</div>
						</div>
						{{ form_row(banner.orden) }}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

        {{ include('backend/banner/form_edit_js.html.twig') }}

		<div class="row spaced-row">
			<div class="col-sm-12">
				<input type="submit" value="Guardar cambios" class="btn btn-primary" />
				<a href="{{ path('backend_banner_index') }}" class="btn btn-default">
	 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
				</a>
				<a href="{{ path('backend_banner_show', {id: bloque_banner.id}) }}" class="btn btn-default">
	 				<i aria-hidden="true"></i> Ver
				</a>
    			{{ form_end(form) }}
				{{ form_start(delete_form, {attr:{'class':'inline'}}) }}
                {{ form_widget(delete_form, {attr:{'class':'inline'}}) }}
                    <button type="submit" class="js-sure-delete btn btn-danger" />Borrar</button>
                {{ form_end(delete_form) }}
			</div>    
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript" src="{{ asset('js/backend/timepicker.js') }}"></script>
{% endblock %}
