<script type="text/javascript">

    var bannersCount = '{{ form.banners|length }}';
    var last_banner_has_errors = '{{ not form.vars.valid }}';
    var widget_template = '\
<div class="row spaced-row">\
    <div class="col-md-4">  \
        <div><label for="bloque_banner_form_banners___name___imagen_archivo">Imagen del Banner</label><input type="file" id="bloque_banner_form_banners___name___imagen_archivo" name="bloque_banner_form[banners][__name__][imagen_archivo]"></div>\
        <div><label for="bloque_banner_form_banners___name___video_archivo">Video del Banner</label><input type="file" id="bloque_banner_form_banners___name___video_archivo" name="bloque_banner_form[banners][__name__][video_archivo]"></div>\
        <div>\
            Si se elige subir un video, la imagen que se suba se utilizará para mostrar mientras se carga el video.\
        </div>\
    </div>\
    <div class="col-md-3"> \
        <div><label for="bloque_banner_form_banners___name___url">Url</label><input type="text" id="bloque_banner_form_banners___name___url" name="bloque_banner_form[banners][__name__][url]" maxlength="255" class="form-control"></div>\
    </div>\
    <div class="col-md-4"> \
        <input type="hidden" id="bloque_banner_form_banners___name___orden" name="bloque_banner_form[banners][__name__][orden]">\
    </div>\
    <div class="col-md-1">\
        <div class="pull-right arrows-container">\
            <a href=""><span class="glyphicon glyphicon-remove-sign banner-edit-actions banner-remove"></span></a>\
            <a href=""><span class="glyphicon glyphicon glyphicon-arrow-up banner-edit-actions banner-move-up"></span></a>\
            <a href=""><span class="glyphicon glyphicon glyphicon-arrow-down banner-edit-actions banner-move-down"></span></a>\
        </div>\
    </div>\
</div>';

jQuery(document).ready(function() {
    var count_widgets = jQuery('#banners-list li.banner').length;
    hideAndShowArrows();
    var tipo = jQuery('#bloque_banner_form_tipo').val();
    if('MAINBAN' ==  tipo || 'MAINMOB' == tipo || 'SECUBAN' == tipo || 'SECUMOB' == tipo){
        if( !last_banner_has_errors){
            addBannerWidget(bannersCount);
        }else {
            hideAndShowArrows();
        }
        jQuery('#banners-list li .banner-remove').last().remove();
        jQuery('#banners-list li .banner-move-up').last().remove();
        jQuery('#banners-list li .banner-move-down').last().remove();
        jQuery('#banners-list li.banner').last().prepend('<div><label>Agregar nuevo banner:</label><div>');
    }

    $(document).on('click', '.banner-remove', function(e){
        if(confirm("Desea borrar el banner?\nEl banner será borrado luego de guardar los cambios") ){
            this.closest('li').remove();
            var tipo = jQuery('#bloque_banner_form_tipo').val()
            if('MAINBAN' == tipo || 'MAINMOB' ==  tipo || 'SECUBAN' == tipo || 'SECUMOB' == tipo){
                addBannerWidget(count_widgets);
                count_widgets++;
            }

            reAssignOrder();
            hideAndShowArrows();
        }
        e.preventDefault();

    });

    $(document).on('click', '.banner-move-up, .banner-move-down', function(e){
        e.preventDefault();    
        var element = $( this ).closest('li');
        if ($(this).hasClass('banner-move-up')){
            before = element.prev();
            element.insertBefore(before);
        }else{
            after = element.next();
            element.insertAfter(after);
        }
        reAssignOrder();
        hideAndShowArrows();
    });

    function addBannerWidget(banner_number){
        var bannersList = jQuery('#banners-list');
        var newWidget = widget_template;
        newWidget = newWidget.replace(/__name__/g, banner_number);
        var newBanner = jQuery('<li class="banner"></li>').html(newWidget);
        newBanner.appendTo(bannersList);
        jQuery('#banners-list li').last().find('#bloque_banner_form_banners_'+banner_number+'_orden').val(banner_number);
    }

    function reAssignOrder(){
        $( "li input:hidden" ).each(function( index ) {
            $( this ).val(index)
        });
    }

    function hideAndShowArrows(){
        $( "li .banner-move-up" ).each(function( index ) {
            if (0 == index) {
                $( this ).css('display', 'none')
            }else{
                $( this ).css('display', 'inline-block')
            }
        });
        var total = $( "li .banner-move-down" ).length;
        $( "li .banner-move-down" ).each(function( index ) {
            if(total - 1 == index){
                $( this ).css('display', 'none')
            }else{
                $( this ).css('display', 'inline-block')
            }
        });

    }

})
</script>
