<script type="text/javascript">
    // keep track of how many email fields have been rendered
    var bannersCount = '{{ form.banners|length }}';
    var widget_template = '\
<div class="row spaced-row">\
    <div class="col-sm-4">  \
        <div><label for="bloque_banner_form_banners___name___imagen_archivo">Imagen del Banner</label><input type="file" id="bloque_banner_form_banners___name___imagen_archivo" name="bloque_banner_form[banners][__name__][imagen_archivo]"></div>\
        <div><label for="bloque_banner_form_banners___name___video_archivo">Video del Banner</label><input type="file" id="bloque_banner_form_banners___name___video_archivo" name="bloque_banner_form[banners][__name__][video_archivo]"></div>\
        <div>\
            Si se elige subir un video, la imagen que se suba se utilizará para mostrar mientras se carga el video.\
        </div>\
    </div>\
    <div class="col-sm-4"> \
        <div><label for="bloque_banner_form_banners___name___url">Url</label><input type="text" id="bloque_banner_form_banners___name___url" name="bloque_banner_form[banners][__name__][url]" maxlength="255" class="form-control"></div>\
    </div>\
    <div class="col-sm-4"> \
        <input type="hidden" id="bloque_banner_form_banners___name___orden" name="bloque_banner_form[banners][__name__][orden]">\
    </div>\
</div>';

jQuery(document).ready(function() {

    jQuery('#bloque_banner_form_tipo').change(function(e) {
        var tipo = $( this ).val()
        var numberOfBanners;
        jQuery('#banners-list li').remove()
        if ('MAINBAN' == tipo || 'SECUBAN' == tipo || 'MAINMOB' == tipo || 'SECUMOB' == tipo || 'MARQTOP' == tipo || 'MARQMOB' == tipo || 'MARQFOO' == tipo) {
            addBannerWidget(0);
        }else if('TERCIX3' == tipo){
            addBannerWidget(0);
            addBannerWidget(1);
            addBannerWidget(2);
        }else if('TERCIX4' == tipo){
            addBannerWidget(0);
            addBannerWidget(1);
            addBannerWidget(2);
            addBannerWidget(3);
        }
    });

    function addBannerWidget(banner_number){
        var bannersList = jQuery('#banners-list');
        var newWidget = widget_template;
        newWidget = newWidget.replace(/__name__/g, banner_number);
        var newBanner = jQuery('<li class="banner"></li>').html(newWidget);
        newBanner.appendTo(bannersList);
        jQuery('#banners-list li').last().find('#bloque_banner_form_banners_'+banner_number+'_orden').val(banner_number);
    }

})
</script>
