{% extends 'backend/layout.html.twig' %}

{% block main %}
<!-- begin main -->
<div class="titulo">
  <span>Listado de Bloques de Banners</span>
</div>
{{ include('backend/common/flash.html.twig') }}
<div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th class="center">Vigente</th>
            <th class="center">Activo</th>
            <th>Ordenar</th>
            <th class="text-right">Acciones</th>
          </tr>
        </thead>
        <tbody>
          	{% for bloque in pagination %}
			<tr>
				<td>{{ bloque.nombre }}</td>
                <td>{{ bloque.getTipoDescripcion }}</td>
                <td class="center">
                    {% if bloque.estaVigente %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
                </td>
                <td class="center">
                    {% if bloque.activo %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
                </td>
                <td>
                    {% set form_id = 'reorder_form_' ~ bloque.id %}
                    {{ form_start(reorder_forms[bloque.id], { attr:{'id':form_id}}) }}
                    {{ form_widget(reorder_forms[bloque.id]) }}
                        {% if not loop.first or show_arrow_for_first %}
                            <a href=""id="{{ bloque.id }}" onclick="$('#{{form_id}} #form_mover').val('arriba'); $('#{{form_id}}').submit();return false;" >
                                <span  class="glyphicon glyphicon glyphicon-arrow-up banner-edit-actions banner-move-up" ></span>
                            </a>
                        {% endif %}
                        {% if not loop.last or show_arrow_for_last %}
                            <a href="" id="{{ bloque.id }}" onclick="$('#{{form_id}} #form_mover').val('abajo'); $('#{{form_id}}').submit();return false;">
                                <span  class="glyphicon glyphicon glyphicon-arrow-down banner-edit-actions banner-move-down" ></span>       
                            </a>
                        {% endif %}

                    {{ form_end(reorder_forms[bloque.id]) }}
                </td>
                <td class="text-right">
                    <div class="inline-block">
                        <a href="{{ path('backend_banner_edit', { id: bloque.id }) }}">
                            <span class="glyphicon glyphicon-pencil list-actions" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="inline-block">
                        <a href="{{ path('backend_banner_show', {id: bloque.id}) }}">
                            <span class="glyphicon glyphicon-eye-open list-actions"></span>
                        </a>
                    </div>
                    <div class="inline-block">
                        {{ form_start(delete_forms[bloque.id], {attr:{'class':'inline-block'}}) }}
                        {{ form_widget(delete_forms[bloque.id]) }}
                        <button type="submit" class="delete js-sure-delete" />
                            <span class="glyphicon glyphicon-remove-sign list-actions"></span>
                        </button>
                        {{ form_end(delete_forms[bloque.id]) }}
                    </div>
				</td>
			</tr>
			{% endfor %}
        </tbody>
      </table>
    </div>
</div>
<div class="navigation">
    <div class="row">
    	<div class="col-sm-6">
    		<a href="{{ path('backend_banner_new') }}" class="btn btn-default pull-left">
    				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Crear Banner
    		</a>
    	</div>

        <div class="col-sm-6 text-right">{{ knp_pagination_render(pagination) }}</div>
    </div>
    <div class="row">
        <div class="col-sm-12 resultados text-right">
          {{ pagination.getTotalItemCount }} resultados encontrados <span class="divider-vertical"></span> Mostrando {{pagination.currentPageNumber}} de {{ pagination.getPageCount }} páginas
        </div>

    </div>
</div>
<!-- end main -->
{% endblock %}


{% block javascripts %}
{% endblock %}