{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>{{ titulo }}</span>
	</div>
 	<div class="container-fluid">
        {{ include('backend/common/flash.html.twig') }}

    {{ form_start(form, {'multipart':true, 'attr': {'novalidate': 'novalidate'}}) }}
    	<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.tipo, {attr:{'class':'form-control'}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.fechaDesde, {attr:{'class':'form-control js-datepicker'}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.fechaHasta, {attr:{'class':'form-control js-datepicker'}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.activo, {attr:{'class':''}}) }} </div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.ver_mobile, {attr:{'class':''}}) }} </div>
		</div>
		{{ form_row(form.orden) }}
		
		<div class="row spaced-row">
			<div class="col-sm-12">
				{{ form_errors(form) }}
				{# {{ form_row(form.banners)}} #}
				{# {{ form_row(form.banners) }} #}
				<ul id="banners-list">
					{% for banner in form.banners %}
					<li class="banner">
						<div class="row spaced-row">
							<div class="col-sm-4"> 	
								{{ form_row(banner.imagen_archivo) }}
								{{ form_row(banner.video_archivo) }}
								<div>
									Si se elige subir un video, la imagen que se suba se utilizará para mostrar mientras se carga el video.
								</div>
							</div>
							<div class="col-sm-4"> 
								{{ form_row(banner.url, {attr:{'class':'form-control'}}) }}
							</div>
							<div class="col-sm-4"> 
								{{ form_row(banner.orden) }}
							</div>
						</div>
					</li>
					{% endfor %}
			        {% do form.banners.setRendered %}
				</ul>
			</div>
		</div>
		{{form_row(form._token)}}
        {{ include('backend/banner/form_new_js.html.twig') }}



		<div class="row spaced-row">
			<div class="col-sm-12">
				<input type="submit" value="Guardar cambios" class="btn btn-primary" />
				<a href="{{ path('backend_banner_index') }}" class="btn btn-default">
	 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
				</a>
			</div>    
		</div>
	</div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/backend/timepicker.js') }}"></script>
{% endblock %}
