{% extends 'backend/layout.html.twig' %}




{% block main %}
    <div class="col-sm-12 titulo">
	  <span>Vista de Bloque de Banners</span>
	</div>
		
 	<div class="container-fluid form-filtros">
		<div class="row spaced-row">
			<div class="col-sm-6">
				<div class="inline bold">Nombre:</div>
				<div class="inline">{{ bloque.nombre }}</div>
			</div>
			<div class="col-sm-6">
				<div class="inline bold">Tipo:</div>
				<div class="inline">{{ bloque.getTipoDescripcion }}</div>
			</div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12">
				<div class="inline bold">Valido desde:</div>
				<div class="inline">{{ bloque.fechaDesde|date('d/m/Y H:i') }}</div>
				<div class="inline bold"> hasta  </div> 
				<div class="inline">{{ bloque.fechaHasta|date('d/m/Y H:i') }}</div>
			</div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12">
				<div class="inline bold">Activo?</div>
				<div class="inline">
					{% if bloque.activo %} 
						<span class="glyphicon glyphicon-ok"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove"></span>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12">
				<div class="inline bold">Vigente?</div>
				<div class="inline">
					{% if bloque.estaVigente %} 
						<span class="glyphicon glyphicon-ok"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove"></span>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row spaced-row">
			<div class="col-sm-12">
					{% if bloque.tipo == "MAINBAN" %}
						{{ include('backend/banner/bloques/carousel.html.twig', { 'bloque': bloque, 'id_carousel':'carousel_' ~ bloque.id }) }}
					{% elseif bloque.tipo == "SECUNX2" %}
						{{ include('backend/banner/bloques/banners_x2.html.twig', { 'bloque': bloque }) }}
					{% elseif bloque.tipo == "SECUNX3" %}
						{{ include('backend/banner/bloques/banners_x3.html.twig', { 'bloque': bloque }) }}
					{% elseif bloque.tipo == "SECU2X1" %}
						{{ include('backend/banner/bloques/banners_2_1.html.twig', { 'bloque': bloque }) }}
					{% elseif bloque.tipo == "SECU1X2" %}
						{{ include('backend/banner/bloques/banners_1_2.html.twig', { 'bloque': bloque }) }}
					{% endif %}
 				{# {% switch bloque.tipo %}
					{% case "MAINBAN" %}
						{{ include('backend/banner/bloques/carousel.html.twig', { 'bloque': bloque, 'id_carousel':'carousel_' ~ bloque.id }) }}
					{% case "SECUX2L" %}
						{{ include('backend/banner/bloques/banners_x2_grande.html.twig', { 'bloque': bloque }) }}
					{% case "SECUX3S" %}
						{{ include('backend/banner/bloques/banners_x3_chico.html.twig', { 'bloque': bloque }) }}
					{% case "SECUX2S" %}
						{{ include('backend/banner/bloques/banners_x2_chico.html.twig', { 'bloque': bloque }) }}
					{% case default %}
				{% endswitch %} #}
			</div>
		</div>
		
		<div class="row spaced-row">
			<div class="col-sm-12">
				<a href="{{ path('backend_banner_index') }}" class="btn btn-default">
	 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
				</a>
                <a href="{{ path('backend_banner_edit', { id: bloque.id }) }}" class="btn btn-default">
                    <i aria-hidden="true"></i> Editar
                </a>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript" src="{{ asset('js/common/video_play.js') }}"></script>
{% endblock %}
