header{
	margin: 0 0 25px 0;
}

.nav-logo{height: 50px; padding: 2px; margin: 0 0 0 10px;}
.navbar-default{
	border-radius: 0px !important;
	background-color: #333;
	background-image: none; 
}
.navbar-top.navbar-default .navbar-nav>li>a:hover{color: #fff}
.navbar-top.navbar-default .navbar-nav>li>a:focus{color: #fff}

a:focus{outline: none;}
a:hover{text-decoration: none}
.green{color: #008000;}
.red{color: #c73834;}
.grey{color: #808080;}

.center{text-align: center;}

.text-right{text-align: right;}

.width50{ width: 50px;}

.list-actions{ padding: 0 3px; }
.list-actions:focus{ outline: none; }

.inline{display: inline;}
.inline-block{display: inline-block;}
.bold{font-weight: bold;}
.titulo{
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: bold;
}

.filtros{
	border: 1px solid #ddd;
    padding: 15px 10px 20px 0;
    margin: 0 0 20px 0;
    border-radius: 5px;
}

.spaced-row{
	padding: 5px;
}

ul.pagination{
	margin: 0px;
}

.slider-text{
	border: 0;
    color: #f6931f;
    font-weight: bold;
    margin: 0 0 0 10px;
}

a{cursor: pointer;}

ul{
	list-style-type: none;
    padding: 0;
}


.flash-success{
    padding: 10px;
    border: 1px solid #04a204;
    border-radius: 5px;
    color: #04a204;
    margin: 0 0 10px 0;
}

.flash-error{
    padding: 10px;
    border: 1px solid #F44336;
    border-radius: 5px;
    color: #F44336;
    margin: 0 0 10px 0;
}

.flash-warning{
    padding: 10px;
    border: 1px solid #ff7a00;
    border-radius: 5px;
    color: #ff7a00;
    margin: 0 0 10px 0;   
}

.form-checkboxes > label{margin: 0 15px 0 5px;}

ul.validation-error-container{ padding: 10px; border: 1px solid #ff5050; border-radius: 7px; }
li.validation-error{ color: #ff5050 }

/*boton de play y pausa para video*/
.video-wrapper{
    display: grid;
 /* display:table;
    width:auto;
    position:relative;
    width:50%;*/
}
.playpause {
    background-image:url(/img/play_pause_resume_border.png);
    background-repeat:no-repeat;    
    width:20%;
    height:20%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
button.delete:focus{outline: none}
button.delete {
	background:none!important;
	border:none; 
	padding:0!important;
	text-decoration:none;
	text-decoration:underline;
	color: #337ab7
}

.img-border{
    display: inline-block;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 5px;
}

/*** Banners ABM ***/

/*img.personaje-show-full{
    display: inline-block;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 5px;
}

img.personaje-show-small{
	display: inline-block;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 5px;
    width: 49%;
}*/
@media (max-width: 992px) {
    .img-banner{ margin: 20px 0 0 0; }
    .arrows-container{padding: 10px 0 0 0}
}


.margin-auto{margin: auto;}
.banner-video-container{
	display: inline-block;
	width: 48%;
	vertical-align:top
}
.banner-video-container video{
    border: 1px solid #999;
    padding: 10px;
    border-radius: 5px;
}
.banner-edit-actions{font-size: 18px;}
#banners-list li{position: relative;}

#banners-list .banner{ 
	padding: 15px 10px; 
	margin: 10px 0 10px 0;
	border-radius: 5px;  }
#banners-list .banner:nth-child(odd) {background: rgba(27, 38, 134, 0.1)}
#banners-list .banner:nth-child(even) {background: #FFF}



/* Productos ABM */

.producto-imagenes li:nth-child(odd) {background: rgba(27, 38, 134, 0.1)}
.producto-imagenes li:nth-child(even) {background: #FFF}
.producto-imagen{ padding: 15px; border-radius: 15px; overflow: auto; }
.producto-imagenes .glyphicon{ font-size: 18px; }
.producto-imagen li{ max-height: 200px; }
.producto-imagen img{ max-height: 200px; }

/* Categorias ABM */
#subcategorias li{padding: 10px; border-radius: 15px;}
#subcategorias li:nth-child(odd) {background: rgba(27, 38, 134, 0.1)}
#subcategorias li:nth-child(even) {background: #FFF}

.categorias-orden li {
    margin-top: 10px;
    border-radius: 0;
}

/* Pedidos ABM */
.pedido-show-item{
    border: 1px solid #999;
    padding: 10px;
    margin: 5px;
}

.pedidos-form-filtros .js-datepicker{
    width: 100px;
}
.pedidos-form-filtros .desde, .pedidos-form-filtros .hasta{
    width: 60px;
    text-align: center;
}

.pedido-show-item img{
    max-height: 260px;
}

.pedido-send-mail-container{
    margin-bottom: 40px;
}

.pedido-send-mail-container .num-seguimiento{
    margin-bottom: 10px;
    width: 162px;
}

.pedido-cancelado{
    color: #c92a2a;
}

.navigation .btn{
    margin: 0 5px 0 0;
}

.pedido-listado #form_bulk {
    float: left;
    height: 60px;
}

.form-descuento-restriccion {
    overflow: scroll;
    height: 200px;
    border: solid #ccc 1px;
    border-radius: 5px;
    padding: 10px;
}

.form-descuento-restriccion input {
    float: left;
    margin: 5px 10px 0 0;
}

.descuento-form-sale input {
    float: left;
    margin: 5px 10px 0 0;
}