<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Piñata{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('js/jquery-ui/jquery-ui.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('bootstrap/fonts/glyphicons-halflings-regular.svg') }}">

            <link rel="stylesheet" href="{{ asset('css/backend/styles.css') }}" >
            
            <script type="text/javascript" src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>

            {# timepicker #}
            <link rel="stylesheet" href="{{ asset('js/jquery-timepicker/jquery-ui-timepicker-addon.css') }}">
            <script type="text/javascript" src="{{ asset('js/jquery-timepicker/jquery-ui-timepicker-addon.js') }}"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="navbar-default navbar-top" role="navigation">
                <div class="">
                    <div class="navbar-header">
                        <a class="" href="{{ path('backend_dashboard_index') }}">
                            <img src="{{ asset('img/nav-logo.png') }}" class="nav-logo" alt="Example"/> 
                        </a>
                        <div class="descripcion">
                            <span class="divider-vertical"></span> 
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a class="user" href="{{ path('backend_producto_index') }}">
                                    <i class="">Productos</i>
                                </a> 
                            </li>
                            <li class="divider-vertical"></li>
                            <li> 
                                <a href="{{ path('backend_categoria_index') }}">
                                    <i class="">Categorias</i>
                                </a>
                            </li>
                            <li> 
                                <a href="{{ path('backend_personaje_index') }}">
                                    <i class="">Personajes</i>
                                </a>
                            </li>
                            <li> 
                                <a href="{{ path('backend_modelo_index') }}">
                                    <i class="">Modelos</i>
                                </a>
                            </li>
                            <li> 
                                <a href="{{ path('backend_pedido_index') }}">
                                    <i class="">Pedidos</i>
                                </a>
                            </li>
                            <li> 
                                <a href="{{ path('backend_descuento_index') }}">
                                    <i class="">Descuentos</i>
                                </a>
                            </li>
                            <li> 
                                <a href="{{ path('backend_banner_index') }}">
                                    <i class="">Home</i>
                                </a>
                            </li>
                            <li> 
                                <a href="{{ path('backend_usuario_index') }}">
                                    <i class="">Usuarios</i>
                                </a>
                            </li>
                            <li> 
                                <a href="{{ path('backend_caja_index') }}">
                                    <i class="">Cajas</i>
                                </a>
                            </li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="user" href="#">
                                    <i class="fa fa-user"></i>
                                    {{ app.user.username }} 
                                </a> 
                            </li>
                            <li class="divider-vertical"></li>
                            <li> 
                                <a href="{{ path('backend_logout') }}">
                                    <i class="fa fa-power-off"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="main" class="col-sm-12 main-container" style="">
            {% block main %}
            {% endblock %}
        </div>

        <script type="text/javascript" src="{{ asset('js/backend/borrar-confirm.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
