{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{% if envio.type == 'DOM' %}
	<div class="row spaced-row">
		<div class="col-sm-6"> {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.apellido, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.calle, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-2"> {{ form_row(form.numero, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-2"> {{ form_row(form.piso, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-2"> {{ form_row(form.deptoNro, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.provincia, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.localidad, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.codigoPostal, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.telefono, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.correo_id, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.num_seguimiento, {attr:{'class':'form-control'}}) }} </div>
	</div>
	{% endif %}
	
	{% if envio.type == 'SUC' %}
	<div class="row spaced-row">
		<div class="col-sm-6"> {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.apellido, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.telefono, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.num_seguimiento, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.sucursalInfo, {attr:{'class':'form-control'}}) }} </div>
	</div>
	{% endif %}
	
	{% if envio.type == 'PIC' %}
	<div class="row spaced-row">
		<div class="col-sm-6"> {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.apellido, {attr:{'class':'form-control'}}) }} </div>
		<div class="col-sm-6"> {{ form_row(form.telefono, {attr:{'class':'form-control'}}) }} </div>
	</div>
	{% endif %}

<div class="row spaced-row">
	<div class="col-sm-6">
    	<input class="btn btn-primary" type="submit" value="Guardar Cambios" />
	</div>
</div>
{{ form_end(form) }}