{% if envio.type == 'DOM' %}
	<div class="row spaced-row">
        <div class="col-sm-4">
			<h4>Información del comprador</h4>
            <div> 
                <div class="inline bold">Nombre</div>
                <div class="inline pull-right">{{ envio.nombre }}</div>
            </div>
            <div> 
                <div class="inline bold">Apellido</div>
                <div class="inline pull-right">{{ envio.apellido }}</div>
            </div>
            <div> 
                <div class="inline bold">Teléfono</div>
                <div class="inline pull-right">{{ envio.telefono }}</div>
            </div>
            <div> 
                <div class="inline bold">Direccion</div>
                <div class="inline pull-right">{{envio.calle}} {{envio.numero}} {{ envio.piso ? 'Piso ' ~ envio.piso : ''}} {{ envio.deptoNro ? envio.deptoNro : ''}}</div>
            </div>
            <div>                
                <div class="inline bold">Provincia</div>
                <div class="inline pull-right">{{ envio.provincia.nombre }}</div>
            </div>
            <div>                
                <div class="inline bold">Localidad</div>
                <div class="inline pull-right">{{envio.localidad}}</div>
            </div>
            <div>
                <div class="inline bold">Código Postal</div>
                <div class="inline pull-right">{{ envio.codigoPostal }}</div>
            </div>
        </div>
        <div class="col-sm-3">
            <h4>Servicio de Correo:</h4>
            <div>
                <div class="inline bold">Servicio</div>
                <div class="inline pull-right">{{ envio.servicioNombre }}</div>
            </div>
            <div>
                <div class="inline bold">Precio</div>
                <div class="inline pull-right">${{ envio.precio|number_format(2) }}</div>
            </div>
            <div>
                <div class="inline bold">Correo</div>
                <div class="inline pull-right">{{ envio.correoNombre }}</div>
            </div>
        </div>
    </div>
{% endif %}
{% if envio.type == 'SUC' %}
<div class="row spaced-row">
	<div class="col-sm-3"> 
		<h4>Información del comprador</h4>
		<div>
        	<div class="inline bold">Nombre</div>
        	<div class="inline pull-right">{{ envio.nombre }}</div>
        </div>
        <div> 
            <div class="inline bold">Apellido</div>
            <div class="inline pull-right">{{ envio.apellido }}</div>
        </div>
        <div> 
            <div class="inline bold">Teléfono</div>
            <div class="inline pull-right">{{ envio.telefono }}</div>
        </div>
    </div>
    <div class="col-sm-3">
        <h4>Servicio de Correo:</h4>
        <div>
            <div class="inline bold">Servicio</div>
            <div class="inline pull-right">{{ envio.servicioNombre }}</div>
        </div>
        <div>
            <div class="inline bold">Precio</div>
            <div class="inline pull-right">${{ envio.precio|number_format(2) }}</div>
        </div>
        <div>
            <div class="inline bold">Correo</div>
            <div class="inline pull-right">{{ envio.correoNombre }}</div>
        </div>
        <div>
            <div class="inline bold">Sucursal Id</div>
            <div class="inline pull-right">{{ envio.sucursalId }}</div>
        </div>
    </div>
    <div class="col-sm-3">
        <h4>Informacion de la Sucursal:</h4>
        <div>{{ envio.sucursalInfo|nl2br }}</div>
        <div>
            <div class="inline">Provincia: </div>
            <div class="inline">{{ envio.provincia.nombre }}</div>
        </div>
    </div>
</div>
{% endif %}
{% if envio.type == 'PIC' %}
<div class="row spaced-row">
	<div class="col-sm-4"> 
		<h4>Información del comprador</h4>
		<div>
        	<div class="inline bold">Nombre</div>
        	<div class="inline pull-right">{{ envio.nombre }}</div>
        </div>
        <div> 
            <div class="inline bold">Apellido</div>
            <div class="inline pull-right">{{ envio.apellido }}</div>
        </div>
        <div> 
            <div class="inline bold">Teléfono</div>
            <div class="inline pull-right">{{ envio.telefono }}</div>
        </div>
    </div>
</div>
{% endif %}
