{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 static static-cambio">
				<h1 class="title center">¿Cómo cambio un producto?</h1>
				<ul>
					<li>
						<div class="list-element">
							<div class="list-text">En el caso que quieras devolver un producto que compraste en nuestra <span class="blue-text">Tienda Oficial</span> debes hacerlo en el plazo de 7 días corridos contando desde el recibimiento. Te pedimos que nos envíes un mail a <span class="blue-text">{{ email_atencion_cliente }}</span> informando el motivo de la devolución y el número de pedido.</div>
						</div>
					</li>
					<li>
						<div class="list-element">
							<div class="blue-circle">A</div><div class="list-text">En el caso de haber recibido un producto distinto al que compraste en nuestra <span class="blue-text">Tienda Oficial</span> por favor informanos a <span class="blue-text">{{ email_atencion_cliente }}</span> para podes realizar una nueva entrega y brindarte un nuevo número de seguimiento.</div>
						</div>
					</li>
					<li>
						<div class="list-element">
							<div class="blue-circle">B</div><div class="list-text">En el caso de haber recibido un producto con alguna falla o que no se encuentre en perfectas condiciones, envianos una foto del mismo y el número de pedido a <span class="blue-text">{{ email_atencion_cliente }}</span> y nos contactaremos a la brevedad para poder realizar el cambio correspondiente.</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}