{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container" style='width: 80%'>
        <div class='row' style='width: 100%'>
        {% set showCommercials = 'false' %}
        {% if showCommercials %} 
        {{include('backend/comerciales/laura-pipo.html.twig')}}
        {% endif %}
        </div>
	</div>
{% endblock %}
{% block javascripts %}
	<link rel="stylesheet" href="{{ asset('css/frontend/home.css') }}">
	<script type="text/javascript" src="{{ asset('js/frontend/homepage/comerciales-modal.js') }}"></script>
{% endblock %}
