{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 static static-comprar">
				<h1 class="title center">¿Cómo comprar?</h1>
				<ul>
					<li>
						<div class="list-element">
							<div class="blue-circle">1.</div><div class="list-text">Clickeá el botón de <span class="blue-text">agregar al carrito</span> y el producto se sumará al ícono situado en la parte superior derecha.</div>
							<div>
								<img class="img-responsive center" src="{{ asset('img/static-como-comprar-1.jpg') }}">
							</div>
						</div>
					</li>
					<li>
						<div class="list-element">
							<div class="blue-circle">2.</div><div class="list-text">Clickeá el ícono del <span class="blue-text">carrito</span> y se abrirá la lista con el detalle de los productos que agregaste.  Luego clickeá en el botón <span class="blue-text">comprar</span>.</div>
							<div>
                                <br>
								<img class="img-responsive center" src="{{ asset('img/static-como-comprar-2.jpg') }}">
							</div>
						</div>
					</li>
					<li>
						<div class="list-element">
							<div class="blue-circle">3.</div><div class="list-text"> Iniciá sesión y seleccioná cómo querés coordinar la entrega de tu pedido. Completá los datos correspondientes y luego clickeá el botón <span class="blue-text">confirmar</span>.</div>
							<div>
                                <br>
								<img class="img-responsive center" src="{{ asset('img/static-como-comprar-3.jpg') }}">
							</div>
						</div>
					</li>
					<li>
						<div class="list-element">
							<div class="blue-circle">4.</div><div class="list-text">Si aplicás a alguna de nuestras opciones de descuento, podés aplicarlos en este paso. Podés editar los productos que agregaste a tu lista haciendo click en el link de <span class="blue-text">editar carrito</span>. Para terminar con la operación en nuestra web, hacé click en el botón <span class="blue-text">comprar</span>. El sistema te redirigirá a <span class="blue-text">mercadopago</span> para finalizar tu compra.</div>
							<div>
                                <br>
								<img class="img-responsive center" src="{{ asset('img/static-como-comprar-4.jpg') }}">
							</div>
						</div>
					</li>
					<li>
						<div class="list-element">
							<div class="blue-circle">5.</div><div class="list-text">Podés abonar con tarjeta, efectivo y tansferencia bancaria (Red Link). Una vez efectuado el pago, MercadoPago te redigirá a nuestro sitio nuevamente y te enviaremos vía mail los datos de la compra.</div>
							<div>
								<img class="img-responsive center" src="{{ asset('img/static-como-comprar-5.jpg') }}">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
{% endblock %}
