{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container static-conocenos">
		<div class="row">
			<div class="col-md-7">
				<img clas="img-responsive center" src="{{ asset('img/mickey-static-conocenos.png') }}">
			</div>
			<div class="col-md-5 text-container">
				<p><span class="red">Nuestra empresa</span> junto con su marca <span class="red">Piñata</span>, fundada en Argentina en el año 1984, se especializa en el rubro ropa de cama y toallería, siendo N°1 en la categoría infantil.
				</p>
				<p>
					Representamos a las primeras marcas a nivel mundial de entretenimiento infantil como Disney, Marvel, Universal Studios, Cartoon Network, Mattel, entre otras.
				</p>
				<p>
					Con los mas altos estándares de calidad internacional, nuestra marca sigue conquistando a los niños con su línea completa de productos y acompañandolos en los momentos más lindos de la primera infancia y niñez en familia
				</p>
				<p class="red">
					Somos comunidad. <br>
					Creemos en la inclusión de ideas.<br>
					Evolucionamos validando en equipo.
				</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}