{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container static-consulta">
		<div class="row">
			<div class="col-xs-12">
				<h1>Contacto</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">


				<p class="mail-contacto">{{email_contato}}</p>
				{% if sent %}
					<p class="consulta-enviada">¡Tu consulta fue enviada exitosamente!</p>
				{% else %}
					{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="field-container">
						{{ form_row(form.sendTo, {attr:{'style': 'width: 100%;'}}) }}
					</div>
                    <br>
					<div class="field-container">
						{{ form_row(form.nombre, {attr:{'class':'nombre'}}) }}
					</div>
					<div class="field-container">
						{{ form_row(form.email, {attr:{'class':'email'}}) }}
					</div>
                    <div class="field-container consulta-container">
						{{ form_row(form.consulta, {attr:{'class':'consulta'}}) }}
						<div class="center">
							<input type="submit" value="Enviar" class="blue-button" />
						</div>
					</div>
				    {{ form_end(form) }}
				{% endif %}

			</div>
			<div class="col-md-6">
				<div class="">
					<ul class="social-media">
						<a href="{{social_facebook}}">
							<li><div class="inline fb"></div>Piñata</li>
						</a>
						<a href="{{social_instagram}}">
							<li><div class="inline ig"></div>Piñataoficialok</li>
						</a>
						<a href="{{social_youtube}}">
							<li><div class="inline yt"></div>piñataoficial</li>
						</a>
                        <a target='_blank'href='https://wa.me/541165423197'>
                            <li>
                                <img class='whatsappLogo' src='{{ asset('img/whatsappLogo.jpg') }}'/>
                            </li>
                        </a>

					</ul>
					<div>
						<img clas="img-responsive mickey center" src="{{ asset('img/mickey-static-consultas.png') }}">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
