{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 static static-envio">
				<h1 class="title center">Envíos</h1>
				<div>
                    <h3 class="subheader">¿Cuáles son los costos de envío?</h3>
					<ul>
						<li>
							<div class="list-element">
                                    <div class="list-text">Si tu compra supera los $3999, el envío es totalmente gratuito a todo el país.</div>
							</div>
						</li>
					</ul>

					<h3 class="subheader">Envío a Domicilio</h3>
					<ul>
						<li>
							<div class="list-element">
								<div class="blue-circle">1.</div><div class="list-text">Al momento de realizar tu compra en nuestra <span class="blue-text">Tienda Online</span>, recibirás un mail con la confirmación de tu pedido</div>
							</div>
						</li>
						<li>
							<div class="list-element">
								<div class="blue-circle">2.</div><div class="list-text">El pedido será entregado en tu domicilio en el lapso de 7 a 10 días hábiles. En caso de realizar compras en periodo de promociones o liquidaciones, el envío puede demorar entre 2 o 3 días más del plazo correspondiente dependiendo del destino. Una vez que el pedido salga de nuestro depósito, te enviaremos un número de seguimiento para que puedas verificar el estado de tu pedido. Recordá que el operador logístico realizará 2 visitas al domicilio de envío que indicaste. Si luego de 2 visitas el correo no te encuentra en tu domicilio, dejará una notificación para que retires tu pedido en la Sucursal de OCA más cercana a tu domicilio, dentro de los 7 días.</div>
							</div>
						</li>
					</ul>
					<h3 class="subheader">Envio a Sucursal de Correo</h3>
					<ul>
						<li>
							<div class="list-element">
								<div class="list-text">Si elegiste la opción de Entrega en Sucursal podrás verificar el estado de tu pedido con el número de seguimiento asignado. No olvides que sólo podrá retirar el pedido el titular de la compra. Ante una situación especial por favor contactate con atención al cliente.</div>
							</div>
						</li>
					</ul>
					<h3 class="subheader">Pick Up</h3>
					<ul>
						<li>
							<div class="list-element">
								<div class="blue-circle">1.</div><div class="list-text">Al momento de realizar tu compra en nuestra <span class="blue-text">Tienda Online</span>, recibirás un mail con la confirmación de tu pedido.</div>
							</div>
						</li>
						<li>
							<div class="list-element">
								<div class="blue-circle">2.</div><div class="list-text">Tu pedido estará en proceso de armado. El tiempo estimado de entrega en nuestras oficinas es de 7 días hábiles una vez que sea acreditado tu pago. Recuerda que para eventos especiales como Hot Sale o Cyber Monday puede llegar a demorar 72hs. hábiles más de lo estipulado anteriormente.</div>
							</div>
						</li>
						<li>
							<div class="list-element">
								<div class="blue-circle">3.</div><div class="list-text">Una vez que tu pedido se encuentra disponible en las oficinas de Piñata te estaremos enviando un e-mail informándote que tu compra ya puede ser retirada. No olvides que sin esta notificación no podremos entregartelo.</div>
							</div>
						</li>
						<li>
							<div class="list-element">
								<div class="blue-circle">4.</div><div class="list-text">La única persona autorizada para retirar es el titular del pedido. En caso de que retire otra persona te pedimos que nos lo indiques a <span class="blue-text">{{ email_atencion_cliente }}</span></div>
							</div>
						</li>
					</ul>
					<p class="center bottom-text">Si tenés alguna duda o consulta podés contactarnos de Lunes a Viernes de 8 a 17hs. enviando un mail <span class="blue-text">{{ email_atencion_cliente }}</span></p>
				</div>
				{# <img class="img-responsive center" src="{{ asset('img/static-envio.png') }}"> #}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
