{% extends 'frontend/layout.html.twig' %}
{%block stylesheets%}
{% endblock %}
{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 static static-cambio">
				<h1 class="title center">Preguntas Frecuentes</h1>
				<ul>
					<li>
						<div class="list-element2">
                            <h3><b> ¿Cómo cancelo mi compra? </b></h3>
							<div class="list-text2">Para cancelar tu compra envianos tu solicitud por escrito a tiendaoficial@piñataweb.com.ar detallando tu número
                            de pedido.</div>
						</div>
					</li>
					<li>
						<div class="list-element2">
                            <h3><b> ¿Los precios tienen el iva incluido? </b></h3>
							<div class="list-text2">Sí, todos los precios publicados tienen el IVA incluido.</div>
						</div>
					</li>
					<li>
						<div class="list-element2">
                            <h3><b> ¿Puedo comprar varios productos a la vez? </b></h3>
							<div class="list-text2">Sí, podes comprar tantos artículos como desees y pagar el costo de envío por todos los productos (y no por cada uno).</div>
						</div>
					</li>
					<li>
						<div class="list-element2">
                            <h3><b> ¿Hay algún límite de compra? </b></h3>
							<div class="list-text2">No. El único límite de compra que tenemos es el stock de nuestro e-Shop. Si deseas hacer una compra mayorista
                            comunicate con nosotros: tiendaoficial@piñataweb.com.ar</div>
						</div>
					</li>
					<li>
						<div class="list-element2">
                            <h3><b> ¿Entregan factura “A”? </b></h3>
                            <div class='list-text2'>Por el momento no podemos emitir ese tipo de factura.</div>
					</li>
                    <li>
						<div class="list-element2">
                            <h3><b>¿Cuáles son los medios de pago?</b></h3>
							<div class="list-text2">Se puede realizar el pago a través de Mercado Pago con tarjeta de crédito, débito o en efectivo seleccionando la opción
                            de RapiPago o Pago Fácil.</div>
                            <div class='list-text2'>El sistema de cobranza a través de tarjeta de crédito es 100% seguro.</div>
                            <div class='list-text2'>Los números son encriptados y no sufren ningún tipo de amenaza en nuestro banco de datos, siendo enviados 
                            directamente a la administradora de la tarjeta de crédito.</div>
						</div>
					</li>
                    <li>
						<div class="list-element2">
                            <h3><b> ¿Puedo tener seguimiento de mi pedido? </b></h3>
							<div class="list-text2">Si, en cuanto tu pedido se envíe, recibirás una confirmación por correo electrónico con un código de seguimiento.</div>
                            <div class="list-text2">El mismo podés rastrearlo ingresando acá <a href='http://www.oca.com.ar/'> http://www.oca.com.ar/</a></div>
                            <div class="list-text2">Si por algún motivo no recibis el código de seguimiento, revisá tu carpeta de correo no deseado, podés enviar
                                tu consulta a tiendaoficial@piñataweb.com.ar o enviarnos un mensaje vía Whatsapp de Lunes a Viernes de 9hs a 16hs.</a></div>
						</div>
					</li>
                    <li>
						<div class="list-element2">
                            <h3><b> ¿Puedo cambiar o devolver un producto? </b></h3>
							<div class="list-text2"> En el caso que quieras devolver un producto que compraste en nuestra Tienda Oficial debes hacerlo en el plazo de 7 días corridos 
                            contando desde el recibimiento. Te pedimos que nos envíes un mail a tiendaoficial@piñataweb.com.ar informando el motivo
                             de la devolución y el número de pedido.</div>
							<div class="list-text2"> En el caso de haber recibido un producto distinto al que compraste en nuestra Tienda Oficial por favor informanos
                            a tiendaoficial@piñataweb.com.ar para poder realizar una nueva entrega y brindarte un nuevo número de seguimiento.</div>
							<div class="list-text2"> En el caso de haber recibido un producto con alguna falla o que no se encuentre en perfectas condiciones, envianos una foto
                           del mismo y el número de pedido a tiendaoficial@piñataweb.com.ar y nos contactaremos a la brevedad para poder realizar
                           el cambio correspondiente. </div>
						</div>
					</li>
                    <li>
						<div class="list-element2">
                            <h5>* Los productos comprados durante el "Sale", "Cyber Monday"; "Hot Sale" o acciones específicas de rebajas en internet, se tomarán al precio abonado. </h5>
                            <br>
                            <div class="list-text2">Atención al cliente:</div><br>
                            <div class="list-text2">Envianos un mensaje vía Whatsapp</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
