{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 static static-cambio">
				<h1 class="title center">Formas de pago</h1>
				<ul>
					<li>
						<div class="list-element2">
                            <h3><b> ¿Cómo puedo pagar? </b></h3>
							<div class="list-text2">Podes pagar a través de la plataforma de MercadoPago con:</div>
							<div class="list-text2">• Tarjeta de crédito o débito emitida en el país (Argentina).</div>
							<div class="list-text2">• En efectivo: imprimiendo el cupón de pago y acercándote a cualquier sucursal de Pago Fácil o RapiPago.</div>
							<div class="list-text2">• A través de un cajero automático Banelco o RedLink.</div>
							<div class="list-text2">• Con saldo pre-cargado en tu cuenta de MercadoPago.</div>
						</div>
					</li>
					<li>
						<div class="list-element2">
                            <h3><b> ¿Cómo pago en efectivo? </b></h3>
							<div class="list-text2">Al finalizar el proceso de compra, elegí como medio de pago “Cupones de Pago” y luego la cadena que vos elijas
                            (Pago Fácil, RapiPago). Imprimí el cupón que aparecerá en pantalla y llevalo a la sucursal que desees para abonarlo. </div>
							<div class="list-text2">Recordá que los cupones tienen 5 días de vigencia (pasado el plazo la compra se cancela automáticamente).</div>
							<div class="list-text2">En caso de realizar el pago de un cupón vencido, el pedido NO se concretará y el dinero se acreditará en tu cuenta
                            de MercadoPago.</div>
						</div>
					</li>
					<li>
						<div class="list-element2">
                            <h3><b> ¿Cómo pago con tarjeta de crédito? </b></h3>
							<div class="list-text2">Agregá los productos que te interesen a tu carrito. Antes de finalizar la compra vas a poder elegir el medio de pago
                            que prefieras (por ejemplo, tarjeta de crédito).</div>
						</div>
					</li>
                    <li>
						<div class="list-element2">
                            <h3><b> ¿Qué costo de financiación tienen las tarjetas? </b></h3>
                            <div class="list-text2">Podrás averiguar las cuotas y las promociones ingresando aquí <a href='https://www.mercadopago.com.ar/cuotas'>https://www.mercadopago.com.ar/cuotas</a></div>
						</div>
					</li>

                    <li>
						<div class="list-element2">
                            <h4>Toda la información que ingreses queda automáticamente protegida por el sistema SSL (Secure Sockets Layer) 
                                que garantiza una transacción 100% segura. Este sistema encripta los datos suministrados y evita su uso desautorizado.</h4>
						</div>
					</li>
                    <br><br><br>
                    <div class='row text-center'>
                        <h5> El precio publicado corresponde a precio contado efectivo, tarjeta de débito o tarjeta de crédito en 1 pago.</h5>
                    </div>



				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
