{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 center static static-pago">
				<h1 class="title">Medios de Pago</h1>
				<p>Podés pagar mediante Mercado Pago con todas las tarjetas de crédito o en efectivo seleccionando la opción Pago Fácil o Rapipago</p>
				<img class="center" src="{{ asset('img/static-medios-pago.png') }}">
				<p>Revisá todas las promociones vigentes en el siguiente link:<br>
					<p>
						<a class="blue-text" href="https://www.mercadopago.com.ar/promociones">https://www.mercadopago.com.ar/cuotas</a></p>
					</p>
				<p>Por cualquier consulta escribinos a <span class="blue-text">{{email_atencion_cliente}}</span></p>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
