{% extends 'frontend/layout.html.twig' %}
{% block main %}
<div class='row bannerContainer'>
    <img src='{{asset('img/postales/Banner_Postales.jpg')}}'>
</div>
<div class='row'>
    <div class='col-md-4'></div>
    <div class='col-md-4'>
        <div id="postalesCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#postalesCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% set active = 'active' %}
                <div class="item {{active}}" data-postal='1'>
                    <img src="{{asset('img/postales/postal1.jpg')}}" style="width:100%;">
                </div>
                {% set active = '' %}
                <div class="item {{active}}" data-postal='2'>
                    <img src="{{asset('img/postales/postal2.jpg')}}" style="width:100%;">
                </div>
                <div class="item {{active}}" data-postal='3'>
                    <img src="{{asset('img/postales/postal3.jpg')}}" style="width:100%;">
                </div>
                <div class="item {{active}}" data-postal='4'>
                    <img src="{{asset('img/postales/postal4.jpg')}}" style="width:100%;">
                </div>
                <div class="item {{active}}" data-postal='5'>
                    <img src="{{asset('img/postales/postal5.jpg')}}" style="width:100%;">
                </div>
                <div class="item {{active}}" data-postal='6'>
                    <img src="{{asset('img/postales/postal6.jpg')}}" style="width:100%;">
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#postalesCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" style="left: 30px;"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#postalesCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" style="right: 30px;"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </div>
    <div class='col-md-4'></div>
</div>
<div class='row'>
    <div class='col-md-4'></div>
    <div class='col-md-4 text-center'>
        <div class="inline">
            <button class="descargar-button">Descargar</button>
        </div>
    </div>
    <div class='col-md-4'></div>
</div>

<script>
$(document).ready(function() {
    $('.descargar-button').click(function() {
        var postal = $('.active').data('postal');
        window.open("/img/postales/postal" + postal + '.zip',"_self");
    });
});
</script>
{% endblock %}
