{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 static-privacidad">
				<h1 class="title center">Políticas de Privacidad</h1>

				<p class="uppercase">el usuario reconoce expresamente que al ingresar a este sitio otorga al titular del sitio y a sus licenciantes (en los terminos de la ley argentina), su consentimiento libre, expreso e informado para utilizar, recoger, almacenar y tratar todos sus datos personales cualquiera sea su naturaleza y/o especie bajo cualquier modalidad y/o fin, incluso cederlos a terceros en cualquier momento. asimismo reconoce que tiene conocimiento acabado de:<br>
					<ul>
						<li>
							1.- La finalidad o finalidades con que serán utilizados y quienes pueden ser los destinatarios de tales datos.
						</li>
						<li>
							2.- La consecuencia de proporcionar los datos y la negativa de no hacerlo.
						</li>
						<li>
							3.- Cualquier otro requisito o recaudo exigido por la legislación vigente.
						</li>
					</ul>
				</p>
				<p>
					El Usuario, en cualquier caso, es responsable por la veracidad, exactitud, vigencia y autenticidad de los Datos Personales que ingresen al Sitio, y se comprometen a mantenerlos debidamente actualizados. 
					No obstante lo anterior, el Usuario titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita en los casos y condiciones establecidos en la ley 25.326 de la República Argentina y sus disposiciones reglamentarias y complementarias (en adelante y en conjunto la “LDP”). Asimismo, el Usuario titular de los datos personales podrá rectificados, actualizados y, cuando corresponda suprimidos o sometidos a confidencialidad en los casos y bajo los mecanismos establecidos por la LDP y ejercer los restantes derechos fijados en la LDP y en este Acuerdo de Usuario, en particular según lo dispuesto en la Sección 7.
				</p>
				<p>
					El titular del Sitio, respeta la privacidad de la información de los Usuarios, adhiere a la comunicación electrónica en general y cumple con las leyes aplicables en la materia. También en cumplimiento con las leyes aplicables, el titular del Sitio, de serle requerido, proporcionará aquella información que cupiera, pudiendo además inspeccionar las diversas áreas de este Sitio, accediendo a cualquier material, Contenido, archivos, récords o comunicaciones electrónicas de cualquier clase, para satisfacer cualquier ley o requerimiento gubernamental.
				<p>
					El Usuario acepta que el titular de este Sitio, en base a las búsquedas y/o compras del Usuario, podrá ofrecerle a éste información, servicios y/o publicidad con respecto a sus evaluaciones y/o presuntas preferencias.
				</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}