{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 static static-comprar">
				<h1 class="title center ">¿Cómo Registrarse?</h1>
					<ul>
						<li>
							<div class="list-element">
								<div class="blue-circle">1.</div><div class="list-text">Clickeá en el botón ´Registrarse´ en la parte superior derecha.</div>
								<div>
									<img class="img-responsive center" src="{{ asset('img/static-como-registrarse-1.png') }}">
								</div>
							</div>
						</li>
						<li>
							<div class="list-element">
								<div class="blue-circle">2.</div><div class="list-text">Se abrirá una pantalla con dos opciones. Completá el formulario de Registro en la parte derecha.</div>
								<div>
									<img class="img-responsive center" src="{{ asset('img/static-como-registrarse-2.png') }}">
								</div>
							</div>
						</li>
						<li>
							<div class="list-element">
								<div class="blue-circle">3.</div><div class="list-text">Recibirás un <span class="blue-text">e-mail</span> con la confirmación de que estás registrado con un link para ingresar a tu cuenta.</div>
								<div>
									<img class="img-responsive center" src="{{ asset('img/static-como-registrarse-3.png') }}">
								</div>
							</div>
						</li>
					</ul>
				<p class="finish center">¡Listo ya podés comprar!</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}