{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 static-terminos">
				<h1 class="title center">Términos y Condiciones del Sitio</h1>
                <p>Legales para Clarín 365, Club La Voz y Los Andes Pass - ingresar <b><a href='https://s3.amazonaws.com/pinata-newsletter/Legales%2BClarin%2B365+WEB.docx'>aquí</a></b></p>
                <p>Legales para sorteo 100M seguidores - ingresar <b><a href='https://pinata-newsletter.s3.amazonaws.com/Picapau+-+Bases+del+Concurso+SORTEO+MINIONS+04.2020.docx'>aquí</a></b></p>
                <br>
				<ul>
					<li>
					<p>1. Acuerdo obligatorio. Cambios al Sitio-página WEB “piñata.com.ar”.</p>
					<p>Su ingreso, navegación, visita, así como la realización de cualquier operación y/o uso este Sito de Internet (en adelante este o el "Sitio" o “piñata.com.ar”) está sujeto a las condiciones generales que seguidamente se detallan, considerándose que Ud. (o el “Usuario”) acepta los términos y condiciones que siguen (el "Acuerdo de Usuario").</p>
					<p>El acceso a cualquiera de las áreas de este Sitio y/o el pedido de cualquier producto y/o servicio a través de este Sitio importa el conocimiento y aceptación de este Acuerdo de Usuario, con su obligación de respetar estos términos y condiciones.</p>
					<p>Si Ud. no desea aceptar estos términos y condiciones no podrá acceder a este Sitio. 
					Los términos y condiciones de este Acuerdo de Usuario, podrán ser enmendados, ampliados o de cualquier forma y con cualquier alcance modificados, en cualquier momento y sin necesidad de aviso previo, por lo que Ud. debe revisar el Acuerdo de Usuario en cada oportunidad que use el Sitio. Las modificaciones a piñataweb.com.ar, serán efectivas inmediatamente a su publicación en este Sitio, salvo que se indique otra fecha. </p>
					</li>
					 <li>
					<p>2. Derechos de autor y marcas.</p>
					<p>Este Sitio y su Contenido (según se define adelante) están protegidos por las leyes sobre derechos de autor y/o marcas de fábrica y/o propiedad intelectual y/o secretos comerciales.</p>
					<p>Las marcas, iso y/o logotipos, slogans, colores que aparecen en el Sitio, corresponden a los titulares de piñataweb.com.ar o a los licenciantes pertinentes. El Usuario deberá obtener, por escrito, el permiso correspondiente del titular de la marca que cupiera antes de copiar o usar dichas marcas, nombres de productos y nombres de compañías y logo y/o isotipos y/o slogans.
					<p>La información, datos, programas, fotografías, gráficas, videos, música, sonidos, títulos o encabezamientos de páginas, los botones, los íconos y cualquier otro elemento y/o material que este Sitio contenga bajo cualquier formato, como así también el Sitio en su totalidad e integralidad (colectivamente, el "Contenido") están protegidos por los derechos de autor y/o marcas de fábrica y/o secretos comerciales y/o de propiedad intelectual. El Usuario no podrá remover, eliminar, aumentar, añadir, ni de cualquier otra forma modificar total o parcialmente el Contenido, como tampoco publicar, transmitir, participar en la transferencia o venta, ya sea total o parcial, del Contenido, asimismo se prohíbe al Usuario crear obras derivativas y/o de cualquier manera explotar el Contenido, ya sea total o parcialmente.</p>
					<p>El Usuario al colocar y/o transmitir cualquier información, datos, programas, fotografías, gráficas, videos, música, sonidos y/o cualquier otro material o elemento en el Sitio y/o de otro, le confiere al titular del Sitio una licencia no exclusiva, irrevocable, gratuita, sin regalías, global y por tiempo indefinido, con el derecho a, bajo cualquier forma, modalidad y/o medios conocidos al presente o que se desarrollen en el futuro, sublicenciar, reproducir, distribuir, transmitir, crear obras derivativas, desplegar públicamente y/o utilizarlos de cualquier modo o forma que estime conveniente pudiendo incluso modificarlos como considere conveniente (incluyendo, entre otros y sin limitarse a, incorporarlos a productos y/o servicios nuevos o mejorados) en todas las formas y en todos los medios conocidos al presente o que se desarrollen en el futuro. Ud. además confiere al titular del Sitio el derecho irrevocable a usar toda otra información sobre su identificación o identidad existente en el presente o en el futuro en las áreas públicas del Sitio (como los tablones de edicto, foros o grupos de noticias) con el objeto de utilizarla, entre otros y sin ser limitativos, con fines publicitarios, mercadeo y/o marketing y/o promoción. Ud. reconoce y acepta que no tendrá derecho a reclamo alguno contra el titular del Sitio o sus licenciantes, por el uso y/o utilización que esta hiciere de los elementos o material antes mencionado, fundado en el derecho de autor y/o derecho propiedad intelectual y/o en cualquier otro derecho o disposición legal o normativa.</p>
					</li>
					<li>

					<p>3. Datos Personales. Privacidad.</p>
					<p>EL USUARIO RECONOCE EXPRESAMENTE QUE AL INGRESAR A ESTE SITIO OTORGA AL TITULAR DEL SITIO Y A SUS LICENCIANTES (EN LOS TERMINOS DE LA LEY ARGENTINA), SU CONSENTIMIENTO LIBRE, EXPRESO E INFORMADO PARA UTILIZAR, RECOGER, ALMACENAR Y TRATAR TODOS SUS DATOS PERSONALES CUALQUIERA SEA SU NATURALEZA Y/O ESPECIE BAJO CUALQUIER MODALIDAD Y/O FIN, INCLUSO CEDERLOS A TERCEROS EN CUALQUIER MOMENTO. ASIMISMO RECONOCE QUE TIENE CONOCIMIENTO ACABADO DE:</p>
					<p>1.- LA FINALIDAD O FINALIDADES CON QUE SERÁN UTILIZADOS Y QUIENES PUEDEN SER LOS DESTINATARIOS DE TALES DATOS.<br>
					2.- LA CONSECUENCIA DE PROPORCIONAR LOS DATOS Y LA NEGATIVA DE NO HACERLO.<br>
					3.- CUALQUIER OTRO REQUISITO O RECAUDO EXIGIDO POR LA LEGISLACIÓN VIGENTE.<br></p>
					<p>El Usuario, en cualquier caso, es responsable por la veracidad, exactitud, vigencia y autenticidad de los Datos Personales que ingresen al Sitio, y se comprometen a mantenerlos debidamente actualizados. </p>
					<p>No obstante lo anterior, el Usuario titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita en los casos y condiciones establecidos en la ley 25.326 de la República Argentina y sus disposiciones reglamentarias y complementarias (en adelante y en conjunto la “LDP”). Asimismo, el Usuario titular de los datos personales podrá rectificados, actualizados y, cuando corresponda suprimidos o sometidos a confidencialidad en los casos y bajo los mecanismos establecidos por la LDP y ejercer los restantes derechos fijados en la LDP y en este Acuerdo de Usuario, en particular según lo dispuesto en la Sección 7.</p>
					<p>El titular del Sitio, respeta la privacidad de la información de los Usuarios, adhiere a la comunicación electrónica en general y cumple con las leyes aplicables en la materia. También en cumplimiento con las leyes aplicables, el titular del Sitio, de serle requerido, proporcionará aquella información que cupiera, pudiendo además inspeccionar las diversas áreas de este Sitio, accediendo a cualquier material, Contenido, archivos, récords o comunicaciones electrónicas de cualquier clase, para satisfacer cualquier ley o requerimiento gubernamental.</p>
					<p>El Usuario acepta que el titular de este Sitio, en base a las búsquedas y/o compras del Usuario, podrá ofrecerle a éste información, servicios y/o publicidad con respecto a sus evaluaciones y/o presuntas preferencias.</p>
					</li>
					<li>
					<p>4. Contenido que sea propiedad de terceros</p>
					<p>EL USUARIO RECONOCE Y ACEPTA EXPRESAMENTE Y SIN LIMITACIÓN ALGUNA QUE:</p>
					<p>i) El titular del Sitio no se responsabiliza por opiniones vertidas en el Sitio, no brinda asesoría de ningún tipo, y las declaraciones o Contenidos que incorpore el Usurario u otro usuario o cualquier tercero, es responsabilidad de éstos.</p>
					<p>ii) El titular del Sitio no garantiza que el Contenido sea de utilidad para el Usuario, siendo éste el único responsable en evaluar el mismo y su utilidad.</p>
					</li>
					<li>
					<p>5. Cumplimento de la Ley y la normativa general</p>
					<p>Este Sitio sólo podrá utilizarse con fines lícitos. Se prohíbe toda actividad, cualquiera sea su naturaleza, violatoria de cualquier ley, reglamento o norma. El Usuario no colocará ni transmitirá a través de este Sitio cualquier material que sea ilegal, perjudicial, amenazador, ofensivo, hostigador, difamatorio, vulgar, obsceno, explícito sexualmente, irreverente, que incite al odio, ni material que sea racial o étnicamente objetable, ni cualquier otra clase de material discriminatorio que fomente una conducta que constituya ofensa criminal, resulte en responsabilidad civil o que de otro modo viole las leyes aplicables.</p>
					Se prohíbe toda conducta del Usuario que, a exclusivo y excluyente juicio del titular del Sitio, viole los derechos de propiedad de terceros, o restrinja o inhiba a cualquier otro usuario de usar o disfrutar del Sitio.</p>
					</li> 
					<li>
					 
					<p>6. Garantías, limitación de responsabilidad</p>
					<p>El Usuario reconoce y acepta que el uso de este Sitio es bajo su propio y exclusivo riesgo. El titular del Sitio, sus licenciantes, sus respectivas afiliadas y/o vinculadas, sus oficiales, directores o empleados, agentes, suministradores de Contenido, vendedores, concesionarios o terceros, no garantizan que el uso de este Sitio estará libre de interrupciones, fallas y/o errores; ni tampoco garantizan los resultados que se puedan obtener del uso de este Sitio, o sobre su exactitud, confiabilidad, calidad o vigencia de la información, el Contenido, servicio o mercancías suministradas a través del Sitio, sin perjuicio de la obligaciones de ley.</p>
					<p>El Usuario reconoce y acepta que ni el titular del Sitio, ni ninguna de sus licenciantes, ni sus vinculadas, o afiliadas o subsidiarias, ni los directores, empleados o representantes de cualesquiera de ellos, es responsable por daños que surjan de o resulten del uso de este Sitio, incluyendo cualquier error, omisión, interrupción, falla, eliminación de archivos o correos electrónicos (e-mails), defectos, virus, y/o demoras en la operación o transmisión y/o de cualquier otro tipo, que no les corresponda específicamente por la ley argentina. El Usuario reconoce y acepta que la presente es una limitación amplia de responsabilidad que aplica a todos los daños sin importar el tipo, incluyendo daños compensatorios, directos o indirectos, pérdida de datos, ingresos o ganancias, perjuicios, pérdida de o daño a la propiedad y/o reclamaciones de terceros.</p>
					 
					</li>
					<li>
					<p>7. Registración de Usuarios. Cockies. Compras en el Sitio.</p>
					<p>El Usuario conoce que existen o pueden existir páginas, links o espacios en el Sitio de acceso o uso restringido, posibilitándose únicamente el ingreso a ellos con claves de acceso o "passwords". En tal sentido, el Usuario reconoce que será el único responsable de la administración de las claves de acceso que posea o adquiera para el acceso a tal espacio, así como reconoce que el titular del Sitio no será responsable por el uso que pueda hacer el Usuario o quienes éste determine de dichas páginas, links o espacios en el Sitio de acceso o uso restringido. El Usuario igualmente se compromete a no ingresar o tratar de ingresar a los espacios restringidos o de acceso limitado para los que no le esté autorizado a acceder.</p>
					<p>El “Usuario Registrado” es aquel Usuario que haya completado sus datos en el Sitio, incluyendo una clave de acceso que lo individualiza y lo identifica como el titular y operador detrás de esa registración de modo único. Cuando el Usuario completa su información personal, el titular del Sitio asume que dichos datos son fidedignos y se corresponden con ese Usuario.</p>
					<p>El Usuario Registrado tendrá acceso a una cuenta personal e indelegable, a la que podrá acceder solo y únicamente mediante la utilización de una contraseña o password, que él mismo definirá, siendo una obligación y responsabilidad del mismo mantener el secreto y a resguardo de terceros la misma.</p>
					<p>Solo los Usuarios Registrados pueden adquirir los productos y/o servicios comercializados en este Sitio. La información que complete el Usuario, será considerada que se brinda con carácter de declaración jurada y deberá ser cierta y actual. Solo pueden ser Usuarios Registrados, personas físicas mayores de edad.</p>
					<p>El titular del Sitio puede, sin invocar causa alguna, rechazar un pedido de registración de un Usuario o disponer la baja de un Usuario Registrado, sin por ello generar esa acción derecho a indemnización a favor del Usuario o del Usuario Registrado.</p>
					<p>Los datos personales informados por el Usuario Registrado serán usados exclusivamente por el titular del Sitio a los fines de las transacciones que este Sitio admite, y no serán cedidos ni transferidos a terceros, salvo que sea exigido por las autoridades administrativas y/o judiciales en uso de sus facultades legales.</p>
					<p>Los datos ingresados por un Usuario previo a quedar configurada su registración, no serán resguardados por el titular del Sitio, perdiéndose.</p>
					<p>Los Usuarios Registrados tendrán acceso a cierta información especial y privada de su perfil y podrán solicitar su actualización, rectificación o supresión conforme a ley. Para ello deberán requerir en tiendaoficial@piñataweb.com.ar la corrección que cupiera siguiendo las reglas que a tal fin se le requieran. Aquella información que por ley deba resguardarse no podrá ser modificada o suprimida.</p>
					<p>El titular del Sitio usará la dirección de correo electrónico informada por el Usuario Registrado para confirmar las operaciones que cupieran, siendo ella también destinataria de la información sobre promociones y/o productos y/o servicios. Aquellos Usuarios Registrados que no deseen recibir información y/o promociones relativas a los productos y/o servicios que en este Sitio se comercializan, podrá reclamar que se lo excluya de dicha mecánica enviando un correo electrónico a tiendaoficial@piñataweb.com.ar</p>
					<p>Los precios, las promociones y los descuentos publicados en el Sitio, para cada producto y/o servicio, son exclusivos para la compra de los mismos en la modalidad “on-line” o desde el mismo Sitio en el momento mismo de dicha navegación, pudiendo coincidir o no con los precios establecidos en los locales del titular del Sitio o de sus revendedores.</p>
					<p>Cuando el Usuario Registrado desee realizar una compra, deberá iniciar la transacción mediante el pertinente “click” en el botón que identifica al producto deseado. </p>
					<p>La selección del producto para su compra se configurará haciendo click en el ícono del carro de compras debajo de la imagen del producto pertinente.</p>
					<p>En los casos que correspondiere, el Usuario Registrado deberá verificar el talle, modelo y color y solo luego de ello, proseguir clickeando en el ícono del carro de compra, aclarando la cantidad de productos en cada caso. </p>
					<p>El Usuario Registrado deberá completar todos los pasos y etapas pertinentes incluyendo la aprobación de la mecánica de compra, a través de Mercado Pago y la tarjeta de crédito seleccionada, y la forma de envío.</p>
					<p>La transacción a través de Mercado Pago, implica consentir los términos y condiciones de dicha firma, aceptando que los datos transaccionales serán cargados y procesados en una página ajena al Sitio, siendo el Usuario Registrado y Mercado Pago responsables del buen uso de esa información de crédito.</p>
					<p>El titular del Sitio puede en cualquier momento establecer límites en materia de peso y/o unidades de productos admitidos para la compra, así como precio máximo admisible para una o varias transacciones por Usuario Registrado.</p>
					<p>Para mayor información respecto de las medidas de seguridad que Mercado Pago adopta respecto de la información de sus clientes, sugerimos consultar: https://www.mercadopago.com.ar/.</p>
					<p>Si la transacción por el medio de pago seleccionado por el Usuario Registrado no resultare aprobado (por la tarjeta de crédito y/o empresas o plataforma intervinientes ajenas al titular del Sitio), la transacción quedará sin efecto, sin responsabilidad alguna del titular del Sitio.
					<p>Existen esencialmente tres opciones para recepcionar el producto: a) entrega a domicilio, b) retiro por sucursal de correo asignado, y c) retiro por Piñata. </p>
					<p>Dependiendo de la transacción y del domicilio registrado por el Usuario Registrado podría permitírsele a éste, seleccionar entre diversas formas de entrega, elegir entre varias empresas de correo, y hasta eventualmente la posibilidad de contratar el servicio de envío según diversos precios y calidades. En el mismo sentido, dado el domicilio de entrega pretendido, cantidades adquiridas o precio global de la operación, podría restringírsele al Usuario Registrado a solo poder concretar la operación con una determinada mecánica.</p>
					<p>En los casos que el Usuario Registrado elija la opción de recepción del producto en su domicilio, se considerará como domicilio de entrega el que haya éste registrado en su perfil.</p>
					<p>El Usuario Registrado verá previo a confirmar la compra, la empresa de correo responsable de la entrega, o en su caso el Sitio le habilitará opciones para su selección.</p>
					<p>La empresa de correo podrá requerir al Usuario Registrado que éste exhiba su Documento Nacional de Identidad para acreditar la titularidad de la tarjeta de crédito y poder recepcionar el producto.</p>
					<p>La compra solo estará concertada y confirmada cuando el titular del Sitio emita la “confirmación” del pedido, mediante el envío de un correo electrónico a aquella casilla que el Usuario Registrado haya informado en su perfil.</p>
					<p>Para el eventual caso que el producto y/o servicio solicitado no estuviere disponible, el titular del Sitio se contactará con el Usuario Registrado (según la información aportada por éste en su perfil en el Sitio) para informarle esta circunstancia y ofrecerle un producto alternativo o la cancelación de la operación con el reembolso pertinente a la tarjeta de crédito, de haberse debitado la operación.</p>
					<p>El cargo en la tarjeta de crédito, se realizará una vez que se haya conformado la operación de compra. El producto adquirido se enviará con la documentación de la transacción.
					<p>Los plazos y características del envío y/o retiro de los productos dependerán del lugar de entrega y del tiempo y forma de la transacción. </p>
					<p>Al seleccionar la forma en que se recepcionará cada producto, se desplegará el valor y plazo asociado a dicha modalidad.</p>
					<p>El costo del envío será a cargo del Usuario Registrado y deberá solventarse mediante tarjeta de crédito conjuntamente al momento de la compra. El costo del envío será informado al Usuario Registrado durante el proceso de compra, antes que dar su conformidad a la transacción.</p>
					<p>El titular del Sitio advierte que los tiempos de entregas en fechas festivas (Día del Niño, Navidad, Reyes Magos, etc…) así como durante ferias de descuentos como CyberMonday o Hot Sale, pueden sufrir demoras de hasta siete días hábiles adicionales al inicialmente informado.</p>
					<p>Los Usuario Registrados cuyos envíos se realicen por medio de la firma OCA, recibirán un número de guía para ingresar en “Consulta e-Pack” de la página de la empresa OCA (http://www1.oca.com.ar/ocaepak/) y seguir el envío. La empresa OCA hará al menos 2 intentos de entrega, los que de no ser satisfactorios harán que tu producto sea resguardado en la sucursal de OCA más cercana a tu domicilio durante 3 días, plazo en el que deberá retirar el producto personalmente. Luego de ese plazo, el producto será remitido nuevamente al titular del Sitio siendo devuelto el importe de la compra como un crédito en la misma tarjeta de crédito que haya sido usado para la transacción. </p>
					<p>En los casos de retiro del producto por las oficinas del titular del Sitio, el Usuario Registrado deberá presentarse en la calle Manuel Ugarte 1665/67/69 - piso 4 oficina 407 Nuñez dentro de los 30 días desde confirmada la compra, en el horario de 9 a 13, únicamente en días hábiles, con el DNI. Superado ese plazo la transacción se dará por caída reembolsándose el importe de la compra a la misma tarjeta de crédito con la que se hubiera pagado.</p>
					<p>Las entregas en las oficinas del correo seleccionado se guiarán por los términos que cada una determine y en los domicilios de retiro que se asignen. Las entregas en delegaciones de la empresa OCA se concretan en días hábiles de 9 a 18hs, únicamente a los Usuarios Registrados. </p>
					<p>El producto adquirido en este Sitio sin defectos de fabricación puede ser cambiado dentro de los treinta días corridos desde recepcionado por el Usuario Registrado. Para el caso de desear éste cambiarlo, deberá: (i) contactar al titular del Sitio enviando un mail a tiendaoficial@piñataweb.com.ar (ii) debiendo también devolver el producto en perfectas condiciones dentro de los 7 dias.</p>
					<p>El producto adquirido en este Sitio con defectos de fabricación será cambiado siempre que: (i) se contacte al titular del Sitio dentro de los cinco días corridos desde recibido el producto dañado, enviando un correo a tiendaoficial@piñataweb.com.ar, ante quien deberá detallar las fallas, (ii) de resultar necesario que se remita el producto, el Usuario registrado deberá hacerlo a su cargo por el medio que desee dentro de los cinco días hábiles de formulado el reclamo referido en (i), (iii) verificado por Piñata las fallas le será remitido sin costo al Usuario Registrado otro producto idéntico al comprado, salvo que éste optare por el reembolso de la suma abonada con más los gastos de envío. La falta de respuesta del titular del Sitio en diez días desde recibido el producto, se considerará que éste lo considera fallado, procediendo a remitir uno nuevo al Usuario Registrado por el mismo medio solicitado por éste. Ante la imposibilidad de poder remitir otro producto, el titular del Sitio cumplirá con sus obligaciones acreditando en la tarjeta de crédito usada para la compra el importe del producto fallado.
					<p>Bajo ningún concepto podrán ser devueltos productos con o sin fallas que hayan sido previamente usados y/o lavados y/o planchados y/o que no tengan su embalaje y etiquetas originales.</p>
					</li>
					<li>
					<p>8. Terminación del acceso; Supervivencia de los términos</p>
					El titular del Sitio puede en cualquier momento, terminar o suspender el acceso que Ud. tenga a todo o parte de este Sitio sin aviso previo y sin responsabilidad alguna, conforme su exclusivo y excluyente criterio, sin que ello genere derecho a reclamo o indemnización alguna. Ni la terminación ni la suspensión del acceso al Sitio, ni cualquier acción o inacción del Usuario, terminará las disposiciones de este Acuerdo de Usuario. Dichas Secciones permanecerán en plena fuerza y vigor de forma indefinida, sujetas sólo a cualquier cambio que el titular del Sitio haga de conformidad con la Sección 1 de este Acuerdo de Usuario.</p>
					<p>El Usuario acepta que el Sitio puede utilizar un sistema de seguimiento o brindar ciertas funcionalidades mediante la utilización de cookies ("Cookies": pequeños archivos temporales que se instalan en el disco rígido de su computador, que ayudan a personalizar los servicios). Las Cookies se utilizan con el fin de conocer los intereses, el comportamiento y la demografía de quienes visitan o son Usuarios del Sitio y de esa forma, comprender mejor sus necesidades e intereses y darles un mejor servicio o proveerle información relacionada. Las Cookies pueden adicionalmente ser usadas para que el Usuario no tenga que introducir su clave varias veces durante una sesión de navegación, y/o para contabilizar y corroborar las registraciones. La instalación de las Cookies, no serán usadas con otros fines ajenos a los que se describen en este Acuerdo de Usuario. Recomendamos quitar las Cookies de su computador una vez que deje de navegar por el Sitio.</p>
					</li>
					<li>
					<p> 9. Links a otros sitios</p>
					Este Sitio contiene links, hipervínculos, y/o puede facilitar accesos a otros sitios o páginas web de los licenciantes del titular del Sitio o de terceros, y éstos a su vez a otros (en todos los casos los “Sitio/s Linkeado/s”). Los Sitios Linkeados no están bajo el control del titular del Sitio por lo que Ud. es el único responsable por su actividad en ellos, por los contenidos que Ud. acceda y los servicios o productos que Ud. requiera en ellos, debiendo Ud. observar y cumplir las reglas y políticas por ellos fijadas. Ud. no puede implantar enlaces del Sitio con otros sitios. Especialmente (sin pretender ser taxativo) el titular del Sitio excluye toda responsabilidad por "webcasting" o cualquier otro tipo de transmisión recibida por cualquier Sitio Linkeado; o por el incorrecto o ilegal funcionamiento del Sitio Linkeado. </p>
					</li>
					<li>
					<p>10. Cesión</p>
					El titular del Sitio podrá ceder sus derechos y obligaciones bajo este Acuerdo de Usuario en cualquier momento sin previo aviso a Ud.</p>
					</li>
					<li>
					<p>11. Finales</p>
					<p>Este Acuerdo de Usuario se regirá e interpretará de acuerdo con las leyes de la República Argentina. Ud. conviene en que cualquier acción o procedimiento legal entre el titular del Sitio y Ud. por cualquier propósito respecto a este Acuerdo de Usuario o este Sitio o las obligaciones de las partes bajo ellos, se entablarán exclusivamente en los tribunales y comerciales de la Ciudad Autónoma de Buenos Aires. El dejar de insistir o no hacer valer el cumplimiento estricto de cualquier disposición o derecho que este Acuerdo de Usuario otorgue al titular del Sitio no se interpretará como una renuncia alguna de los mismos por parte de éste. </p>
					</li>
				</ul>		
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
