
@font-face {
  font-family: 'PlutoRegular';
  src: url('PlutoRegular.eot?#iefix') format('embedded-opentype'),  url('PlutoRegular.otf')  format('opentype'),
	     url('PlutoRegular.woff') format('woff'), url('PlutoRegular.ttf')  format('truetype'), url('PlutoRegular.svg#PlutoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
