{% extends 'frontend/layout.html.twig' %}
	{% block main %}
		<div class="center checkout-steps">
			{% if 'envio' == activo or 'pago' == activo %}
				<a href="{{path('frontend_checkout_carrito')}}">
			{% endif %}
				<div class="inline">
					<div class="backimage {{ 'carrito' == activo ? 'carrito' : 'carrito-grey'}}"></div>
					<p class="{{ 'carrito' == activo ? 'active' : ''}}">Carrito</p>
				</div>
			{% if 'envio' == activo or 'pago' == activo %}
				</a>
			{% endif %}
			{% if 'pago' == activo %}
				</a>
			{% endif %}
			<div class="inline">
				<div class="backimage {{ 'pago' == activo ? 'pago' : 'pago-grey'}}"></div>
				<p class="{{ 'pago' == activo ? 'active' : ''}}">Pago</p>
			</div>
		</div>

		{% block content %}
		{% endblock %}
	{% endblock %}

{% block javascripts %}
{% endblock %}
