{% extends 'frontend/checkout/base.html.twig' %}

	{% block content %}
		<div class="container checkout-carrito">
			{% for flashMessage in app.session.flashbag.get('carrito_error') %}
			    {{ flashMessage }}
			{% endfor %}
			
			{% if producto_items|length > 0 %}
				<table>
					<tbody>
					{% for producto_item in producto_items %}
						<tr class="item" style='line-height: 20px'>
							<td class="img">
								{% if producto_item['producto'].getFirstImage %}
									<img class="img-responsive img-center" src="{{ vich_uploader_asset(producto_item['producto'].getFirstImage, 'imagen_archivo') }}">
								{% else %}
									<img src="{{ asset('img/producto-placeholder.png') }}" class="img-responsive img-center" alt="No hay una imagen disponible para este producto"/> 
								{% endif %}
							</td>
							<td>
								<p class="producto" style='margin-top: 10px;'>{{producto_item['producto'].nombre}}</p>
								<p class="codigo" style='font-size: 12px;' >Código {{ producto_item['producto'].codigoSku}}</p>
							</td>
							<td class="cantidad widget center">
								{{ form_start(forms[producto_item['producto'].id], {'attr': {'novalidate': 'novalidate'}}) }}
								<div class="inline">
									{{ form_widget(forms[producto_item['producto'].id]._token) }}
									{{ form_widget(forms[producto_item['producto'].id].producto_id, {attr:{'class':'producto_id'}}) }}
									{{ form_widget(forms[producto_item['producto'].id].cantidad, {attr:{'class':'cantidad'}}) }}
									<div class="cantidad-arrows inline">
										<div class="arrow-up"></div>
										<div class="arrow-down"></div>
									</div>
								</div>
								{{ form_end(forms[producto_item['producto'].id]) }}
							</td>
							{% set precio_unidad = producto_item['producto'].precioOferta ? producto_item['producto'].precioOferta : producto_item['producto'].precio %}
							{%	set precio = precio_unidad * forms[producto_item['producto'].id].vars.value.cantidad %}

							<td class="precio" unitario="{{precio_unidad}}" total="{{precio}}">
								<p>
									${{ precio|number_format(2) }}</td>
								</p>
							<td class="delete-container">
								<div data="{{ path('ajax_delete_cart', {'id' : producto_item['producto'].id}) }}" class="cross delete"></div>
							</td>
						</tr>
					{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td class="subtotal">
								<p class="sub">Subtotal</p>
							</td>
							<td class="precio precio-subtotal">
								<p>${{total|number_format(2)}}</p>
							</td>
						</tr>
					</tfoot>
				</table>
			{% else %}
				<p class="empty-carrito center">Todavía no agregaste productos a tu carrito</p>
			{% endif %}
			<div class="row" style='margin-top: 15px;'>
				<div class="col-sm-6">
					<a href="{{ path('homepage') }}" class="blue-button seguir-comprando pull-left"> < Seguir Comprando</a>
				</div>
				{% if producto_items|length > 0 %}
					<div class="col-sm-6">
						<a href="{{ path('frontend_checkout') }}" class="blue-button continuar pull-right"> > Checkout </a>
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}

{% block javascripts %}
    <script language="javascript" type="text/javascript">
        var _imMktOptions = _imMktOptions || {_setType: 'Adq', _setDomain: 'www.pinatamailing.com.ar',_itemsQuantity: -1,_amount:-1,_extraInfo: 'Info Adicional'};
(function() {
    var icomMkt = document.createElement('script'); icomMkt.type = 'text/javascript'; icomMkt.async = true;
    icomMkt.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'externalassets.icommarketing.com/icomMkt_tracking_jquery.min.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(icomMkt, s);
})();
    </script>

    <noscript>
        <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="www.pinatamailing.com.ar/pixelCPA.aspx?itemsQuantity=-1&amount=-1&extraInfo=Info Adicional"/></div>
    </noscript>
    <script type="text/javascript" src="{{ asset('js/frontend/checkout/carrito.js') }}"></script>
    <script>
    </script>
{% endblock %}
