{% extends 'frontend/layout.html.twig' %}

{% block main %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=454167081980045&autoLogAppEvents=1"></script>
<link rel = "stylesheet" type = "text/css" href = "/css/frontend/checkout.css" />
<link rel = "stylesheet" type = "text/css" href = "/css/frontend/checkout-responsive.css" />
<div class="center checkout-steps" style='display: none;'>
    <div class='row  visible-md visible-lg visible-xl'>
        <div class='col-md-3'></div>
        <div class='col-md-7'>
            <div class='row'>
                <div class='col-md-12'>
                    <div class='row'>
                        <div class='col-md-2 text-right'>
                            <a href="{{path('frontend_checkout')}}">
                                <div class="inline" style='text-align: right;'>
                                    <div id='cartImage' class="backimage checkout"></div>
                                </div>
                            </a>
                        </div>
                        <div class='col-md-10 text-left' >
                            <p style='color: white; margin-top: 30px;'> Compra segura <span style='margin-left: 10px; margin-right: 10px;'> | </span> Piñata® producto 100% original</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-2'></div>
    </div>
    <div class='row visible-sm visible-xs'>
        <a href="{{path('frontend_checkout')}}">
            <div class="inline style='color: white">
                <div class="backimage checkout"></div>
                <p style='color: white;'>Compra</p>
            </div>
        </a>
    </div>
</div>


<div class='row' style='margin-top: 25px; margin-bottom: 30px;'>
    <img class='img img-responsive' src="{{ asset('img/checkout_banner.jpg') }}"/>
</div>
{% block content %}


<div class='container'>
{{ include('frontend/common/flash.html.twig') }}
    <div class='row'>
        <div class='col-md-4'>
            <div class='user-data-container section-container'>
                <div class='checkout-data-title row'>
                    <div class='col-md-1 col-xs-12'>
                        <span class='round-step-icon'>
                            <span class='round-step-number'> 1 </span> 
                        </span>
                    </div>
                    <div class='col-md-11 col-xs-12'>
                        <span class='step-title'>Ingresá o completá tus datos</span>
                    </div>
                </div>
                {% if loginForm and not app.user %}
                <div class='loginContainer row' {% if registerHasErrors %}style='display:none'{% endif %}>
                    {{loginForm|raw}}
                    <div class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState()" style='margin-top: 10px;'data-width="" data-size="medium" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
                    <div class='noAccount'>
                        No tenés usuario? Registrate <a class='registerLink' href='#'> acá </a>
                    </div>
                </div>
                {% endif%}
                {% if registerForm and not app.user %}
                <div class='registerContainer row' {% if not registerHasErrors %}style='display:none'{% endif %}>
                    {{registerForm|raw}}
                    <div class='alreadyAccount'>
                        Ya tenés usuario? Ingresa <a class='loginLink' href='#'> acá </a>
                    </div>
                </div>
                {% endif%}
                {% if app.user %}
                <div class='userGreetingContainer'>
                    <p class='helloUser'> Hola <span class='helloUsername'>{{app.user.nombre}}</span> !</p>
                    <p class='proceedMessage'> Ya ingresaste en nuestro sistema, por lo que podés continuar por el <span class='pinataBlue'>Paso 2 </span>y elegir cómo querés recibir tu pedido. </p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class='col-md-4'>
            <div class='envio-data-container section-container'>
                <div class='checkout-data-title row'>
                    <div class='col-md-1'>
                        <span class='round-step-icon'>
                            <span class='round-step-number'> 2 </span> 
                        </span>
                    </div>
                    <div class='col-md-11'>
                        <span class='step-title'>¿Cómo querés recibir tu pedido?</span>
                    </div>
                </div>
                {% if app.user %}
                <div class='envioContainer'>
                    {% if envioSubmitted or precioEnvio %}
                    <div class='envioConfirmedContainer text-center'>
                        <p class='readyEnvio'> Confirmaste tu <span class='pinataBlue '>envío </span>! </p>
                        <p> Ahora podés continuar con el <span class='pinataBlue'>Paso 3</span> y terminar de armar tu compra.  </p>
                        <p class='compraEmptyCarritoMsg'> ¿Querés elegir otro método de envío? Hacé click <a href='#' class='reformularEnvio pinataBlue'>acá</a> </p>
                    </div>
                    {% endif %}
                    
                    <div class='envioOptionsContainer' {% if envioSubmitted or precioEnvio %}style='display: none' {% endif %}>
                        <div class="envio-option">
                            <input type="radio" checked='checked'  name="select-envio-type" class="select-envio-type radio-blue" value="domicilio" data="{{formEnvioDomicilio.vars.id}}" id="{{formEnvioDomicilio.vars.id}}"> 
                            <label class="inline radio-blue-label envioOptionLabel" for="{{formEnvioDomicilio.vars.id}}">Envío a Domicilio</label>
                        </div>
                        <div class="envio-option">
                            <input type="radio" name="select-envio-type" class="select-envio-type radio-blue" value="sucursal" data="{{formEnvioSucursal.vars.id}}" id="{{formEnvioSucursal.vars.id}}">
                            <label class="inline radio-blue-label envioOptionLabel" for="{{formEnvioSucursal.vars.id}}">Envío a sucursal de Correo</label>
                        </div>
                        {#<div class="envio-option">
                            <input type="radio"name="select-envio-type" class="select-envio-type radio-blue" value="pickup" data="{{formEnvioPickup.vars.id}}" id="{{formEnvioPickup.vars.id}}"> 
                            <label class="inline radio-blue-label envioOptionLabel" for="{{formEnvioPickup.vars.id}}">Pickup</label>
                        </div>
                        #}
                    </div>
                    <div class='envioFormsContainer'{% if envioSubmitted or precioEnvio %}style='display: none' {% endif %}>
                        <div class='row'>
                            <div class='col-md-12'>
                                <a href='#' class='clearEnvioForm pull-right'>Limpiar formulario</a>
                            </div>
                        </div>
                        {#
                        <div class='envio-pickup-container form-envio-container'>
                              {{ form_start(formEnvioPickup, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="row formEnvioRow">
                                <div class="col-md-6">
                                    {{form_row(formEnvioPickup.nombre)}}
                                </div>
                                <div class="col-md-6">
                                    {{form_row(formEnvioPickup.apellido)}}
                                </div>
                            </div>
                            <div class="row formEnvioRow">
                                <div class="col-md-6">
                                    {{form_row(formEnvioPickup.telefono)}}
                                </div>
                            </div>
                            <div class="row pickupInfo text-center">
                                     <p class="pickupMessage pinataBlue">
                                <b>Atención:</b> Debido a la actual situación de aislamiento, los retiros se encuentran suspendidos hasta nuevo aviso. 
                                </p>
                                 <p class="pickupAddress">
                                    {{ direccion_pickup }}
                                </p>
                                <p class="pickupHours">
                                <i>{{ horario_pickup }}</i>
                                </p>
                                
                            </div>
                            {{ form_end(formEnvioPickup) }}
                            
                        </div>
                        #}
                        <div class='envio-sucursal-container form-envio-container' style='display: none'>
                            {{ form_start(formEnvioSucursal, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class='row formEnvioRow'>
                                <div class='col-md-6'>
								{{form_row(formEnvioSucursal.nombre)}}
                                </div>
                                <div class='col-md-6'>
								{{form_row(formEnvioSucursal.apellido)}}
                                </div>
                            </div>
                            <div class='row formEnvioRow'>
                                <div class='col-md-6'>
								{{form_row(formEnvioSucursal.telefono)}}
                                </div>
                                <div class='col-md-6'>
								{{form_row(formEnvioSucursal.provincia)}}
                                </div>
                            </div>
                            <div class='row formEnvioRow'>
                                <div class='col-md-6'>
								{{form_row(formEnvioSucursal.localidadId)}}
                                </div>
                                <div class='col-md-6'>
								{{form_row(formEnvioSucursal.servicio)}}
                                </div>
                            </div>
                            {{form_row(formEnvioSucursal.sucursal_id)}}
                            {{ form_end(formEnvioSucursal) }}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="opciones-sucursal"></div>
                                    <div class="informacion-sucursal"></div>
                                </div>
                            </div>
                        </div>
                        <div class='envio-domicilio-container form-envio-container' style='display: none'>
                            {{ form_start(formEnvioDomicilio, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class='row formEnvioRow'>
                                <div class='col-md-6'>            
                                    {{form_row(formEnvioDomicilio.nombre)}}
                                </div>
                                <div class='col-md-6'>            
                                    {{form_row(formEnvioDomicilio.apellido)}}
                                </div>
                            </div>
                            <div class='row formEnvioRow'>
                                <div class='col-md-6'>            
                                    {{form_row(formEnvioDomicilio.telefono)}}
                                </div>
                                <div class='col-md-6'>            
                                    {{form_row(formEnvioDomicilio.calle)}}
                                </div>
                            </div>
                            <div class='row formEnvioRow'>
                                <div class='col-md-6'>            
                                    {{form_row(formEnvioDomicilio.numero)}}
                                </div>
                                <div class='col-md-6'>            
                                    {{form_row(formEnvioDomicilio.piso)}}
                                </div>
                            </div>
                            <div class='row formEnvioRow'>
                                <div class='col-md-6'>            
                                    {{form_row(formEnvioDomicilio.deptoNro)}}
                                </div>
                                <div class='col-md-6'>            
                                    {{form_row(formEnvioDomicilio.provincia)}}
                                </div>
                            </div>
                            <div class='row formEnvioRow'>
                                <div class='col-md-6'>            
                                    {{form_row(formEnvioDomicilio.localidad)}}
                                </div>
                                <div class='col-md-6'>            
                                    {{form_row(formEnvioDomicilio.codigoPostal)}}
                                </div>
                            </div>
                            <div class='row formEnvioRow'>
                                <div class='col-md-6'>            
                                    {{form_row(formEnvioDomicilio.servicio)}}
                                </div>
                            </div>
                            {{ form_end(formEnvioDomicilio) }}
                            <div class="row formEnvioRow">
                                <div class="col-sm-12">
                                    <div class="opciones-domicilio"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row confirmEnvio text-center'{% if envioSubmitted or precioEnvio%} style='display: none' {% endif %}>
                    <input type="button" class='envioSubmit' value="Confirmar" />
                </div>
                {% else %}
                <div class='envioUserNotLogged text-center'>
                    <p class='envioNotLoggedMessi'> Para poder elegir cómo recibir tu pedido ingresá en el <span class='pinataBlue'>Paso 1 </span> </p>
                </div>
                {% endif %}
                <input type='hidden' id='selectedEnvioForm' />

            </div>
        </div>
        <div class='col-md-4'>
            <div class='pago-data-container section-container'>
                <div class='envio-data-container'>
                    <div class='checkout-data-title row'>
                        <div class='col-md-1'>
                            <span class='round-step-icon'>
                                <span class='round-step-number'> 3 </span> 
                            </span>
                        </div>
                        <div class='col-md-11 resumenCompraTitleContainer'>
                            <span class='step-title resumenCompraTitle'>Resumen de compra</span>
                            <br class='visible-xs'>
                            <a href='{{path('frontend_checkout_carrito')}}' class='editarCarrito hidden-xs pull-right'>Editar carrito</a>
                            <a href='{{path('frontend_checkout_carrito')}}' class='editarCarrito visible-xs'>Editar carrito</a>
                        </div>
                    </div>
                </div>

                {% if productoItems|length > 0 %}
                <div class='pago-data-titles row'>
                    <div class='col-md-7 col-xs-6'>
                        <p class='pago-title'>Producto</p>
                    </div>
                    <div class='col-md-2 col-xs-2'>
                        <p class='pago-title'>Cant.</p>
                    </div>
                    <div class='col-md-3 col-xs-4'>
                        <p class='pago-title'>Precio</p>
                    </div>
                </div>
                <div class='carrito-items'>
                    {% for productoItem in productoItems %}
                    <div class='row producto'>
                        <div class='col-md-7 col-xs-6'>
                            <div class='col-md-6 col-xs-8'>
                                {% if productoItem['producto'].getFirstImage %}
                                <img class="img-responsive img-center imagen-carrito" src="{{ vich_uploader_asset(productoItem['producto'].getFirstImage, 'imagen_archivo') }}">
                                {% else %}
                                <img src="{{ asset('img/producto-placeholder.png') }}" class="img-responsive img-center" alt="No hay una imagen disponible para este producto"/> 
                                {% endif %}
                            </div>
                            <div class='col-md-6 col-xs-4'>
								<p class="producto-title">{{productoItem['producto'].nombre}}</p>
                            </div>
                        </div>
                        <div class='col-md-2 col-xs-2'>
                            <p class='producto-quantity'>{{productoItem.item.cantidad}}</p>
                        </div>
                        <div class='col-md-3 col-xs-4'>
                            {% set precio_unidad = productoItem['producto'].precioOferta ? productoItem['producto'].precioOferta : productoItem['producto'].precio %}
							{%	set precio = precio_unidad * productoItem.item.cantidad %}
                            <p class='producto-value'> ${{ precio|number_format(2) }} </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class='productosTotalContainer row text-center'>
                    <div class='col-md-4'></div>
                    <div class='col-md-5 col-xs-8 text-right'>Subtotal</div>
                    <div class='col-md-3 col-xs-4 text-left'><b>${{precioItems|number_format(2)}}</b></div>
                </div>
                {% else %}
                <div class='compraEmptyCarritoContainer text-center'>
                    <p class='compraEmptyCarritoMsg'> Por el momento no hay productos en tu <span class='pinataBlue'> carrito</span>, para seguir comprando hacé click <a href='{{path('homepage')}}' class='pinataBlue'>acá</a> </p>
                </div>
                {% endif %}
                {% if productoItems|length > 0 %}
                {% if envioSubmitted or precioEnvio%}
                <div class='envioTotalContainer row text-center'>
                    <div class='col-md-4'></div>
                    <div class='col-md-5 col-xs-8 text-right'>Costo de envío</div>
                    <div class='col-md-3 col-xs-4 text-left'><b>${{precioEnvio|number_format(2)}}</b></div>
                </div>
                <div class='row descuentoContainer'>
                    <div class='descuentoBox'>
                        <a href='#' class='descuentoLinkContainer'>
                            <p class='descuentoPlus pull-right'>+</p>
                            <p class='descuentoLink'>Ver opciones de descuento </p>
                        </a>
                        <div class='descuentoContent row' style='display: none'>
                            <div class='descuentoTipoContainer col-md-12 col-lg-6'> 
                                <input id='descuentoTipoPinata' class='descuentoRadio radio-blue' checked='checked' name='descuentoTipo' type='radio' value='pinata'/> <label for='descuentoTipoPinata' class='descuentoTipoLabel radio-blue-label'>Código Piñata</label><br>
                                <input id='descuentoTipo365' class='descuentoRadio radio-blue' name='descuentoTipo' type='radio' value='365'/> <label for='descuentoTipo365'class='descuentoTipoLabel radio-blue-label'>Clarín 365 </label> </br>
                                <input id='descuentoTipoAndes' class='descuentoRadio radio-blue' name='descuentoTipo' type='radio' value='andes'/> <label for='descuentoTipoAndes' class='descuentoTipoLabel radio-blue-label'>Club Andes Pass</label> </br>
                                <input id='descuentoTipoLaVoz' class='descuentoRadio radio-blue' name='descuentoTipo' type='radio' value='andes'/> <label for='descuentoTipoLaVoz' class='descuentoTipoLabel radio-blue-label'>La Voz</label> </br>
                            </div>
                            <div class='descuentoFormContainer col-md-12'>
                                <div id='descuentoPinataFormContainer' class="descuento-form-container"  >
                                    {{ form_start(formDescuento, {'attr': {'novalidate': 'novalidate', 'class':'descuento-form'}}) }}
                                    {{ form_widget(formDescuento.codigo, {'attr':{'id': 'descuento_codigo', 'class':'descuento-codigo', 'placeholder': 'Ingrese el código'}}) }}
                                    <button class="blue-button descuento-button pull-right" type="submit">Verificar</button>
                                    {{ form_end(formDescuento) }}
                                </div>
                                <div id='descuento365FormContainer' class="descuento-form-container" style='display: none;'>
                                    <input id='tarjeta365' type='text' class='descuento-codigo' placeholder='Número de tarjeta'>
                                    <a id='verificar365' class="blue-button descuento-button pull-right">Verificar</a>
                                </div>
                                <div id='descuentoAndesFormContainer' class="descuento-form-container" style='display: none;'>
                                    <input id='tarjetaAndes' type='text' class='descuento-codigo' placeholder='Número de tarjeta'>
                                    <a id='verificarAndes' class="blue-button descuento-button pull-right">Verificar</a>
                                </div>
                                <div id='descuentoLaVozFormContainer' class="descuento-form-container" style='display: none;'>
                                    <input id='tarjetaLaVoz' type='text' class='descuento-codigo' placeholder='Número de tarjeta'>
                                    <a id='verificarLaVoz' class="blue-button descuento-button pull-right">Verificar</a>
                                </div>
                            </div>
                            <div class="descuento-message row text-center"></div>
                        </div>
                    </div>
                </div>
                
                <div class='descuentoTotalContainer row text-center'{% if not montoDescuento %} style='display:none;'{% endif %}>
                    <div class='col-md-4'></div>
                    <div class='col-md-5 col-xs-8 text-right'>Descuento</div>
                    <div class='col-md-3 col-xs-4 text-left'><b class='descuento-monto'>- ${{montoDescuento|number_format(2)}}</b></div>
                </div>
                <div class='totalContainer row text-center'>
                    <div class='col-md-4'></div>
                    <div class='col-md-5 col-xs-8 text-right'><b>Total</b></div>
                    <div class='col-md-3 col-xs-4 text-left'><b class='pinataBlue precio-total'>${{precioTotal|number_format(2)}}</b></div>
                </div>

                <div class="payment-container">
                    {{ form_start(formPago, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="payment-options">
                                {% for payment in formPago.payment %}
                                {{form_widget(payment, {'attr':{'style':'display: none'}})}}
                                {{form_label(payment, ' ', {'label_attr':{'style': 'display: none'}})}}
                                <label class="{{payment.vars.value|lower}}" style='display: none' for="{{payment.vars.id}}"></label>
                                {% endfor %}
                                {{form_errors(formPago.payment)}}
                            </div>
                        </div>
                    </div>
                    <div class="row dniRequireContainer text-center" {% if precioTotal < 1000 %} style='display: none;' {% endif %}>
                        {{form_label(formPago.DNI)}}<br>
                        {{form_widget(formPago.DNI, {'attr':{'placeholder': 'Ej: 12345678', 'class': 'payment-dni'}})}}
                        {{form_errors(formPago.DNI)}}
                    </div>
                    <div class="row xs-center button-container text-center">
                        <input class="blue-button buy-button" type="submit" value="Comprar">
                    </div>
                    {{form_widget(formPago.clarin365, {'attr': {'id': 'clarin365'}})}}
                    {{ form_end(formPago) }}
                </div>
                {% else %}
                <br>
                <div class='compraEmptyCarritoContainer text-center'>
                    <p class='compraEmptyCarritoMsg'> Para poder pasar al pago de tus productos, <span class='pinataBlue'> confirmá</span> tu método de envío en el <span class='pinataBlue'> paso 2 </span>! </p>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal password -->
<div class="modal fade forgotten-password-modal" id="forgotten-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="blue-back-big">
				<div class="dory-thinking">
					<div class="pull-right relative">
						<div class="right-content ">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							</button>
							{{ render(controller( 'FOSUserBundle:Resetting:request')) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		var url_cotizar_domicilio = "{{path('ajax_envios_cotizar_domicilio')}}";
		var url_cotizar_sucursal = "{{path('ajax_envios_cotizar_sucursal')}}";
		var url_localidades_sucursal = "{{path('ajax_envios_localidades')}}";
		var domicilio_submitted = '0';
		var sucursal_submitted = '0';
		var pickup_submitted = '0';

        $(document).ready(function(){
           // ga('send', 'event', 'Paso 2', 'Ingresar datos', '');
            $('.fos_user_resetting_request').on('submit', function(e){
                e.preventDefault();

                content = $( this ).serialize(),
                url = $( this ).attr( "action" );

                var send_button = $('.forgotten-password-modal input[type=submit]').eq(0);
                send_button.attr('disabled', 'disabled');
                send_button.val('Enviando');

                // Envio el form por ajax
                var posting = $.post( url, content ).done(function(data) {
                    if (data.status == 'ok') {
                        $('.forgotten-password-modal .blue-back-big').animate({'opacity': 0}, 400, function(){
                            $('.forgotten-password-modal .blue-back-big').addClass('yellow-back-big');
                            $('.forgotten-password-modal .blue-back-big').removeClass('blue-back-big').animate({'opacity': 1}, 400);
                            $('.forgotten-password-modal h1').eq(0).html('Chequeá tu email')

                                var msg = $('.forgotten-password-modal p').eq(0);
                            msg.html('Te hemos enviado un correo<br>electrónico para restablecer<br>tu contraseña');
                            msg.addClass('center');

                            $('.forgotten-password-modal input').remove()
                                $('.forgotten-password-modal .submit-container').append('<button data-dismiss="modal">OK</button>')
                        });
                    }else{
                        // error de validacion de mail
                        showMailValidationError();
                        send_button.attr('disabled', null);
                        send_button.val('Enviar Mail');
                    }
                })
                .fail(function(data) {
                    $('.forgotten-password-modal .blue-back-big').animate({'opacity': 0}, 400, function(){
                        $('.forgotten-password-modal .blue-back-big').addClass('yellow-back-big');
                        $('.forgotten-password-modal .blue-back-big').removeClass('blue-back-big');
                        $('.forgotten-password-modal h1').eq(0).html('Error :(')

                                var msg = $('.forgotten-password-modal p').eq(0);
                                msg.html('Ocurrió un error al intentar restablecer tu contraseña, inténtalo más tarde nuevamente');
                                msg.addClass('center');

                                $('.forgotten-password-modal input').remove()
                                $('.forgotten-password-modal .submit-container').append('<button data-dismiss="modal">OK</button>')
                                });
                        })				
                    });

                function showMailValidationError(){
                    $('.forgotten-password-modal .email-container .error').animate({'opacity': 1}, 400);

                    setTimeout(function() {
                        $(".forgotten-password-modal .email-container .error").animate({'opacity': 0}, 400)
                    }, 5000);
                }
        });

	</script>
    <script language="javascript" type="text/javascript">
	var _imMktOptions = _imMktOptions || {_setType: 'Adq', _setDomain: 'www.pinatamailing.com.ar',_itemsQuantity: -1,_amount:-1,_extraInfo: 'Info Adicional'};
	(function() {
		var icomMkt = document.createElement('script'); icomMkt.type = 'text/javascript'; icomMkt.async = true;
		icomMkt.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'externalassets.icommarketing.com/icomMkt_tracking_jquery.min.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(icomMkt, s);
	})();
</script>

<noscript>
	<div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="www.pinatamailing.com.ar/pixelCPA.aspx?itemsQuantity=-1&amount=-1&extraInfo=Info Adicional"/></div>
</noscript>
	<script type="text/javascript" src="{{ asset('js/frontend/checkout/checkout.js') }}"></script>
{% endblock %}
