{% extends 'frontend/checkout/base.html.twig' %}

	{% block content %}
		<div class="container checkout-envio">
			<div class="row title-container">
				<div class="col-sm-12">
					<h1 class="title">¿Cómo querés recibir tu pedido?</h1>
				</div>
			</div>

			{{ include('frontend/common/flash.html.twig') }}
			<div class="row forms-container">
				<div class="col-xs-12 col-sm-5">
					<div class="envio-option">
						<input type="radio" name="select-envio-type" class="select-envio-type radio-blue" value="domicilio" data="{{form_domicilio.vars.id}}" id="{{form_domicilio.vars.id}}"> <label class="inline radio-blue-label" for="{{form_domicilio.vars.id}}">Envío a Domicilio</label>
					</div>
					<div class="envio-option">
						<input type="radio" name="select-envio-type" class="select-envio-type radio-blue" value="sucursal" data="{{form_sucursal.vars.id}}" id="{{form_sucursal.vars.id}}"> <label class="inline radio-blue-label" for="{{form_sucursal.vars.id}}">Envío a sucursal de Correo</label>
					</div>
					<div class="envio-option">
						<input type="radio" name="select-envio-type" class="select-envio-type radio-blue" value="pickup" data="{{form_pickup.vars.id}}" id="{{form_pickup.vars.id}}"> <label class="inline radio-blue-label" for="{{form_pickup.vars.id}}">Pickup</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-5 form-envio-container domicilio-container">
					{{ form_start(form_domicilio, {'attr': {'novalidate': 'novalidate'}}) }}
						<div class="row">
							<div class="col-xs-12">
								{{form_row(form_domicilio.nombre)}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								{{form_row(form_domicilio.apellido)}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								{{form_row(form_domicilio.telefono)}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								{{form_row(form_domicilio.calle)}}
							</div>
							<div class="col-xs-6">
								{{form_row(form_domicilio.numero)}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								{{form_row(form_domicilio.piso)}}
							</div>
							<div class="col-xs-6">
								{{form_row(form_domicilio.deptoNro)}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								{{form_row(form_domicilio.provincia)}}
							</div>
							<div class="col-xs-6">
								{{form_row(form_domicilio.localidad)}}
							</div>
						</div>	
						<div class="row">
							<div class="col-xs-6">
								{{form_row(form_domicilio.codigoPostal)}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								{{form_row(form_domicilio.servicio)}}
							</div>
						</div>
					{{ form_end(form_domicilio) }}
					<div class="row">
						<div class="col-sm-12">
							<div class="opciones-domicilio"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-5 form-envio-container sucursal-container">					
					{{ form_start(form_sucursal, {'attr': {'novalidate': 'novalidate'}}) }}
						<div class="row">
							<div class="col-sm-12">
								{{form_row(form_sucursal.nombre)}}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								{{form_row(form_sucursal.apellido)}}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								{{form_row(form_sucursal.telefono)}}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								{{form_row(form_sucursal.provincia)}}
							</div>
							<div class="col-sm-6">

								{{form_row(form_sucursal.localidadId)}}
							</div>
						</div>	
						<div class="row">
							<div class="col-sm-12">
								{{form_row(form_sucursal.servicio)}}
								{{form_row(form_sucursal.sucursal_id)}}
							</div>
						</div>
					{{ form_end(form_sucursal) }}
					<div class="row">
						<div class="col-sm-12">
							<div class="opciones-sucursal"></div>
							<div class="informacion-sucursal"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-5 form-envio-container pickup-container">
					{{ form_start(form_pickup, {'attr': {'novalidate': 'novalidate'}}) }}
						<div class="row">
							<div class="col-sm-12">
								{{form_row(form_pickup.nombre)}}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								{{form_row(form_pickup.apellido)}}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								{{form_row(form_pickup.telefono)}}
							</div>
						</div>
						<div class="row pickup-info">
							<div class="col-sm-12">
								<p class="pickup-mail">
                                    Las entregas se realizan únicamente los días Miércoles y Viernes, previa confirmación por mail
								</p>
								<p class="pickup-direccion">
									Dirección de Pick Up:<br>
									{{ direccion_pickup }}
								</p>
								<p class="pickup-horario">
									{{ horario_pickup }}
								</p>
								
							</div>
						</div>
					{{ form_end(form_pickup) }}
				</div>
			</div>
			<div class="row buttons-container">
				<div class="col-sm-6">
					<a href="{{ path('frontend_checkout_carrito') }}" class="blue-button seguir-comprando pull-left"> < Volver atrás</a>
				</div>
				<div class="col-sm-6">
					<button class="blue-button continuar pull-right">Continuar</button>
					{# <a href="{{ path('frontend_checkout_pago') }}" class="blue-button continuar pull-right"> > Continuar </a> #}
				</div>
			</div>


		</div>
	{% endblock %}

{% block javascripts %}
    <script>
        ga('send', 'event', 'Paso 3', 'Envio', '');
    </script>
	<script type="text/javascript">
		var url_cotizar_domicilio = "{{path('ajax_envios_cotizar_domicilio')}}";
		var url_cotizar_sucursal = "{{path('ajax_envios_cotizar_sucursal')}}";
		var url_localidades_sucursal = "{{path('ajax_envios_localidades')}}";
		var domicilio_submitted = '{{domicilio_submitted}}' == '1';
		var sucursal_submitted = '{{sucursal_submitted}}' == '1';
		var pickup_submitted = '{{pickup_submitted}}' == '1';
	</script>
    <script type="text/javascript" src="{{ asset('js/frontend/checkout/envio.js') }}"></script>
{% endblock %}
