{% extends 'frontend/checkout/base.html.twig' %}

	{% block content %}
		<div class="container checkout-pago">
			<div class="row title-container">
				<div class="col-sm-12">
					<h1 class="title">Finalizá tu compra</h1>
				</div>
			</div>
			<table>
				<tbody>
					{% set total = 0 %}
					{% for item in items %}
						<tr class="item">
							<td class="img">
								{% if item.producto.getFirstImage %}
									<img class="img-responsive img-center" src="{{ vich_uploader_asset(item.producto.getFirstImage, 'imagen_archivo') }}">
								{% else %}
									<img src="{{ asset('img/producto-placeholder.png') }}" class="img-responsive img-center" alt="No hay una imagen disponible para este producto"/> 
								{% endif %}
							</td>
							<td class="nombre">
								<p class="producto">{{item.producto.nombre}}</p>
								<p class="codigo">Código {{ item.producto.codigoSku}}</p>
							</td>
							<td class="cantidad widget center">
								{{ item.cantidad }}
							</td>
							{% set precio_unidad = item.producto.precioOferta ? item.producto.precioOferta : item.producto.precio %}
							{% set precio = precio_unidad * item.cantidad %}
							{% set total = total + precio %}
							<td class="precio" unitario="{{precio_unidad}}" total="{{precio}}">
								<p class="money-column">
									${{ precio|number_format(2) }}
								</p>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td class="subtotal">
							<p class="sub">Subtotal</p>
						</td>
						<td class="precio precio-subtotal">
							<p class="money-column">${{precio_items|number_format(2)}}</p>
						</td>
					</tr>
					{% if not envio_is_pickup %}
						<tr>
							<td></td>
							<td></td>
							<td class="subtotal">
								<p class="sub">Envio</p>
							</td>
							<td class="precio precio-subtotal">
								<p class="money-column">
									{{ precio_envio == 0 ? '' : '$'}}
									{{ precio_envio == 0 ? 'Gratis' : precio_envio|number_format(2) }}
								</p>
							</td>
						</tr>
					{% endif %}
					<tr class="descuento-container">
                        <td class='descuentoTipoContainer'> 
                            <input id='descuentoTipoPinata' class='descuentoRadio' checked='checked' name='descuentoTipo' type='radio' value='pinata'/> <span class='descuentoTipoLabel'>Código de descuento</span><br>
                            <input id='descuentoTipo365' class='descuentoRadio radio-blue' name='descuentoTipo' type='radio' value='365'/> <span class='descuentoTipoLabel'>Clarín 365 </span> </br>
                            <input id='descuentoTipoAndes' class='descuentoRadio radio-blue' name='descuentoTipo' type='radio' value='andes'/> <span class='descuentoTipoLabel'>Club Andes Pass</span> </br>
                            <input id='descuentoTipoLaVoz' class='descuentoRadio radio-blue' name='descuentoTipo' type='radio' value='andes'/> <span class='descuentoTipoLabel'>La Voz</span> </br>
                        </td>
						<td colspan="2">
							<div id='descuentoPinataFormContainer' class="descuento-form-container"  >
							{{ form_start(form_descuento, {'attr': {'novalidate': 'novalidate', 'class':'descuento-form'}}) }}
								{{ form_widget(form_descuento.codigo, {'attr':{'id': 'descuento_codigo', 'class':'descuento-codigo', 'placeholder': 'Ingrese el código'}}) }}
								<button class="blue-button descuento-button" type="submit">Verificar</button>
							{{ form_end(form_descuento) }}
							</div>
                            <div id='descuento365FormContainer' class="descuento-form-container" style='display: none;'>
                                <input id='tarjeta365' type='text' class='descuento-codigo' placeholder='Número de tarjeta'>
								<a id='verificar365' class="blue-button descuento-button">Verificar</a>
							</div>
                            <div id='descuentoAndesFormContainer' class="descuento-form-container" style='display: none;'>
                                <input id='tarjetaAndes' type='text' class='descuento-codigo' placeholder='Número de tarjeta'>
								<a id='verificarAndes' class="blue-button descuento-button">Verificar</a>
							</div>
                            <div id='descuentoLaVozFormContainer' class="descuento-form-container" style='display: none;'>
                                <input id='tarjetaLaVoz' type='text' class='descuento-codigo' placeholder='Número de tarjeta'>
								<a id='verificarLaVoz' class="blue-button descuento-button">Verificar</a>
							</div>
							<div class="descuento-message"></div>
						</td>
						<td class="precio">
							<p class="descuento-monto money-column">
							- ${{ monto_descuento|number_format(2) }}
							</p>
						</td>
					</tr>
                    <br>
					<tr>
						<td></td>
						<td></td>
						<td class="total">
							<p class="total-text">Total</p>
						</td>
						<td class="precio">
							<p class="precio-total money-column">
								${{ precio_total|number_format(2) }}
							</p>
						</td>
					</tr>
				</tfoot>
			</table>
			<div class="payment-container">
				{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
				<div class="row">
					<div class="col-xs-12">
						<h3 class="choose-payment">Elegí tu forma de pago</h3>
						<div class="payment-options">
						{% for payment in form.payment %}
							{{form_widget(payment, {'attr':{'class':'radio-blue'}})}}
							{{form_label(payment, ' ', {'label_attr':{'class': 'radio-blue-label'}})}}
							<label class="{{payment.vars.value|lower}}" for="{{payment.vars.id}}"></label>
						{% endfor %}
						{{form_errors(form.payment)}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-xs-12 payment-dni-container">
						{{form_label(form.DNI)}}<br>
						{{form_widget(form.DNI, {'attr':{'placeholder': 'Ej: 12345678', 'class': 'payment-dni'}})}}
						{{form_errors(form.DNI)}}
					</div>
					<div class="col-sm-2 col-xs-12 xs-center button-container">
						<input class="blue-button buy-button" type="submit" value="Comprar">
					</div>
				</div>


                {{form_widget(form.clarin365, {'attr': {'id': 'clarin365'}})}}
				{{ form_end(form) }}
			</div>
		</div>
	{% endblock %}

{% block javascripts %}
    <script>
        ga('send', 'event', 'Paso 4', 'elegirpago', '');
    </script>
    <script type="text/javascript" src="{{ asset('js/frontend/checkout/pago.js') }}"></script>
{% endblock %}
