{% extends 'frontend/layout.html.twig' %}
	{% block main %}
		<div class="container checkout-pago center">
			{% if 'error' == action %}
				<h3 class="title">Tu pago fue rechazado</h3>
				<p>Puedes intentarlo de nuevo con otra tarjecta</p>
				<p class="try-again">
					<a href="{{mpUrl}}" class="blue-button">
						Intentar nuevamente
					</a>
				</p>
			{% elseif 'pendiente' == action %}
                <script>ga('send', 'event', 'Paso 5', 'Pago en proceso') </script>
				<h3 class="title">Tu pago está siendo procesado</h3>
				<p>Te enviaremos un e-mail cuando esté confirmado</p>
			{% elseif 'success' == action %}
				<h1 class="title">¡Gracias por tu compra!</h1>
				<p>Tu compra fue confirmada, tu n° de pedido es {{pedido_id}}</p>
				<p>Te enviaremos un e-mail con los detalles de tu compra</p>
                <script>ga('send', 'event', 'Paso 6', 'Pago exitoso') </script>
                <script>
                    var itemsGASTR     = "{{itemsGA}}";
                    var transactionSTR = "{{transaccionGA}}";

                    itemsGASTR = itemsGASTR.replace(/&quot;/g,'"');
                    transactionSTR = transactionSTR.replace(/&quot;/g,'"');

                    itemsGA = JSON.parse(itemsGASTR);
                    transaction = JSON.parse(transactionSTR);

                    for (x=0; x<itemsGA.length; x++) {
                        var item = itemsGA[x];
                        ga('ecommerce:addItem', item);
                    }

                    ga('ecommerce:addTransaction', transaction);
                    ga('ecommerce:send');
                    
                </script>
                <script>
                    var facebookPixelData = "{{facebookPixelData}}";
                    facebookPixelData = facebookPixelData.replace(/&quot;/g,'"');
                    var purchaseData = JSON.parse(facebookPixelData);
                    fbq('track', 'Purchase', purchaseData); 
                </script>
                <script language="javascript" type="text/javascript">
                    var _imMktOptions = _imMktOptions || {_setType: 'Adq', _setDomain: 'www.pinatamailing.com.ar',_itemsQuantity: -1,_amount:-1,_extraInfo: 'Info Adicional'};
(function() {
    var icomMkt = document.createElement('script'); icomMkt.type = 'text/javascript'; icomMkt.async = true;
    icomMkt.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'externalassets.icommarketing.com/icomMkt_tracking_jquery.min.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(icomMkt, s);
})();
                </script>

                <noscript>
                    <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="www.pinatamailing.com.ar/pixelCPA.aspx?itemsQuantity=-1&amount=-1&extraInfo=Info Adicional"/></div>
                </noscript>
			{% endif %}
		</div>
	{% endblock %}
{% block javascripts %}
{% endblock %}
