<form class='loginForm' action="{{ path(check_route) }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="field">
        <label for="username">Usuario</label>
        <input class="right" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    <div class="field fieldPassword">
        <label for="password">Contraseña</label>
        <input class="right" type="password" id="password" name="_password" required="required" />
    </div>
    <div class='hidden-xs hidden-sm'>
        <a data-toggle="modal" data-target="#forgotten-password-modal" class="forgotten-password">Olvidé mi contraseña</a>
    </div>
    <div>
        <input class="remember left" type="hidden" id="remember_me" name="_remember_me" value="1" />
        <input class="right loginSubmit" type="submit" id="_submit" name="_submit" value="Ingresar" />
    </div>


</form>
{% if error %}
    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<img class="img-responsive hidden-xs mickeyLogin" src="{{asset('img/mickey-logIn.png')}}">
