{% extends 'backend/layout.html.twig' %}

{% block main %}
    <div class="col-sm-12 titulo">
	  <span>{{ titulo }}</span>
	</div>
 	<div class="container-fluid">
        {{ include('backend/common/flash.html.twig') }}

    {{ form_start(form) }}
    	<div class="row spaced-row">
			<div class="col-sm-12"> {{ form_row(form.nombre, {attr:{'class':'form-control'}}) }} </div>
		</div>
        <div class='row spaced-row'>
            <div class='col-md-3'>{{ form_row(form.alto, {attr:{'class':'form-control'}})}}</div>
            <div class='col-md-3'>{{ form_row(form.largo, {attr:{'class':'form-control'}})}}</div>
            <div class='col-md-3'>{{ form_row(form.ancho, {attr:{'class':'form-control'}})}}</div>
            <div class='col-md-3'>{{ form_row(form.volumen, {attr:{'class':'form-control'}})}}</div>
        </div>
		<div class="row spaced-row">
			<div class="col-sm-12">
				<input type="submit" value="Guardar cambios" class="btn btn-primary" />
				<a href="{{ path('backend_caja_index') }}" class="btn btn-default">
	 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Volver al listado
				</a>
				<a href="{{ path('backend_caja_delete', { id: caja.id }) }}" class="btn btn-danger">
	 				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Borrar
				</a>
			</div>    
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
