{% extends 'backend/layout.html.twig' %}

{% block main %}
<!-- begin main -->
<div class="titulo">
  <span>Listado de Cajas</span>
</div>
{{ include('backend/common/flash.html.twig') }}

<div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Alto</th>
            <th>Largo</th>
            <th>Ancho</th>
            <th>Volumen</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          	{% for caja in cajas %}
			<tr>
				<td>{{ caja.nombre }}</td>
				<td>{{ caja.alto }}</td>
				<td>{{ caja.largo }}</td>
				<td>{{ caja.ancho }}</td>
				<td>{{ caja.volumen }}</td>
				<td class="text-center">
					<a href="{{ path('backend_caja_edit', { id: caja.id }) }}">
						<span class="glyphicon glyphicon-pencil list-actions" aria-hidden="true"></span>
					</a>
					<a href="{{ path('backend_caja_delete', { id: caja.id }) }}">
						<span class="glyphicon glyphicon-remove list-actions" aria-hidden="true"></span>
                    </a>
				</td>
			</tr>
			{% endfor %}
        </tbody>
      </table>
    </div>
</div>
<div class="navigation">
    <div class="row">
    	<div class="col-sm-6">
    		<a href="{{ path('backend_caja_new') }}" class="btn btn-default pull-left">
    				<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Crear Caja  
    		</a>
    	</div>
    </div>
</div>
<!-- end main -->
{% endblock %}


{% block javascripts %}
{% endblock %}
