<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
   	<h1 class='forgotPassTitle'>¿Olvidaste tu contraseña?</h1>
   	<div class="email-reset-container">
	   	<p>Introduce tu E-mail y te enviaremos un correo electrónico para restablecerla</p>
	    <div class="email-container">
	        <input type="text" id="username" name="username" placeholder="Introduce tu E-mail" />
	        <span class="error" style="opacity: 0;">El mail ingresado no es válido</span>
	    </div>
	    <div class="submit-container">
	        <input type="submit" value="Enviar Mail" />
	    </div>
   	</div>
</form>
