{% extends 'frontend/layout.html.twig' %}

{% block main %}
	<div class="container reset-password">
		<div class="blue-back-medium reset-background">
			<div class="inline form-container">
				{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
					<h1>Restablecer Contraseña</h1>
					<div>
						{{ form_widget(form.plainPassword.first, {'attr':{'placeholder': 'Nueva Contraseña'}}) }}
					</div>
					<div>
					    {{ form_widget(form.plainPassword.second, {'attr':{'placeholder': 'Confirmar Contraseña'}}) }}
					</div>
					<div>
						<input type="submit" value="Guardar" />
					</div>
				{{ form_end(form) }}
			</div>
			<div class="inline happy-dory dory-background"></div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
