
<ul class="panel">
	<li>
		<a class="{{ 'datos_personles' == activo ? 'active' : '' }}" href="{{path('frontend_cuenta_datos_personales')}}">Datos Personales</a>
	</li>
	<li>
		<a class="{{ 'pedidos' == activo ? 'active' : '' }}" href="{{path('frontend_cuenta_pedidos')}}">Pedidos</a>
	</li>
    {#
	<li>
		<a class="{{ 'consultar_envios' == activo ? 'active' : '' }}" href="{{path('frontend_cuenta_tracking')}}">Consultar Envío</a>
	</li>
    #}
</ul>
<div>
	<img class="minion img-responsive" src="{{ asset('img/minion-cuenta.png') }}">
</div>

