/* FOOTER */

.footerDesktop .content{
    min-width: 1355px;
    padding-top: 20px;
}

.footerDesktop .container {
    width: 100%;
}

.footerDesktop{ padding: 50px 0 0 0;}

/* SUSCRIBITE */
.subscribe-row {
    margin-bottom: 30px;
}

.footerDesktop .sub-title{ 
    font-size: 18px; 
    margin-bottom: 5px;
    text-transform: uppercase; 
    color: #28adf7;;
    font-weight: bold;
}

.footerDesktop .sub-title span{
    border-bottom: 2px solid #bcc5d4;
    padding: 0 20px 8px 0;
}    

.footerDesktop .novedades{
    text-transform: uppercase;
    font-weight: bold;
}

.footerDesktop .subscribe-input-container{
    max-width: 300px;
    width: 100%
}

.footerDesktop input.subscribe{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #28adf7;
    color: #28adf7;
    font-size: 14px; 
    font-style: italic; 
    width: 100%
}

.footerDesktop input.subscribe:focus{
    outline: none
}


.footerDesktop .subscribe-button{
    background: none repeat scroll 0 0 #28adf7;;
    border: none;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 5px 15px;
    text-align: center;
    border-radius: 15px;
}

.footerDesktop input.subscribe::-webkit-input-placeholder { /* Chrome */
  color: #28adf7;
}
.footerDesktop input.subscribe:-ms-input-placeholder { /* IE 10+ */
  color: #28adf7;
}
.footerDesktop input.subscribe::-moz-placeholder { /* Firefox 19+ */
  color: #28adf7;
  opacity: 1;
}
.footerDesktop input.subscribe:-moz-placeholder { /* Firefox 4 - 18 */
  color: #28adf7;
  opacity: 1;
}

.footerDesktop .subscribe-container{
    margin-top: 16px;
}

@media (max-width: 512px) {
    .footerDesktop .subscribe-container{
        text-align: left;
    }
    .footerDesktop .subscribe-button{
        text-align: center;
        margin-top: 10px;
    }
}

/* SUSCRIBITE END */

/* SOCIAL */
.footerDesktop .social{
    margin-top: 10px;
}

.footerDesktop .social a{
    display: inline-block;
}

.footerDesktop .social a img {
    height: 40px;
    width: 40px;
}

/* SOCIAL END */

/* FOOTER ICONS */
.icons-row {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.icons-row a img {
    width: 240px;
}

.icon-container {
    width: 20%;
    float: left;
    min-width: 245px;
}

/* FOOTER ICONS END  */

/* FOOTER LINKS */
.links-row {
    margin-bottom: 30px;
    width: 100%;
}

.links-row .links-container {
    width: 70%;
    float: left;
    text-transform: uppercase;
    text-align: center;
    min-width: 670px;
}

.links-row .margin-left, .links-row .margin-right {
    width: 15.5%;
    float: left;
    height: 10px;
}
.links-container a {
    margin-right: 20px;
    margin-left: 20px;
    color: #6a6c6d;
    font-weight: 550;
}

.link-separator {
    font-size: 25px;
}

.footerDesktop .bottom-divider{ border-top: 1px solid #bcc5d4; }
/* FOOTER LINKS END*/

/* RIGHTS ROW */

.footerDesktop .rights-row {
    font-size: 12px;
    text-transform: uppercase;
}
.footerDesktop .privacy-terms{
    margin: 20px 0;
}

.footerDesktop .privacy-terms ul{ 
    margin-top: -7px; 
    text-align: right;
}
.footerDesktop .privacy-terms ul li{ 
    padding-top: 0; 
    padding-bottom: 0;
}

.footerDesktop .privacy-terms ul li a{ 
    color: rgb(51, 51, 51);
}

.footerDesktop .copyright{ 
    margin: 20px 0; 
}

.footerDesktop .mediosPagoFooter img {
    margin-top: -10px;
}

/* RIGHTS ROW END */


/* FOOTER MOBILE */

.footerMobile {
    background-color: #dfdfe1;
    padding-top: 30px;
    padding-bottom: 10px;
}

.socialMobileRow {
    margin-bottom: 30px;
}

.socialMobileRow a img {
    height: 40px;
    width: 40px;
}

.footerMobile .sub-title{ 
    font-size: 18px; 
    margin-bottom: 5px;
    text-transform: uppercase; 
    color: #28adf7;;
    font-weight: bold;
    letter-spacing: 2px;
}

.footerMobile .novedades{
    text-transform: uppercase;
    font-size: 11px;
}

.footerMobile .subscribe-input-container{
    max-width: 300px;
    width: 100%
}

.footerMobile input.subscribe{
    text-align: center;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #28adf7;
    color: #28adf7;
    font-size: 14px; 
    font-style: italic; 
    width: 100%
}

.footerMobile input.subscribe:focus{
    outline: none
}


.footerMobile .subscribe-button{
    background: none repeat scroll 0 0 #28adf7;;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
    text-align: center;
    border-radius: 15px;
    margin-top: 15px;
}

.footerMobile input.subscribe::-webkit-input-placeholder { /* Chrome */
  color: #28adf7;
}
.footerMobile input.subscribe:-ms-input-placeholder { /* IE 10+ */
  color: #28adf7;
}
.footerMobile input.subscribe::-moz-placeholder { /* Firefox 19+ */
  color: #28adf7;
  opacity: 1;
}
.footerMobile input.subscribe:-moz-placeholder { /* Firefox 4 - 18 */
  color: #28adf7;
  opacity: 1;
}

.footerMobile .subscribe-container{
    margin-top: 16px;
}

.footerMobile .bottom-divider{ border-top: 1px solid #9f9fa1; }
.footerMobile .copyright {
    text-align: center;
    font-size: 10px;
}

.footerMobileMediosPago img {
    width: 300px;
    margin-top: 10px;
}
