/*HEADER OBJECTS*/

.headerDesktop {
    min-width: 1355px;
}
.home-logo{
    width: 190px;
    margin: 20px 0;
    z-index: 1000;
}

/* PERSONAJES */
.slick-next:before, .slick-next:before{ opacity: 0 }
.slick-next:hover:before, .slick-next:focus:before{ opacity: 0 }
.slick-prev:before, .slick-prev:before{ opacity: 0 }
.slick-prev:hover:before, .slick-prev:focus:before{ opacity: 0 }

button.slick-prev.slick-arrow{
    background-image: url(../../../img/arrow-left.png);
    left: -25px;
}

button.slick-next.slick-arrow{
    background-image: url(../../../img/arrow-right.png);
}

button.slick-next.slick-arrow, button.slick-prev.slick-arrow{
    height: 30px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: 80%;
    top: 35%;
}


button.slick-prev.slick-arrow:hover{ opacity: 0.75 }
button.slick-next.slick-arrow:hover{ opacity: 0.75 }


.slick-prev{left: -15px;}
.slick-next{right: -40px;}

.slick-active{
    display: block;
    transition: opacity 1s ease-out;
    opacity: 1;
}

.personaje-img-container{
    display: none;
    /*opacity: 0;*/
    transition: all 1s ease;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

a.personaje-item:focus{ outline: none; }
.personaje-item img {
    max-height: 75px;
}

.personaje-img-container .personaje-nombre{
    opacity: 0;
    margin-top: -95px;
    padding-top: 105px;
}
.personaje-img-container .personaje-nombre:hover{
    opacity: 1 !important;
    transition: opacity 1s;
}

@media (max-width: 768px) {
    button.slick-prev.slick-arrow {
        left: 0;
    }
}

.personajes-container {
    margin-top: 20px;
    width: 100%;
    margin-bottom: -35px;
}
/* FIN PERSONAJES */

/* CATEGORIAS */

.categorias-container ul {
    margin-left: -80px !important;
}
.categorias-container {
    margin-left: 50px;
    margin-top: 45px;
}

ul.categorias.nav.navbar-nav.navbar-centered{ 
    width: 100%; 
    margin: 0; 
}

.categorias.nav{
    float: none; 
    background-color: #fff;
}

.categorias-container > ul > li{
    float: none; 
    display: inline-block;
}

.categorias.nav li ul li{
    float: none; 
    display: block;
}

.categorias.nav li:hover li a,
.categorias.nav li:focus li a,
.categorias.nav li.active li a{
    color: initial;
}


.categorias.nav li:hover a,
.categorias.nav li:focus a,
.categorias.nav li.active a,
.categorias.nav li li:hover a,
.categorias.nav li li:focus a,
.categorias.nav li li.active a,
.categorias.nac li.has-sub:hover a{
    color: #28adf7;
}

.grey-background{
    background-color: #ededed;
}

.categorias li a.sale{ 
    font-weight: bold;
}

.categorias li .sale-red-star{
    margin: -15px 0 0 -5px;
    height: 15px;
}

.categorias li a{ font-size: 16px; }

.categorias-container > ul > li {
    display:inline-block;
    margin-left: -5px;       /* This is when the drop down box appears */
    position: relative;
}
.categorias-container > ul > li > a {
    -webkit-transition: color .15s;
    -moz-transition: color .15s;
     -o-transition: color .15s;
        transition: color .15s;
}

.categorias-container ul > li > ul {
        opacity: 0;
        visibility: hidden;
        padding: 10px 0 10px 0;
        background-color: rgb(250,250,250);
        text-align: left;  /* This is for the text when box is dropped down, centered isnt always totally in the middle so best to have on the left */
        position: absolute;
        top: 55px;          /* This is for the drop down annimation */
        left: 50%;
        margin-left: -90px;
        width: 180px;
        -webkit-transition: all .3s .1s;
       -moz-transition: all .3s .1s;
         -o-transition: all .3s .1s;
            transition: all .3s .1s;
            -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
       -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
            box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}

.categorias.nav li:hover > ul {
    opacity: 1;
    top: 44px;          /* This is how far from the top the drop down annimation will go  */
    visibility: visible;
    display: block;
}

.categorias-container > ul > li > ul:before{
        content: '';
        display: block;
        border-color: transparent transparent rgb(250,250,250) transparent;
        border-style: solid;
        border-width: 10px;  /* The border on the drop down box  */ 
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: -10px;
}
.categorias-container > ul ul > li { position: relative;}
.categorias-container ul ul a{     /* This is the drop down menu, change font or size when its drops down */
    color: rgb(50,50,50);
    background-color: rgb(250,250,250);
    padding: 5px 8px 7px 16px;
    display: block;
    -webkit-transition: background-color .1s;
   -moz-transition: background-color .1s;
     -o-transition: background-color .1s;
        transition: background-color .1s;
}
/*.categorias-container .has-sub:hover a {color: #28adf7;}*/
.categorias-container ul ul{z-index: 100;}
.categorias-container hr{ margin: 0 15px;}

.categoriaLink {
    color: #767b82;
}

.has-sub a {
    color: #767b82 !important;
}

.has-sub a:hover {
    color: #28adf7 !important;
}
/* TOOLBAR */

.toolbar-container {
    width: 100%;
    margin-top: 25px;
}

.toolbar-container div {
    display: inline;
    margin-left: 10px;
    cursor: pointer;
    color: #767b82;
    text-align: right;
}

.toolbar-icon {
    height: 22px;
}

.search-box {
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    border: 1px solid #ccc;
    margin-left: -120px;
    margin-top: 5px;
    padding: auto;
    border-top: none;
    box-shadow: 2px 4px #ccc;
}

.search-box form {
    margin-top: 10px;
    margin-left: 10px;

}

.user-box {
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    border: 1px solid #ccc;
    margin-left: -50px;
    margin-top: 5px;
    padding: auto;
    border-top: none;
    box-shadow: 2px 4px #ccc;
    padding-top: 20px;
    padding-bottom: 15px;
    position: absolute;
    z-index: 1000;

}

.userGreeting {
    text-align: center;
    margin-bottom: 7px;
    color: #28adf7;
    font-weight: 600;
}

.userLink {
    margin-left: 15px;
    margin-bottom: 3px;
}

.userLink a, .loginLink a {
    color: rgb(118, 123, 130);
}


.logoutLink {
    margin-right: 20px;
}

.userLink a:hover, .loginLink a:hover {
    color: #28adf7;
}

.cart-box {
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    border: 1px solid #ccc;
    margin-left: -135px;
    margin-top: 5px;
    padding: auto;
    border-top: none;
    box-shadow: 2px 4px #ccc;
    padding-top: 25px;
    position: absolute;
    z-index: 1000;

}

.ver-carrito-button {
    text-align: center;
    position: relative;
    height: 35px;
    padding: 9px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #787a7c;
    background-color: #e4e6e7;
}

.carrito-item {
    line-height: 13px;
    margin-top: 15px;
}

.carrito-item-qty {
    color: #10a0d9;
    font-size: 12px;
}

.carrito-item-qty span {
    margin-left: 15px;
}

.carrito-item-nombre {
    text-transform: uppercase;
    font-size: 12px;
}

.carrito-item-nombre span {
    margin-left: 15px;
}

.carrito-item-precio {
    color: #10a0d9;
} 

.carrito-item-precio span {
    margin-top: -5px;
}

#loadingCart img {
    width: 200px;
}

/* MOBILE HEADER */

#mobileHeader {
    background-color: #fe0000;
    height: 70px;
}

.mobileLogo {
    width: 100px;
    margin-top: 20px;
}

.burger-container {
    color: white;
    font-size: 20px;
    margin-top: 23px;
    margin-left: 20px;
}

.categoriasMobileContainer {
    margin-top: 40px;
}

/* Categorias mobile */
.categoriasMobile li a.sale{ 
    font-weight: bold;
}

.categoriaMobileLink {
    color: #767b82;
}

.categoriasToggle a {
    color: #767b82;
}

.search-containerMobile {
    margin-top: 22px;
    margin-right: 10px;
    cursor: pointer;
}

.search-boxMobile {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    padding: auto;
    border-top: none;
    box-shadow: 2px 4px #ccc;
    position: absolute;
    z-index: 1000;
}

.search-boxMobile form {
    margin-top: 15px;
    margin-left: 10px;

}
.search-boxMobile form input {
    width: 100%;
}

.burger-container {
    cursor: pointer;
}

.burgerBox {
    position: absolute;
    width: 100%;
    background-color: #dfdfe1;
    z-index: 800;
}

.burgerBox ul li {
    margin-top: 15px;
    margin-left: 10px;
}

#carritoNumberContainer {
    border-radius: 50%;
    background-color: #28adf7;
    display: block;
    font-size: 10px;
    color: white;
    height: 14px;
    width: 14px;
    text-align: center;
    margin-left: 132px;
    margin-top: -5px;
}


/* MAIN */
@media screen and (min-width: 1000px) {
    #main {
        min-width: 1355px;
    }
}
