<div class='row' style='margin-top: 20px; margin-bottom: 30px;'>
    <div class='col-md-6' style='margin-bottom: 30px;'>
        <img id='sueno-laura' style='cursor: pointer; width: 100%; height: auto; display: block;'src='img/sueno-laura2.jpg'/>
    </div>
    <div class='col-md-6'>
        <img id='sueno-pipo' style='cursor: pointer; width: 100%; height: auto; display: block;' src='img/sueno-pipo2.jpg'/>
    </div>
</div>
<!-- Modal Laura -->
<div class="modal fade" id="laura-modal" tabindex="-1" role="dialog" aria-labelledby="LauraModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <iframe height="640" width="100%" src="https://www.youtube.com/embed/w9z_ouDrgMg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- Modal Pipo -->
<div class="modal fade" id="pipo-modal" tabindex="-1" role="dialog" aria-labelledby="PipoModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <iframe height="640" width="100%" src="https://www.youtube.com/embed/VVdR8PyEpBI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>

