{% extends 'backend/layout.html.twig' %}

{% block main %}
<!-- begin main -->
<div class="titulo">
  <span>Exportar comprobantes</span>
</div>
<div class="row">
	<div class="col-md-3">
		{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

		<label>Desde</label>
		{{ form_widget(form.desde, {attr:{'class':'form-control js-datepicker'}}) }}
		<label>Hasta</label>
		{{ form_widget(form.hasta, {attr:{'class':'form-control js-datepicker'}}) }}
		<br/>
		<input type="submit" value="Exportar" class="btn btn-primary" />

	    {{ form_end(form) }}     
       
    </div>
</div>

<!-- end main -->
{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/backend/datepicker.js') }}"></script>
{% endblock %}
