/*boton de play y pausa para video*/
.video-wrapper{
    display: grid;
    line-height: 0;
 /* display:table;
    width:auto;
    position:relative;
    width:50%;*/
}
.playpause {
    background-image:url(/img/play_pause_resume_border.png);
    background-repeat:no-repeat;    
    width:20%;
    height:20%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}