{% for type, flash_messages in app.session.flashBag %}
	{% for flash_message in flash_messages %}
		<div class="row">
			<div class="col-md-12">
				<div class="flash-{{ type }}">
					{{ flash_message }}
				</div>
			</div>
		</div>
	{% endfor %}
{% endfor %}