<!-- Modal -->
<div class="modal fade subscribe-modal" id="subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="SubscribeModalLabel">
  	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="paper-background">
				<div class="dismiss-container">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
				</div>
				<div class="center form-container">
				{{ form_start(form_subscribe, {attr: {novalidate: 'novalidate', 'class': 'form-subscribe-modal'}}) }}
					<div class="rounded-white">
						{{ form_widget(form_subscribe.email, {attr:{'class':'subscribe', 'placeholder' : 'E-mail'}}) }}
					</div>
					<button class="subscribe-button">Suscribirme</button>	
                    {{ form_end(form_subscribe) }}
				</div>
				<div class="text-container"> * Valido solo para la primera compra | No acumulable con otras promociones</div>
			</div>
		</div>
  	</div>
</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/frontend/layout/newsletter-modal.js') }}"></script>
{% endblock %}
