<div class="filter-title">Filtrar Por</div>

{{ form_start(form, {attr: {novalidate: 'novalidate', 'class': 'producto-filter-form'}}) }}
{#{% if form.genero is defined %}
	<div class="filter-container">
		<ul>
		{% for genero in form.genero %}
			<li class="inline">{{ form_widget(genero, {attr:{'class':'round-checkbox'}}) }}{{ form_label(genero, null, { 'label_attr': {'class': 'round-checkbox-label'} }) }}</li>
		{% endfor %}
		</ul>
	</div>
	{% do form.genero.setRendered %}
{% endif %}
#}
{% if form.personaje is defined %}
	<div class="filter-container">
		<div class="dropdown-filter" onclick="$('ul.personaje').toggle('blind', {}, 500 );">
			{{ form_label(form.personaje) }}
			<span class="caret"></span>
		</div>
		<ul class="personaje">
		{% for personaje in form.personaje %}
			<li>{{ form_widget(personaje, {attr:{'class':'round-checkbox'}}) }}{{ form_label(personaje, null, { 'label_attr': {'class': 'round-checkbox-label'} }) }}</li>
		{% endfor %}
		</ul>
	</div>
	{% do form.personaje.setRendered %}
{% endif %}

{% if form.categoria is defined %}
	<div class="filter-container">
		<div class="dropdown-filter" id='categoriaFilter' onclick="$('ul.categories').toggle('blind', {}, 500 );">
			{{ form_label(form.categoria) }}
			<span class="caret"></span>
		</div>
		<ul class="categories">
		{% for group_categoria in form.categoria.vars.choices %}
			{% for categoria in group_categoria.choices %}
				{% if not categoria.data.parent %}
					<li>
						{{ form_widget(form.categoria[categoria.value], {attr:{'class':'round-checkbox'}}) }}
						{{ form_label(form.categoria[categoria.value],null, { 'label_attr': {'class': 'round-checkbox-label'} }) }}
					</li>
				{% endif %}
			{% endfor %}
			{% for categoria in group_categoria.choices %}
				{% if categoria.data.parent %}
					<li class="sub-categoria">
						{{ form_widget(form.categoria[categoria.value], {attr:{'class':'round-checkbox'}}) }}
						{{ form_label(form.categoria[categoria.value],null, { 'label_attr': {'class': 'round-checkbox-label'} }) }}
					</li>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</ul>
	</div>
	{% do form.categoria.setRendered %}
{% endif %}

{% if form.edades is defined %}
	<div class="filter-container">
		<div class="dropdown-filter" onclick="$('ul.edades').toggle('blind', {}, 500 );">
			{{ form_label(form.edades) }}
			<span class="caret"></span>
		</div>
		<ul class="edades">
		{% for edades in form.edades %}
			<li>{{ form_widget(edades,  {attr:{'class':'round-checkbox'}}) }}{{ form_label(edades, null, { 'label_attr': {'class': 'round-checkbox-label'} }) }}</li>
		{% endfor %}
		</ul>
		{% do form.edades.setRendered %}
	</div>
{% endif %}
{#
{% if categoria is defined and categoria.nombre == 'Pijamas' or (categoria is defined and categoria.getParent is defined and categoria.getParent.nombre == 'Pijamas') %}
    {% if form.modelos is defined %}
        <div class="filter-container">
            <div class="dropdown-filter" onclick="$('ul.modelos').toggle('blind', {}, 500 );">
                {{ form_label(form.modelos) }}
                <span class="caret"></span>
            </div>
            <ul class="modelos">
            {% for modelos in form.modelos %}
                <li>{{ form_widget(modelos,  {attr:{'class':'round-checkbox'}}) }}{{ form_label(modelos, null, { 'label_attr': {'class': 'round-checkbox-label'} }) }}</li>
            {% endfor %}
            </ul>
            {% do form.modelos.setRendered %}
        </div>
    {% endif %}
{% else %}
#}
    {% if form.modelos is defined %}
            {% do form.modelos.setRendered %}
    {% endif %}
{#
{% endif %}
#}
{{ form_end(form) }}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/frontend/producto-filter-submit.js') }}"></script>
    {% endblock %}

