{% for producto in pagination %}
	{# {% if  loop.index > 1 and (loop.index -1) % 3 == 0 %}
	</div>
	<div class="row">
	{% endif %} #}

	{% if (loop.index -1) % 3 == 0 %}
		<div class="row"> <!-- Begin Row -->
	{% endif %}

	<div class="col-md-4">
        {{ include('frontend/productos/common/producto_item.html.twig', { 'producto': producto, 'add_form': add_forms[producto.id] }) }}
	</div>
	{% if  (loop.index) % 3 == 0 %}
		</div> <!-- End Row -->
	{% endif %}
{% else %}
	<div class="no-result-search center">No se encontraron resultados</div>
{% endfor %}