{% if producto.precioOferta %}
{% set precioFacebook = producto.precioOferta|number_format(2) %}
{% else %}
{% set precioFacebook = producto.precio|number_format(2) %}
{% endif %}

<div class="item">
	<a href="{{ path('frontend_producto',  {'id': producto.id, 'slug': producto.slug}) }}">
        {% if producto.getCirculoDescuento %}
            <div class="circulo {{producto.getCirculoDescuentoClass}}"></div>
		{% elseif producto.sale %}
			<div class="sale"></div>
		{% elseif producto.novedad %}
			<div class="novedad"></div>
		{% endif %}
		{% if producto.getFirstImage %}
			<img class="img-responsive img-center hover-hide" src="{{ vich_uploader_asset(producto.getFirstImage, 'imagen_archivo') }}">
			{% if producto.getSecondImage %}
				<img class="img-responsive img-center hover-show hidden" src="{{ vich_uploader_asset(producto.getSecondImage, 'imagen_archivo') }}">
			{% endif %}
		{% else %}
			<img src="{{ asset('img/producto-placeholder.png') }}" class="img-responsive img-center" alt="No hay una imagen disponible para este producto"/> 
		{% endif %}
	</a>
	<div class="item-detail-container">
		<a href="{{ path('frontend_producto',  {'id': producto.id, 'slug': producto.slug}) }}">
			<div class="item-detail">
				<div class="categoria">{{producto.categoria}}</div>
				<div class="nombre">{{ producto.nombre|length > 42 ? producto.nombre|slice(0, 39) ~ '...' : producto.nombre  }}</div>
				<div class="personaje">{{producto.personaje}}</div>
				<div class="codigo">Código: {{producto.codigoSku}}</div>
				{% if producto.precioOferta %}
					<div class="precio precio-tachado inline">${{producto.precio|number_format(2)}}</div><div class="precio-oferta inline">${{producto.precioOferta|number_format(2)}}</div>
				{% else %}
					<div class="precio">${{producto.precio|number_format(2)}}</div>
				{% endif %}
			</div>
		</a>
		<div class="center agregar-carrito-container">
			{{ form_start(add_form, {'attr': {'novalidate': 'novalidate', 'id' : 'producto-'~producto.id}}) }}
			{{ form_widget(add_form, {attr:{'class':'cantidad hidden'}}) }}
			{% do add_form.cantidad.setRendered %}
                {%if producto.getTalles|length > 0%}
				<a href='{{ path('frontend_producto',  {'id': producto.id, 'slug': producto.slug}) }}' class="ver-detalle" type="submit">Ver detalle</a>
                {% else %}
				<button class="agregar-carritoItem" type="submit">COMPRAR</button>
                {% endif %}
			{{ form_end(add_form) }}

            <input id='precioFacebook' type='hidden' value='{{precioFacebook}}'/>
            <input id='productName' type='hidden' value='{{producto.getNombre}}'/>
            <input id='productSKU' type='hidden' value='{{producto.codigoSku}}'/>
		</div>
	</div>
</div>
