{% if productos|length > 0 %}
	<div class="tambien-puede-interesarte">
		<div class="subtitle">
			<h3>{{title}}</h3>
		</div>
		<div class="tambien-puede-interesarte-slider">
			{% for producto in productos %}
				{{ include('frontend/productos/common/producto_item.html.twig', { 'producto': producto, 'add_form': add_forms[producto.id] }) }}
			{% endfor %}
		</div>
	</div>
	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('js/frontend/producto/tambien-puede-interesante-carousel.js') }}"></script>
        <link rel="stylesheet" href="{{asset('css/frontend/tambien-puede-interesarte.css')}}">
	{% endblock %}

{% endif %}