<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('css/login/login.css') }}" >

    </head>
    <body>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="container center">
                <form action="{{ path(check_route) }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="height40">
                    <label class="left padding-top10" for="username">Usuario</label>
                    <input class="right form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="height40">
                    <label class="left padding-top10" for="password">Contraseña</label>
                    <input class="right form-control" type="password" id="password" name="_password" required="required" />
                </div>
                <div class="height50">
                    <input class="remember left" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label class="remember left" for="remember_me">No cerrar sesión</label>
                    <input class="right" type="submit" id="_submit" name="_submit" value="Ingresar" />
                </div>
            </form>
            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
    </body>
</html>
