
@font-face {
  font-family: 'PlutoMedium';
  src: url('PlutoMedium.eot?#iefix') format('embedded-opentype'),  url('PlutoMedium.otf')  format('opentype'),
	     url('PlutoMedium.woff') format('woff'), url('PlutoMedium.ttf')  format('truetype'), url('PlutoMedium.svg#PlutoMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
