{% extends 'frontend/layout.html.twig' %}

{% block main %}

{% if producto.precioOferta %}
{% set precioFacebook = producto.precioOferta|number_format(2) %}
{% else %}
{% set precioFacebook = producto.precio|number_format(2) %}
{% endif %}

{% set precioFacebookFinal = precioFacebook|replace({',': ''})%}
{% if available_stock > 0 %}
{% set stockState = "in stock" %}
{% else %}
{% set stockState = "out of stock" %}
{% endif %}

<header>
    <!-- Open Graph Metadata -->
    <meta property="og:title" content="{{producto.nombre}}">
    <meta property="og:description" content="{{producto.descripcion|replace({"\n":' ', "\r":' '})}}">
    <meta property="og:url" content="{{app.request.uri}}">
    <meta property="og:image" content="{{ vich_uploader_asset(producto.getFirstImage, 'imagen_archivo') }}">
    <meta property="product:brand" content="Piñata">
    <meta property="product:availability" content="{{stockState}}">
    <meta property="product:condition" content="new">
    <meta property="product:price:amount" content="{{precioFacebook}}">
    <meta property="product:price:currency" content="ARS">
    <meta property="product:retailer_item_id" content="{{producto.id}}">
</header>

	<div class="container">
		<div class="detalle-producto">
			<div class="row">
				<div class="col-md-7">
					<div class="main-image">
						{% if producto.getFirstImage %}
							<img class="img-responsive img-center" src="{{ vich_uploader_asset(producto.getFirstImage, 'imagen_archivo') }}" data-zoom-image="{{ vich_uploader_asset(producto.getFirstImage, 'imagen_archivo') }}">
						{% else %}
							<img src="{{ asset('img/producto-placeholder.png') }}" class="img-responsive img-center" alt="No hay una imagen disponible para este producto"/> 
						{% endif %}
					</div>
					<div class="row imagenes-container">
					{% for imagen in producto.imagenes %}
						{% if imagen.imagen is not null %}
							<div class="col-xs-3">
								<img class="img-responsive img-center img-producto" src="{{ vich_uploader_asset(imagen, 'imagen_archivo') }}" data-zoom-image="{{ vich_uploader_asset(imagen, 'imagen_archivo') }}">
							</div>
						{% endif %}
					{% endfor %}
					</div>
				</div>
				<div class="col-md-5">
					<div>
						<p class="categoria">{{producto.categoria}}</p>
						<p class="nombre">{{producto.nombre}}</p>
						{% if producto.precioOferta %}
							<div class="precio precio-tachado">${{producto.precio|number_format(2)}}</div>
							<div class="precio-oferta">${{producto.precioOferta|number_format(2)}}</div>
						{% else %}
							<div class="precio">${{producto.precio|number_format(2)}}</div>
						{% endif %}
						<div class="codigo">Cód {{producto.codigoSku}}</div>
                        {% if producto.getTalles|length > 0%}
                        <br>
                            <select id='talleSelector'>
                                <option value=''> Seleccione el talle deseado... </option>
                                {% for talle in producto.getTalles %}
                                {% if talle.getStock and talle.getActivo and talle.deletedAt is null%}
                                <option value='{{talle.getId}}' {%if producto.getId == talle.getId%} selected='selected'{% endif %}>{{talle.getDescripcionTalle}}</option>
                                {#<option value='{{talle.getId}}'disabled='disabled' >{{talle.getDescripcionTalle}}</option>#}
                                {% endif %}
                                {% endfor %}
                            </select>
                        {% elseif producto.getParent %}
                            <select id='talleSelector'>
                                <option value=''> Seleccione el talle deseado... </option>
                                {% for talle in producto.getParent.getTalles %}
                                {% if talle.getStock and talle.getActivo and talle.deletedAt is null %}
                                <option value='{{talle.getId}}' {%if producto.getId == talle.getId%} selected='selected'{% endif %}>{{talle.getDescripcionTalle}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>

                        {% endif %}

                        {% if not producto.getTalles|length > 0%}
						<div class="agregar-carrito-container">
							{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
								{% if available_stock > 0 %}
									{{ form_label(form.cantidad) }}
									<div class="inline">
									{{ form_widget(form.cantidad, {attr:{'class':'cantidad'}}) }}
									</div>
									<div class="cantidad-arrows inline">
										<div class="arrow-up"></div>
										<div class="arrow-down"></div>
									</div>
									<div>
										<button class="agregar-carritoDetalle">COMPRAR</button>
									</div>
								{% else %}
									<span class="no-stock">Producto Sin Stock</span>
									{% do form.cantidad.setRendered %}
								{% endif %}
							{{ form_end(form) }}
						</div>
                        {% endif %}
						<div class="costo-envio-container">
							<p class="title">Calculá el costo de envío</p>
							{{ form_start(form_cotizar_envio, {'attr': {'novalidate': 'novalidate', 'class':'cotizar-envio-form'}}) }}
							{{form_row(form_cotizar_envio.provincia, {'attr':{'class':'provincia'}})}}
							<div class="inline">
								{{form_row(form_cotizar_envio.codigoPostal, {'attr':{'class':'codigo-postal inline'}})}}
							</div>
							<div class="button-container inline">
								<input type="submit" class="consultar blue-button" value="Consultar" class="blue-button" />
							</div>
							{{ form_end(form_cotizar_envio) }}
							<div class="cotizaciones"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="sobre-este-producto">Sobre este Producto:</p>
					<div class="descripcion">
						{{ producto.descripcion|nl2br }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
			        {{ render(controller('AppBundle:Frontend/Productos:tambienPuedeInteresarte',{'producto_id': producto.id } )) }}
				</div>
			</div>
		</div>
	</div>
    <input id='precioFacebook' type='hidden' value='{{precioFacebook}}'/>
    <input id='productName' type='hidden' value='{{producto.getNombre}}'/>
    <input id='productSKU' type='hidden' value='{{producto.codigoSku}}'/>

{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        {% if precioFacebook is not defined%}    
            {% set precioFacebook = producto.precio|number_format(2) %}
            {% set precioFacebookFinal = precioFacebook|replace({',': ''})%}
        {% endif %}
            fbq('track', 'View Product', {
                'value' : "{{ precioFacebookFinal }}", 
                'currency' : 'ARS',
                'content_name': "{{ producto.getNombre }}",
                'content_type': 'product',
                'content_ids': '{{ producto.codigoSku }}', 
            });
            ga('send', 'event', 'View Product', 'Acceso a vista de producto', '');

    </script>
    <script type="text/javascript" src="{{ asset('js/frontend/producto/detalle.js') }}"></script>
{% endblock %}

