{% extends 'frontend/layout.html.twig' %}

{% block main %}
	{% if categoria is defined and categoria.imagen %}
		<img src="{{vich_uploader_asset(categoria.imagen, 'imagen_archivo')}}" style="width:100%;">
	{% endif %}
	{% if personaje is defined and personaje.imagenBanner %}
		<img src="{{vich_uploader_asset(personaje, 'imagen_banner_archivo')}}" style="width:100%;">
	{% endif %}
	{% if genero is defined and genero.imagenBanner %}
		<img src="{{vich_uploader_asset(genero, 'imagen_banner_archivo')}}" style="width:100%;">
	{% endif %}
	{# if is_sale is defined and is_sale #}
    {# <img src="{{asset( 'img/sale-banner.jpg' )}}" style="width:100%;"> #}
	{# endif #}
	<div class="container productos-container">
		<div class="row">
			<div class="col-md-3 filtros">
                {%if categoria is defined %} 
                    {{ include('frontend/productos/common/producto_filtros.html.twig', { 'form': form_filter, 'categoria' : categoria }) }}
                {% else %}
                    {{ include('frontend/productos/common/producto_filtros.html.twig', { 'form': form_filter }) }}
                {% endif %}
			</div>
			<div class="col-md-9">
				<div class="listado">
					{{ include('frontend/productos/common/producto_listado.html.twig', { 'pagination': pagination }) }}
				</div>
			</div>
		</div>
	</div>


{% endblock %}


{% block javascripts %}
		<script type="text/javascript">
			var ajax_path = "{{ajax_path}}";
		</script>
		<script type="text/javascript" src="{{ asset('js/frontend/producto/scroll.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('js/frontend/producto/listado.js') }}"></script>
{% endblock %}
